

--####################################################
--ORCHARD ROCK DEVELOPMENT - Sync User Table
--
--Table: Usr_OR_RESI_ENT_Bank_Accounts
--Date: 2020.11.23
--####################################################



------------------------------------------------------
--CREATE TABLE IF DOES NOT EXIST
------------------------------------------------------

--If table does not exist already then create it and add an entry in Mp_Sys_TableDef
IF OBJECT_ID('dbo.Usr_OR_RESI_ENT_Bank_Accounts','U') IS NULL
BEGIN
	--Create an entry in Mp_Sys_TableDef

	INSERT INTO Mp_Sys_TableDef (ID, InternalName, ExternalName,Type,MaxRecords,NextRowID,NextItem,ReadLock,WriteLock,System,Designable)
	SELECT (SELECT MAX(ID) + 1 FROM (SELECT MAX(ID) ID FROM Mp_Sys_TableDef UNION SELECT MAX(ID) ID FROM Mp_Sys_FieldDef UNION SELECT MAX(ID) ID FROM Mp_Sys_Views) MaxID), 'Usr_OR_RESI_ENT_Bank_Accounts', 'OR RESI ENT Bank Accounts',0,0,NULL,0,0,0,0,1

	--Create an entry in Mp_Sys_TableDef
	UPDATE Ac_Magic_Nos SET Mp_Item_no = (SELECT MAX(ID) FROM (SELECT MAX(ID) ID FROM Mp_Sys_TableDef UNION SELECT MAX(ID) ID FROM Mp_Sys_FieldDef UNION SELECT MAX(ID) ID FROM Mp_Sys_Views) MaxID)



	--Create the table
	CREATE TABLE dbo.Usr_OR_RESI_ENT_Bank_Accounts
(
       [ID] [INT] NOT NULL IDENTITY(1,1)
    , [EntityRef] [VARCHAR](15) NOT NULL
    , [SortCode] [VARBINARY](113) NULL
    , [AccountName] [VARBINARY](213) NULL
    , [AccountNo] [VARBINARY](113) NULL
    , [BACSRef] [VARBINARY](113) NULL
    , [IBAN] [VARBINARY](113) NULL
    , [BIC] [VARBINARY](113) NULL
    , [Status] [VARCHAR](30) NULL
    , [Date_Authorised] [DATETIME] NULL
    , [Authorised_By] [VARCHAR](100) NULL
    , [Created_By] [VARCHAR](100) NULL
    , [Date_Created] [DATETIME] NULL
    , [AccountID] [INT] NULL
    , [Updated_By] [VARCHAR](100) NULL
    , [Date_Updated] [DATETIME] NULL
    , [Notes] [VARCHAR](500) NULL
    , [Action] [VARCHAR](30) NULL  
    	, CONSTRAINT [PK_Usr_OR_RESI_ENT_Bank_Accounts] PRIMARY KEY NONCLUSTERED ([ID])
);
END

------------------------------------------------------
--CREATE COPY OF NEW TABLE
------------------------------------------------------
IF OBJECT_ID('dbo.Usr_OR_RESI_ENT_Bank_Accounts_NewVersion','U') IS NOT NULL
BEGIN
	DROP TABLE Usr_OR_RESI_ENT_Bank_Accounts_NewVersion
END

--Create a copy of the new the table.  This is used to compare against for changes
CREATE TABLE dbo.Usr_OR_RESI_ENT_Bank_Accounts_NewVersion
(
       [ID] [INT] NOT NULL IDENTITY(1,1)
    , [EntityRef] [VARCHAR](15) NOT NULL
    , [SortCode] [VARBINARY](113) NULL
    , [AccountName] [VARBINARY](213) NULL
    , [AccountNo] [VARBINARY](113) NULL
    , [BACSRef] [VARBINARY](113) NULL
    , [IBAN] [VARBINARY](113) NULL
    , [BIC] [VARBINARY](113) NULL
    , [Status] [VARCHAR](30) NULL
    , [Date_Authorised] [DATETIME] NULL
    , [Authorised_By] [VARCHAR](100) NULL
    , [Created_By] [VARCHAR](100) NULL
    , [Date_Created] [DATETIME] NULL
    , [AccountID] [INT] NULL
    , [Updated_By] [VARCHAR](100) NULL
    , [Date_Updated] [DATETIME] NULL
    , [Notes] [VARCHAR](500) NULL
    , [Action] [VARCHAR](30) NULL  
    	, CONSTRAINT [PK_Usr_OR_RESI_ENT_Bank_Accounts_NewVersion] PRIMARY KEY NONCLUSTERED ([ID])
);



------------------------------------------------------
--INSERT NEW FIELDS (ONLY) INTO FIELD DEFINITION TABLE
--
--Note: each INSERT query checks if already exists and 
--		only inserts if new to the table
------------------------------------------------------
INSERT INTO Mp_Sys_FieldDef (ID, [TableRef],[InternalFieldName],[ExternalFieldName],[SQLTypeRef],[DefaultValue],[Size],[EntityTypeRef],[ReadLock],[WriteLock],[Validation],[Mandatory],[System],[Designable],[ContextHelp],[Tooltip],[Visible],[Computed]) SELECT (SELECT MAX(ID) + 1 FROM (SELECT MAX(ID) ID FROM Mp_Sys_TableDef UNION SELECT MAX(ID) ID FROM Mp_Sys_FieldDef) MaxID), (SELECT ID from Mp_Sys_TableDef where InternalName = 'Usr_OR_RESI_ENT_Bank_Accounts'),'Status','Status',12,'',30,0,0,0,'',0,0,1,'','',1,0 WHERE 'Status' NOT IN (SELECT InternalFieldName FROM Mp_Sys_FieldDef WHERE TableRef = (SELECT ID from Mp_Sys_TableDef where InternalName = 'Usr_OR_RESI_ENT_Bank_Accounts'))
INSERT INTO Mp_Sys_FieldDef (ID, [TableRef],[InternalFieldName],[ExternalFieldName],[SQLTypeRef],[DefaultValue],[Size],[EntityTypeRef],[ReadLock],[WriteLock],[Validation],[Mandatory],[System],[Designable],[ContextHelp],[Tooltip],[Visible],[Computed]) SELECT (SELECT MAX(ID) + 1 FROM (SELECT MAX(ID) ID FROM Mp_Sys_TableDef UNION SELECT MAX(ID) ID FROM Mp_Sys_FieldDef) MaxID), (SELECT ID from Mp_Sys_TableDef where InternalName = 'Usr_OR_RESI_ENT_Bank_Accounts'),'Date_Authorised','Date Authorised',91,'',0,0,0,0,'',0,0,1,'','',1,0 WHERE 'Date_Authorised' NOT IN (SELECT InternalFieldName FROM Mp_Sys_FieldDef WHERE TableRef = (SELECT ID from Mp_Sys_TableDef where InternalName = 'Usr_OR_RESI_ENT_Bank_Accounts'))
INSERT INTO Mp_Sys_FieldDef (ID, [TableRef],[InternalFieldName],[ExternalFieldName],[SQLTypeRef],[DefaultValue],[Size],[EntityTypeRef],[ReadLock],[WriteLock],[Validation],[Mandatory],[System],[Designable],[ContextHelp],[Tooltip],[Visible],[Computed]) SELECT (SELECT MAX(ID) + 1 FROM (SELECT MAX(ID) ID FROM Mp_Sys_TableDef UNION SELECT MAX(ID) ID FROM Mp_Sys_FieldDef) MaxID), (SELECT ID from Mp_Sys_TableDef where InternalName = 'Usr_OR_RESI_ENT_Bank_Accounts'),'Authorised_By','Authorised By',12,'',100,0,0,0,'',0,0,1,'','',1,0 WHERE 'Authorised_By' NOT IN (SELECT InternalFieldName FROM Mp_Sys_FieldDef WHERE TableRef = (SELECT ID from Mp_Sys_TableDef where InternalName = 'Usr_OR_RESI_ENT_Bank_Accounts'))
INSERT INTO Mp_Sys_FieldDef (ID, [TableRef],[InternalFieldName],[ExternalFieldName],[SQLTypeRef],[DefaultValue],[Size],[EntityTypeRef],[ReadLock],[WriteLock],[Validation],[Mandatory],[System],[Designable],[ContextHelp],[Tooltip],[Visible],[Computed]) SELECT (SELECT MAX(ID) + 1 FROM (SELECT MAX(ID) ID FROM Mp_Sys_TableDef UNION SELECT MAX(ID) ID FROM Mp_Sys_FieldDef) MaxID), (SELECT ID from Mp_Sys_TableDef where InternalName = 'Usr_OR_RESI_ENT_Bank_Accounts'),'Created_By','Created By',12,'',100,0,0,0,'',0,0,1,'','',1,0 WHERE 'Created_By' NOT IN (SELECT InternalFieldName FROM Mp_Sys_FieldDef WHERE TableRef = (SELECT ID from Mp_Sys_TableDef where InternalName = 'Usr_OR_RESI_ENT_Bank_Accounts'))
INSERT INTO Mp_Sys_FieldDef (ID, [TableRef],[InternalFieldName],[ExternalFieldName],[SQLTypeRef],[DefaultValue],[Size],[EntityTypeRef],[ReadLock],[WriteLock],[Validation],[Mandatory],[System],[Designable],[ContextHelp],[Tooltip],[Visible],[Computed]) SELECT (SELECT MAX(ID) + 1 FROM (SELECT MAX(ID) ID FROM Mp_Sys_TableDef UNION SELECT MAX(ID) ID FROM Mp_Sys_FieldDef) MaxID), (SELECT ID from Mp_Sys_TableDef where InternalName = 'Usr_OR_RESI_ENT_Bank_Accounts'),'Date_Created','Date Created',91,'',0,0,0,0,'',0,0,1,'','',1,0 WHERE 'Date_Created' NOT IN (SELECT InternalFieldName FROM Mp_Sys_FieldDef WHERE TableRef = (SELECT ID from Mp_Sys_TableDef where InternalName = 'Usr_OR_RESI_ENT_Bank_Accounts'))
INSERT INTO Mp_Sys_FieldDef (ID, [TableRef],[InternalFieldName],[ExternalFieldName],[SQLTypeRef],[DefaultValue],[Size],[EntityTypeRef],[ReadLock],[WriteLock],[Validation],[Mandatory],[System],[Designable],[ContextHelp],[Tooltip],[Visible],[Computed]) SELECT (SELECT MAX(ID) + 1 FROM (SELECT MAX(ID) ID FROM Mp_Sys_TableDef UNION SELECT MAX(ID) ID FROM Mp_Sys_FieldDef) MaxID), (SELECT ID from Mp_Sys_TableDef where InternalName = 'Usr_OR_RESI_ENT_Bank_Accounts'),'AccountID','AccountID',4,'',0,0,0,0,'',0,0,1,'','',1,0 WHERE 'AccountID' NOT IN (SELECT InternalFieldName FROM Mp_Sys_FieldDef WHERE TableRef = (SELECT ID from Mp_Sys_TableDef where InternalName = 'Usr_OR_RESI_ENT_Bank_Accounts'))
INSERT INTO Mp_Sys_FieldDef (ID, [TableRef],[InternalFieldName],[ExternalFieldName],[SQLTypeRef],[DefaultValue],[Size],[EntityTypeRef],[ReadLock],[WriteLock],[Validation],[Mandatory],[System],[Designable],[ContextHelp],[Tooltip],[Visible],[Computed]) SELECT (SELECT MAX(ID) + 1 FROM (SELECT MAX(ID) ID FROM Mp_Sys_TableDef UNION SELECT MAX(ID) ID FROM Mp_Sys_FieldDef) MaxID), (SELECT ID from Mp_Sys_TableDef where InternalName = 'Usr_OR_RESI_ENT_Bank_Accounts'),'Action','Action',12,'',30,0,0,0,'',0,0,1,'','',1,0 WHERE 'Action' NOT IN (SELECT InternalFieldName FROM Mp_Sys_FieldDef WHERE TableRef = (SELECT ID from Mp_Sys_TableDef where InternalName = 'Usr_OR_RESI_ENT_Bank_Accounts'))
INSERT INTO Mp_Sys_FieldDef (ID, [TableRef],[InternalFieldName],[ExternalFieldName],[SQLTypeRef],[DefaultValue],[Size],[EntityTypeRef],[ReadLock],[WriteLock],[Validation],[Mandatory],[System],[Designable],[ContextHelp],[Tooltip],[Visible],[Computed]) SELECT (SELECT MAX(ID) + 1 FROM (SELECT MAX(ID) ID FROM Mp_Sys_TableDef UNION SELECT MAX(ID) ID FROM Mp_Sys_FieldDef) MaxID), (SELECT ID from Mp_Sys_TableDef where InternalName = 'Usr_OR_RESI_ENT_Bank_Accounts'),'SortCode','SortCode',13,'',100,0,0,0,'',0,0,1,'','',1,0 WHERE 'SortCode' NOT IN (SELECT InternalFieldName FROM Mp_Sys_FieldDef WHERE TableRef = (SELECT ID from Mp_Sys_TableDef where InternalName = 'Usr_OR_RESI_ENT_Bank_Accounts'))
INSERT INTO Mp_Sys_FieldDef (ID, [TableRef],[InternalFieldName],[ExternalFieldName],[SQLTypeRef],[DefaultValue],[Size],[EntityTypeRef],[ReadLock],[WriteLock],[Validation],[Mandatory],[System],[Designable],[ContextHelp],[Tooltip],[Visible],[Computed]) SELECT (SELECT MAX(ID) + 1 FROM (SELECT MAX(ID) ID FROM Mp_Sys_TableDef UNION SELECT MAX(ID) ID FROM Mp_Sys_FieldDef) MaxID), (SELECT ID from Mp_Sys_TableDef where InternalName = 'Usr_OR_RESI_ENT_Bank_Accounts'),'AccountName','AccountName',13,'',200,0,0,0,'',0,0,1,'','',1,0 WHERE 'AccountName' NOT IN (SELECT InternalFieldName FROM Mp_Sys_FieldDef WHERE TableRef = (SELECT ID from Mp_Sys_TableDef where InternalName = 'Usr_OR_RESI_ENT_Bank_Accounts'))
INSERT INTO Mp_Sys_FieldDef (ID, [TableRef],[InternalFieldName],[ExternalFieldName],[SQLTypeRef],[DefaultValue],[Size],[EntityTypeRef],[ReadLock],[WriteLock],[Validation],[Mandatory],[System],[Designable],[ContextHelp],[Tooltip],[Visible],[Computed]) SELECT (SELECT MAX(ID) + 1 FROM (SELECT MAX(ID) ID FROM Mp_Sys_TableDef UNION SELECT MAX(ID) ID FROM Mp_Sys_FieldDef) MaxID), (SELECT ID from Mp_Sys_TableDef where InternalName = 'Usr_OR_RESI_ENT_Bank_Accounts'),'AccountNo','AccountNo',13,'',100,0,0,0,'',0,0,1,'','',1,0 WHERE 'AccountNo' NOT IN (SELECT InternalFieldName FROM Mp_Sys_FieldDef WHERE TableRef = (SELECT ID from Mp_Sys_TableDef where InternalName = 'Usr_OR_RESI_ENT_Bank_Accounts'))
INSERT INTO Mp_Sys_FieldDef (ID, [TableRef],[InternalFieldName],[ExternalFieldName],[SQLTypeRef],[DefaultValue],[Size],[EntityTypeRef],[ReadLock],[WriteLock],[Validation],[Mandatory],[System],[Designable],[ContextHelp],[Tooltip],[Visible],[Computed]) SELECT (SELECT MAX(ID) + 1 FROM (SELECT MAX(ID) ID FROM Mp_Sys_TableDef UNION SELECT MAX(ID) ID FROM Mp_Sys_FieldDef) MaxID), (SELECT ID from Mp_Sys_TableDef where InternalName = 'Usr_OR_RESI_ENT_Bank_Accounts'),'BACSRef','BACSRef',13,'',100,0,0,0,'',0,0,1,'','',1,0 WHERE 'BACSRef' NOT IN (SELECT InternalFieldName FROM Mp_Sys_FieldDef WHERE TableRef = (SELECT ID from Mp_Sys_TableDef where InternalName = 'Usr_OR_RESI_ENT_Bank_Accounts'))
INSERT INTO Mp_Sys_FieldDef (ID, [TableRef],[InternalFieldName],[ExternalFieldName],[SQLTypeRef],[DefaultValue],[Size],[EntityTypeRef],[ReadLock],[WriteLock],[Validation],[Mandatory],[System],[Designable],[ContextHelp],[Tooltip],[Visible],[Computed]) SELECT (SELECT MAX(ID) + 1 FROM (SELECT MAX(ID) ID FROM Mp_Sys_TableDef UNION SELECT MAX(ID) ID FROM Mp_Sys_FieldDef) MaxID), (SELECT ID from Mp_Sys_TableDef where InternalName = 'Usr_OR_RESI_ENT_Bank_Accounts'),'IBAN','IBAN',13,'',100,0,0,0,'',0,0,1,'','',1,0 WHERE 'IBAN' NOT IN (SELECT InternalFieldName FROM Mp_Sys_FieldDef WHERE TableRef = (SELECT ID from Mp_Sys_TableDef where InternalName = 'Usr_OR_RESI_ENT_Bank_Accounts'))
INSERT INTO Mp_Sys_FieldDef (ID, [TableRef],[InternalFieldName],[ExternalFieldName],[SQLTypeRef],[DefaultValue],[Size],[EntityTypeRef],[ReadLock],[WriteLock],[Validation],[Mandatory],[System],[Designable],[ContextHelp],[Tooltip],[Visible],[Computed]) SELECT (SELECT MAX(ID) + 1 FROM (SELECT MAX(ID) ID FROM Mp_Sys_TableDef UNION SELECT MAX(ID) ID FROM Mp_Sys_FieldDef) MaxID), (SELECT ID from Mp_Sys_TableDef where InternalName = 'Usr_OR_RESI_ENT_Bank_Accounts'),'BIC','BIC',13,'',100,0,0,0,'',0,0,1,'','',1,0 WHERE 'BIC' NOT IN (SELECT InternalFieldName FROM Mp_Sys_FieldDef WHERE TableRef = (SELECT ID from Mp_Sys_TableDef where InternalName = 'Usr_OR_RESI_ENT_Bank_Accounts'))
INSERT INTO Mp_Sys_FieldDef (ID, [TableRef],[InternalFieldName],[ExternalFieldName],[SQLTypeRef],[DefaultValue],[Size],[EntityTypeRef],[ReadLock],[WriteLock],[Validation],[Mandatory],[System],[Designable],[ContextHelp],[Tooltip],[Visible],[Computed]) SELECT (SELECT MAX(ID) + 1 FROM (SELECT MAX(ID) ID FROM Mp_Sys_TableDef UNION SELECT MAX(ID) ID FROM Mp_Sys_FieldDef) MaxID), (SELECT ID from Mp_Sys_TableDef where InternalName = 'Usr_OR_RESI_ENT_Bank_Accounts'),'Updated_By','Updated By',12,'',100,0,0,0,'',0,0,1,'','',1,0 WHERE 'Updated_By' NOT IN (SELECT InternalFieldName FROM Mp_Sys_FieldDef WHERE TableRef = (SELECT ID from Mp_Sys_TableDef where InternalName = 'Usr_OR_RESI_ENT_Bank_Accounts'))
INSERT INTO Mp_Sys_FieldDef (ID, [TableRef],[InternalFieldName],[ExternalFieldName],[SQLTypeRef],[DefaultValue],[Size],[EntityTypeRef],[ReadLock],[WriteLock],[Validation],[Mandatory],[System],[Designable],[ContextHelp],[Tooltip],[Visible],[Computed]) SELECT (SELECT MAX(ID) + 1 FROM (SELECT MAX(ID) ID FROM Mp_Sys_TableDef UNION SELECT MAX(ID) ID FROM Mp_Sys_FieldDef) MaxID), (SELECT ID from Mp_Sys_TableDef where InternalName = 'Usr_OR_RESI_ENT_Bank_Accounts'),'Date_Updated','Date Updated',91,'',0,0,0,0,'',0,0,1,'','',1,0 WHERE 'Date_Updated' NOT IN (SELECT InternalFieldName FROM Mp_Sys_FieldDef WHERE TableRef = (SELECT ID from Mp_Sys_TableDef where InternalName = 'Usr_OR_RESI_ENT_Bank_Accounts'))
INSERT INTO Mp_Sys_FieldDef (ID, [TableRef],[InternalFieldName],[ExternalFieldName],[SQLTypeRef],[DefaultValue],[Size],[EntityTypeRef],[ReadLock],[WriteLock],[Validation],[Mandatory],[System],[Designable],[ContextHelp],[Tooltip],[Visible],[Computed]) SELECT (SELECT MAX(ID) + 1 FROM (SELECT MAX(ID) ID FROM Mp_Sys_TableDef UNION SELECT MAX(ID) ID FROM Mp_Sys_FieldDef) MaxID), (SELECT ID from Mp_Sys_TableDef where InternalName = 'Usr_OR_RESI_ENT_Bank_Accounts'),'Notes','Notes',12,'',500,0,0,0,'',0,0,1,'','',1,0 WHERE 'Notes' NOT IN (SELECT InternalFieldName FROM Mp_Sys_FieldDef WHERE TableRef = (SELECT ID from Mp_Sys_TableDef where InternalName = 'Usr_OR_RESI_ENT_Bank_Accounts'))
--Update Magic Numbers table, this keeps track of latest ID value in Mp_Sys tables
UPDATE Ac_Magic_Nos SET Mp_Item_no = (SELECT MAX(ID) FROM (SELECT MAX(ID) ID FROM Mp_Sys_TableDef UNION SELECT MAX(ID) ID FROM Mp_Sys_FieldDef) MaxID)




------------------------------------------------------
--FINALLY, ALTER USER TABLE WITH NEW FIELDS
--
--Note: This only applies to tables that already existed but
--		where new fields are to be added.  It is done last 
--		as it was required for comparisson against new table
------------------------------------------------------
DECLARE @object_id INT
SELECT @object_id = [object_id] FROM (SELECT [object_id] = OBJECT_ID('dbo.Usr_OR_RESI_ENT_Bank_Accounts_NewVersion', 'U')) o
DECLARE @CRLF varchar(10)
SELECT @CRLF = Char(13) + char(10)
DECLARE @SQL_Alter varchar(MAX) = ''
SELECT @SQL_Alter = @CRLF + ' ALTER TABLE Usr_OR_RESI_ENT_Bank_Accounts' + @CRLF + 'ADD ' + STUFF((    	SELECT @CRLF + '    ,  [' + c.name + '] ' +        	CASE WHEN c.is_computed = 1            	THEN 'AS ' + OBJECT_DEFINITION(c.[object_id], c.column_id)            	ELSE                	CASE WHEN c.system_type_id != c.user_type_id                    	THEN '[' + SCHEMA_NAME(tp.[schema_id]) + '].[' + tp.name + ']'                    	ELSE '[' + UPPER(tp.name) + ']'                	END  +                   	CASE                       	WHEN tp.name IN ('varchar', 'char', 'varbinary', 'binary')                        	THEN '(' + CASE WHEN c.max_length = -1                                           	THEN 'MAX'                                        	ELSE CAST(c.max_length AS VARCHAR(5))                                    	END + ')'                    	WHEN tp.name IN ('nvarchar', 'nchar')                        	THEN '(' + CASE WHEN c.max_length = -1                                        	THEN 'MAX'                                        	ELSE CAST(c.max_length / 2 AS VARCHAR(5))                                    	END + ')'                    	WHEN tp.name IN ('datetime2', 'time2', 'datetimeoffset')                        	THEN '(' + CAST(c.scale AS VARCHAR(5)) + ')'                    	WHEN tp.name IN ('decimal','numeric')                        	THEN '(' + CAST(c.[precision] AS VARCHAR(5)) + ',' + CAST(c.scale AS VARCHAR(5)) + ')'                    	ELSE ''                	END +                  	CASE WHEN c.collation_name IS NOT NULL AND c.system_type_id = c.user_type_id                    	THEN ''                    	ELSE ''                	END +                  	CASE WHEN c.is_nullable = 1                    	THEN ' NULL'                    	ELSE ' NOT NULL'                	END +                 	CASE WHEN c.default_object_id != 0                    	THEN ' CONSTRAINT [' + REPLACE(OBJECT_NAME(c.default_object_id),'_NewVersion','') + ']' +                         	 ' DEFAULT ' + OBJECT_DEFINITION(c.default_object_id)                    	ELSE ''                	END +                   	CASE WHEN cc.[object_id] IS NOT NULL                    	THEN ' CONSTRAINT [' + cc.name + '] CHECK ' + cc.[definition]                    	ELSE ''                	END +                  	CASE WHEN c.is_identity = 1                    	THEN ' IDENTITY(' + CAST(IDENTITYPROPERTY(c.[object_id], 'SeedValue') AS VARCHAR(5)) + ',' +                                    	CAST(IDENTITYPROPERTY(c.[object_id], 'IncrementValue') AS VARCHAR(5)) + ')'                    	ELSE ''                	END           	END      	FROM (SELECT * FROM sys.columns WHERE [Object_ID] = (SELECT [object_id] FROM sys.tables WHERE Name = 'Usr_OR_RESI_ENT_Bank_Accounts_NewVersion'))  c		LEFT OUTER JOIN (SELECT Name FROM sys.columns WHERE [Object_ID] = (SELECT [object_id] FROM sys.tables WHERE Name = 'Usr_OR_RESI_ENT_Bank_Accounts')) LiveTable ON c.name = LiveTable.name		JOIN sys.types tp WITH(NOLOCK) ON c.user_type_id = tp.user_type_id    	LEFT JOIN sys.check_constraints cc WITH(NOLOCK)            	 ON c.[object_id] = cc.parent_object_id           	AND cc.parent_column_id = c.column_id      	WHERE c.[object_id] = @object_id  		AND LiveTable.name IS NULL    	ORDER BY c.column_id      	FOR XML PATH(''), TYPE).value('.', 'NVARCHAR(MAX)'), 1, 7, '      ')
IF @SQL_Alter IS NOT NULL
BEGIN
        EXEC(@SQL_Alter)
END
------------------------------------------------------
--REMOVE COPY OF NEW TABLE
------------------------------------------------------
IF OBJECT_ID('dbo.Usr_OR_RESI_ENT_Bank_Accounts_NewVersion','U') IS NOT NULL
BEGIN
	DROP TABLE Usr_OR_RESI_ENT_Bank_Accounts_NewVersion
END


