

--####################################################
--ORCHARD ROCK DEVELOPMENT - Sync User Table
--
--Table: Usr_OR_RESI_MT_Bank_Accounts
--Date: 2020.11.23
--####################################################





------------------------------------------------------
--INSERT NEW FIELDS (ONLY) INTO FIELD DEFINITION TABLE
--
--Note: each INSERT query checks if already exists and 
--		only inserts if new to the table
------------------------------------------------------
--Update Magic Numbers table, this keeps track of latest ID value in Mp_Sys tables
UPDATE Ac_Magic_Nos SET Mp_Item_no = (SELECT MAX(ID) FROM (SELECT MAX(ID) ID FROM Mp_Sys_TableDef UNION SELECT MAX(ID) ID FROM Mp_Sys_FieldDef) MaxID)




------------------------------------------------------
--FINALLY, ALTER USER TABLE WITH NEW FIELDS
--
--Note: This only applies to tables that already existed but
--		where new fields are to be added.  It is done last 
--		as it was required for comparisson against new table
------------------------------------------------------
DECLARE @object_id INT
SELECT @object_id = [object_id] FROM (SELECT [object_id] = OBJECT_ID('dbo.Usr_OR_RESI_MT_Bank_Accounts_NewVersion', 'U')) o
DECLARE @CRLF varchar(10)
SELECT @CRLF = Char(13) + char(10)
DECLARE @SQL_Alter varchar(MAX) = ''
SELECT @SQL_Alter = @CRLF + ' ALTER TABLE Usr_OR_RESI_MT_Bank_Accounts' + @CRLF + 'ADD ' + STUFF((    	SELECT @CRLF + '    ,  [' + c.name + '] ' +        	CASE WHEN c.is_computed = 1            	THEN 'AS ' + OBJECT_DEFINITION(c.[object_id], c.column_id)            	ELSE                	CASE WHEN c.system_type_id != c.user_type_id                    	THEN '[' + SCHEMA_NAME(tp.[schema_id]) + '].[' + tp.name + ']'                    	ELSE '[' + UPPER(tp.name) + ']'                	END  +                   	CASE                       	WHEN tp.name IN ('varchar', 'char', 'varbinary', 'binary')                        	THEN '(' + CASE WHEN c.max_length = -1                                           	THEN 'MAX'                                        	ELSE CAST(c.max_length AS VARCHAR(5))                                    	END + ')'                    	WHEN tp.name IN ('nvarchar', 'nchar')                        	THEN '(' + CASE WHEN c.max_length = -1                                        	THEN 'MAX'                                        	ELSE CAST(c.max_length / 2 AS VARCHAR(5))                                    	END + ')'                    	WHEN tp.name IN ('datetime2', 'time2', 'datetimeoffset')                        	THEN '(' + CAST(c.scale AS VARCHAR(5)) + ')'                    	WHEN tp.name IN ('decimal','numeric')                        	THEN '(' + CAST(c.[precision] AS VARCHAR(5)) + ',' + CAST(c.scale AS VARCHAR(5)) + ')'                    	ELSE ''                	END +                  	CASE WHEN c.collation_name IS NOT NULL AND c.system_type_id = c.user_type_id                    	THEN ''                    	ELSE ''                	END +                  	CASE WHEN c.is_nullable = 1                    	THEN ' NULL'                    	ELSE ' NOT NULL'                	END +                 	CASE WHEN c.default_object_id != 0                    	THEN ' CONSTRAINT [' + REPLACE(OBJECT_NAME(c.default_object_id),'_NewVersion','') + ']' +                         	 ' DEFAULT ' + OBJECT_DEFINITION(c.default_object_id)                    	ELSE ''                	END +                   	CASE WHEN cc.[object_id] IS NOT NULL                    	THEN ' CONSTRAINT [' + cc.name + '] CHECK ' + cc.[definition]                    	ELSE ''                	END +                  	CASE WHEN c.is_identity = 1                    	THEN ' IDENTITY(' + CAST(IDENTITYPROPERTY(c.[object_id], 'SeedValue') AS VARCHAR(5)) + ',' +                                    	CAST(IDENTITYPROPERTY(c.[object_id], 'IncrementValue') AS VARCHAR(5)) + ')'                    	ELSE ''                	END           	END      	FROM (SELECT * FROM sys.columns WHERE [Object_ID] = (SELECT [object_id] FROM sys.tables WHERE Name = 'Usr_OR_RESI_MT_Bank_Accounts_NewVersion'))  c		LEFT OUTER JOIN (SELECT Name FROM sys.columns WHERE [Object_ID] = (SELECT [object_id] FROM sys.tables WHERE Name = 'Usr_OR_RESI_MT_Bank_Accounts')) LiveTable ON c.name = LiveTable.name		JOIN sys.types tp WITH(NOLOCK) ON c.user_type_id = tp.user_type_id    	LEFT JOIN sys.check_constraints cc WITH(NOLOCK)            	 ON c.[object_id] = cc.parent_object_id           	AND cc.parent_column_id = c.column_id      	WHERE c.[object_id] = @object_id  		AND LiveTable.name IS NULL    	ORDER BY c.column_id      	FOR XML PATH(''), TYPE).value('.', 'NVARCHAR(MAX)'), 1, 7, '      ')
IF @SQL_Alter IS NOT NULL
BEGIN
        EXEC(@SQL_Alter)
END
------------------------------------------------------
--REMOVE COPY OF NEW TABLE
------------------------------------------------------
IF OBJECT_ID('dbo.Usr_OR_RESI_MT_Bank_Accounts_NewVersion','U') IS NOT NULL
BEGIN
	DROP TABLE Usr_OR_RESI_MT_Bank_Accounts_NewVersion
END


