
<div class="modal-body">
    <div class="info-text">@((MarkupString)InfoText)</div>
</div>
<div class="modal-footer">
    <div class="container-fluid ">
        <div class="row">
            <div class="col-6 text-left">
                <button type="button" data-dismiss="modal" @onclick="@Close" class="btn btn-secondary">Close</button>
            </div>
        </div>
    </div>
</div>

