
<EditForm Model="@TaskObject" OnValidSubmit="@HandleValidSubmit">
    <div class="modal-body">

        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group">
            @foreach (var a in Assignments.Where(A => A.WorkType.DepartmentId == TaskObject.group.ParentId))
            {
                <div>
                    <InputCheckbox @bind-Value="a.IsAssigned"></InputCheckbox><span class="pl-2">@a.WorkType.TypeName</span>
                </div>
            }
        </div>


        <div class="modal-footer">
            <div class="container-fluid ">
                <div class="row">

                    <div class="col-6 text-left">

                    </div>

                    <div class="col-6 text-right">
                        <button type="submit" class="float-left btn btn-alt">Save</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</EditForm>