<EditForm Model="@TaskObject" OnValidSubmit="@HandleValidSubmit">
    <div class="modal-body">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group">
            <label for="@TaskObject.DepartmentName">Department Name</label>
            <InputText class="form-control" @bind-Value="TaskObject.DepartmentName"></InputText>
        </div>

    </div>
    <div class="button-container">
        <button type="submit" class="btn btn-main">Save</button>
        <button type="button" data-dismiss="modal" @onclick="@Close" class="btn btn-secondary">Cancel</button>
    </div>
</EditForm>