/****** Object:  StoredProcedure [dbo].[up_OR_Import_Invoices_Validate_Staging_Table]    Script Date: 24/01/2020 12:07:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
-- =============================================
-- Author:		Jordan duggan (Orchard Rock Development Ltd)
-- CREATE date: 01/10/2019
-- Description:	Procedure that does basic validation checks on data in the staging table
				updates the valid column with a description of the error if one is encountered

-- Test:		exec up_OR_Import_Invoices_Validate_Staging_Table 'EntityAdditionalTypes'
				SELECT valid,EntityAdditionalTypes FROM Usr_OR_Import_Invoice_Columns
-- =============================================
*/
ALTER PROCEDURE [dbo].[up_OR_Import_Invoices_Validate_Staging_Table]
(
@Field VARCHAR(50)
,@PotentialNewValue VARCHAR(500)
)
AS
BEGIN

	SET LANGUAGE english; 

	SET DATEFORMAT DMY


	UPDATE Usr_OR_Import_Invoice_Columns SET Validation_Status = 'Valid'


	UPDATE Usr_OR_Import_Invoice_Columns SET Validation_Status = 'Invalid:Test'
	WHERE ((Supplier_Name = 'Test' AND @PotentialNewValue = '')
	OR (@PotentialNewValue = 'Test' AND @PotentialNewValue <> ''))
	AND (@Field = 'All'
		OR @Field = 'Supplier_Name')

	UPDATE Usr_OR_Import_Invoice_Columns SET Validation_Status = 'Invalid:There must be a vendor'
	WHERE ((Supplier_Name IS NULL OR Supplier_Name = '' OR (@PotentialNewValue = '' AND @Field = 'Supplier_Name')))
	AND (@Field = 'All'
		OR @Field = 'Supplier_Name')


	UPDATE Usr_OR_Import_Invoice_Columns SET Validation_Status = 'Invalid:Vendor does not exist'
	WHERE ((NOT EXISTS (SELECT * FROM Entities e
							INNER JOIN Entities_Supplier s on s.EntityRef = e.Code
												WHERE (Name = Supplier_Name 
													OR LegalName = Supplier_Name
													OR EnvelopeName = Supplier_Name 
													OR Code = Supplier_Name
													OR ShortCode = Supplier_Name))
			AND @PotentialNewValue = '')
	OR (NOT EXISTS (SELECT * FROM Entities e
						INNER JOIN Entities_Supplier s on s.EntityRef = e.Code
									 WHERE (Name = @PotentialNewValue 
													OR LegalName = @PotentialNewValue
													OR EnvelopeName = @PotentialNewValue 
													OR Code = @PotentialNewValue
													OR ShortCode = @PotentialNewValue))
			AND @PotentialNewValue <> ''))
	AND (@Field = 'All'
		OR @Field = 'Supplier_Name') 

	UPDATE Usr_OR_Import_Invoice_Columns SET Validation_Status = 'Invalid:Code Too Large'
	WHERE ((LEN(Supplier_Name) > 50 AND Supplier_Name IS NOT NULL AND @PotentialNewValue = '')
	OR (LEN(@PotentialNewValue) > 50 AND @PotentialNewValue IS NOT NULL AND @PotentialNewValue <> ''))
	AND (@Field = 'All'
		OR @Field = 'Supplier_Name') 

	--UPDATE Usr_OR_Import_Invoice_Columns SET Validation_Status = 'Invalid:Invoice_Date must be a date'
	--WHERE ((TRY_CONVERT(date,Invoice_Date,101) IS NULL AND Invoice_Date IS NOT NULL AND @PotentialNewValue = '')
	--OR (TRY_CONVERT(date,@PotentialNewValue,101) IS NULL AND @PotentialNewValue IS NOT NULL AND @PotentialNewValue <> ''))
	--AND (@Field = 'All'
	--	OR @Field = 'Invoice_Date') 

	UPDATE Usr_OR_Import_Invoice_Columns SET Validation_Status = 'Invalid:Invoice_Date must be a date'
	WHERE ((ISDATE(Invoice_Date) = 0 AND Invoice_Date IS NOT NULL AND @PotentialNewValue = '')
	OR ((ISDATE(@PotentialNewValue) = 0 OR @PotentialNewValue NOT LIKE '[0-3][0-9]/[0-1][0-9]/[1-2][0-9][0-9][0-9]') AND @PotentialNewValue IS NOT NULL AND @PotentialNewValue <> ''))
	AND (@Field = 'All'
		OR @Field = 'Invoice_Date') 

	UPDATE Usr_OR_Import_Invoice_Columns SET Validation_Status = 'Invalid:There must be an invoice_date'
	WHERE (Invoice_Date = '' OR Invoice_Date IS NULL OR (@PotentialNewValue = '' AND @Field = 'Invoice_Date'))
	AND (@Field = 'All'
		OR @Field = 'Invoice_Date') 

	UPDATE Usr_OR_Import_Invoice_Columns SET Validation_Status = 'Invalid:Invoice_Number Already Exists'
	WHERE ((EXISTS (SELECT * FROM Ac_Posting_Slips_PL WHERE SuppliersReference = Invoice_Number)
			AND Invoice_Number IS NOT NULL AND @PotentialNewValue = '')
	OR (EXISTS (SELECT * FROM Ac_Posting_Slips_PL WHERE SuppliersReference = @PotentialNewValue)
			AND @PotentialNewValue IS NOT NULL AND @PotentialNewValue <> ''))
	AND (@Field = 'All'
		OR @Field = 'Invoice_Number') 

	UPDATE Usr_OR_Import_Invoice_Columns SET Validation_Status = 'Invalid:There must be an Invoice_Number'
	WHERE (Invoice_Number = '' or Invoice_Number IS NULL OR (@PotentialNewValue = '' AND @Field = 'Invoice_Number'))
	AND (@Field = 'All'
		OR @Field = 'Invoice_Number') 	

	UPDATE Usr_OR_Import_Invoice_Columns SET Validation_Status = 'Invalid:Subtotal Too Large'
	WHERE ((LEN(Subtotal) > 50 AND Subtotal IS NOT NULL AND @PotentialNewValue = '')
	OR (LEN(@PotentialNewValue) > 50 AND @PotentialNewValue IS NOT NULL AND @PotentialNewValue <> ''))
	AND (@Field = 'All'
		OR @Field = 'Subtotal') 

	UPDATE Usr_OR_Import_Invoice_Columns SET Validation_Status = 'Invalid:There must be a Subtotal'
	WHERE (Subtotal = '' OR Subtotal IS NULL OR (@PotentialNewValue = '' AND @Field = 'Subtotal'))
	AND (@Field = 'All'
		OR @Field = 'Subtotal') 

	UPDATE Usr_OR_Import_Invoice_Columns SET Validation_Status = 'Invalid:Subtotal Must be numeric'
	WHERE ((ISNUMERIC(Subtotal) = 0 AND Subtotal IS NOT NULL AND @PotentialNewValue = '')
	OR (ISNUMERIC(@PotentialNewValue) = 0 AND @PotentialNewValue IS NOT NULL AND @PotentialNewValue <> ''))
	AND (@Field = 'All'
		OR @Field = 'Subtotal') 

	UPDATE Usr_OR_Import_Invoice_Columns SET Validation_Status = 'Invalid:Tax Too Large'
	WHERE ((LEN(Tax) > 50 AND Tax IS NOT NULL AND @PotentialNewValue = '')
	OR (LEN(@PotentialNewValue) > 50 AND @PotentialNewValue IS NOT NULL AND @PotentialNewValue <> ''))
	AND (@Field = 'All'
		OR @Field = 'Tax')

	UPDATE Usr_OR_Import_Invoice_Columns SET Validation_Status = 'Invalid:There must be a Tax'
	WHERE (Tax = '' OR Tax IS NULL OR (@PotentialNewValue = '' AND @Field = 'Tax'))
	AND (@Field = 'All'
		OR @Field = 'Tax') 

	UPDATE Usr_OR_Import_Invoice_Columns SET Validation_Status = 'Invalid:Tax must be numeric'
	WHERE ((ISNUMERIC(Tax) = 0 AND Tax IS NOT NULL AND @PotentialNewValue = '')
	OR (ISNUMERIC(@PotentialNewValue) = 0 AND @PotentialNewValue IS NOT NULL AND @PotentialNewValue <> ''))
	AND (@Field = 'All'
		OR @Field = 'Tax') 

	UPDATE Usr_OR_Import_Invoice_Columns SET Validation_Status = 'Invalid:Shipping must be numeric'
	WHERE ((ISNUMERIC(Shipping) = 0 AND Shipping IS NOT NULL AND @PotentialNewValue = '')
	OR (ISNUMERIC(@PotentialNewValue) = 0 AND @PotentialNewValue IS NOT NULL AND @PotentialNewValue <> ''))
	AND (@Field = 'All'
		OR @Field = 'Shipping') 

	UPDATE Usr_OR_Import_Invoice_Columns SET Validation_Status = 'Invalid:There must be an Amount'
	WHERE (Amount = '' OR Amount IS NULL OR (@PotentialNewValue = '' AND @Field = 'Amount'))
	AND (@Field = 'All'
		OR @Field = 'Amount') 

	UPDATE Usr_OR_Import_Invoice_Columns SET Validation_Status = 'Invalid:Amount must be numeric'
	WHERE ((ISNUMERIC(Amount) = 0 AND Amount IS NOT NULL AND @PotentialNewValue = '')
	OR (ISNUMERIC(@PotentialNewValue) = 0 AND @PotentialNewValue IS NOT NULL AND @PotentialNewValue <> ''))
	AND (@Field = 'All'
		OR @Field = 'Amount')

	UPDATE Usr_OR_Import_Invoice_Columns SET Validation_Status = 'Invalid:Nominal Too Large'
	WHERE ((LEN(Nominal) > 50 AND Nominal IS NOT NULL AND @PotentialNewValue = '')
	OR (LEN(@PotentialNewValue) > 50 AND @PotentialNewValue IS NOT NULL AND @PotentialNewValue <> ''))
	AND (@Field = 'All'
		OR @Field = 'Nominal') 

	UPDATE Usr_OR_Import_Invoice_Columns SET Validation_Status = 'Invalid:Nominal Does Not Exist'
	WHERE ((NOT EXISTS (SELECT Code FROM Ac_NL_Chart_of_Accounts WHERE Code = Nominal) AND Nominal IS NOT NULL AND @PotentialNewValue = '')
	OR (NOT EXISTS (SELECT Code FROM Ac_NL_Chart_of_Accounts WHERE Code = @PotentialNewValue) AND @PotentialNewValue IS NOT NULL AND @PotentialNewValue <> ''))
	AND (@Field = 'All'
		OR @Field = 'Nominal')
	AND (EntityMatterNo IS NOT NULL OR EntityMatterNo <> '') 

	UPDATE Usr_OR_Import_Invoice_Columns SET Validation_Status = 'Invalid:MatterNo Too Large'
	WHERE ((LEN(EntityMatterNo) > 50 AND EntityMatterNo IS NOT NULL AND @PotentialNewValue = '')
	OR (LEN(@PotentialNewValue) > 50 AND @PotentialNewValue IS NOT NULL AND @PotentialNewValue <> ''))
	AND (@Field = 'All'
		OR @Field = 'EntityMatterNo') 

	UPDATE Usr_OR_Import_Invoice_Columns SET Validation_Status = 'Invalid:Entity Does Not Exist'
	WHERE ((EntityMatterNo IS NOT NULL AND EntityMatterNo <> '' AND @PotentialNewValue = '')
	OR (@PotentialNewValue IS NOT NULL AND @PotentialNewValue <> ''))
	AND ((NOT EXISTS (SELECT * FROM Entities WHERE ShortCode = (SELECT Part
			FROM fn_OR_SplitString(EntityMatterNo,'.')
			WHERE rowNum = 1)) AND @PotentialNewValue = '')
	OR(NOT EXISTS (SELECT * FROM Entities WHERE ShortCode = (SELECT Part
			FROM fn_OR_SplitString(@PotentialNewValue,'.')
			WHERE rowNum = 1)) AND @PotentialNewValue <> '')
	)
	AND (@Field = 'All'
		OR @Field = 'EntityMatterNo') 

	UPDATE Usr_OR_Import_Invoice_Columns SET Validation_Status = 'Invalid:Description Too Large'
	WHERE ((LEN(Description) > 200 AND Description IS NOT NULL AND @PotentialNewValue = '')
	OR (LEN(@PotentialNewValue) > 200 AND @PotentialNewValue IS NOT NULL AND @PotentialNewValue <> ''))
	AND (@Field = 'All'
		OR @Field = 'Description') 

	UPDATE Usr_OR_Import_Invoice_Columns SET Validation_Status = 'Invalid:There must be a Description'
	WHERE (Description = '' OR Description IS NULL OR (@PotentialNewValue = '' AND @Field = 'Description'))
	AND (@Field = 'All'
		OR @Field = 'Description') 

	UPDATE Usr_OR_Import_Invoice_Columns SET Validation_Status = 'Invalid:There must be a Quantity'
	WHERE (Quantity = '' OR Quantity IS NULL OR (@PotentialNewValue = '' AND @Field = 'Quantity'))
	AND (@Field = 'All'
		OR @Field = 'Quantity')

	UPDATE Usr_OR_Import_Invoice_Columns SET Validation_Status = 'Invalid:Quantity Must be an integer'
	WHERE ((Quantity LIKE '%[^0-9]%' AND Quantity IS NOT NULL AND @PotentialNewValue = '')
	OR (@PotentialNewValue LIKE '%[^0-9]%' AND @PotentialNewValue IS NOT NULL AND @PotentialNewValue <> ''))
	AND (@Field = 'All'
		OR @Field = 'Quantity') 


	UPDATE Usr_OR_Import_Invoice_Columns SET Validation_Status = 'Invalid:Cost Too Large'
	WHERE ((LEN(Cost) > 50 AND Cost IS NOT NULL AND @PotentialNewValue = '')
	OR (LEN(@PotentialNewValue) > 50 AND @PotentialNewValue IS NOT NULL AND @PotentialNewValue <> ''))
	AND (@Field = 'All'
		OR @Field = 'Cost') 

	UPDATE Usr_OR_Import_Invoice_Columns SET Validation_Status = 'Invalid:There must be a Cost'
	WHERE (Cost = '' OR Cost IS NULL OR (@PotentialNewValue = '' AND @Field = 'Cost'))
	AND (@Field = 'All'
		OR @Field = 'Cost') 

	UPDATE Usr_OR_Import_Invoice_Columns SET Validation_Status = 'Invalid:There must be a Branch'
	WHERE (Branch = '' OR Branch IS NULL OR (@PotentialNewValue = '' AND @Field = 'Branch'))
	AND (@Field = 'All'
		OR @Field = 'Branch') 

	UPDATE Usr_OR_Import_Invoice_Columns SET Validation_Status = 'Invalid:Branch Does Not Exist'
	WHERE ((NOT EXISTS (SELECT * FROM Branches WHERE Description = Branch) AND @PotentialNewValue = '')
	OR (NOT EXISTS (SELECT * FROM Branches WHERE Description = @PotentialNewValue) AND @PotentialNewValue <> ''))
	AND (@Field = 'All'
		OR @Field = 'Branch') 

	UPDATE Usr_OR_Import_Invoice_Columns SET Validation_Status = 'Invalid:Cost Must be numeric'
	WHERE ((ISNUMERIC(Cost) = 0 AND Cost IS NOT NULL AND @PotentialNewValue = '')
	OR (ISNUMERIC(@PotentialNewValue) = 0 AND @PotentialNewValue IS NOT NULL AND @PotentialNewValue <> ''))
	AND (@Field = 'All'
		OR @Field = 'Cost') 

	UPDATE Usr_OR_Import_Invoice_Columns SET Validation_Status = 'Invalid:Total_Amount_Due Too Large'
	WHERE ((LEN(Total_Amount_Due) > 50 AND Total_Amount_Due IS NOT NULL AND @PotentialNewValue = '')
	OR (LEN(@PotentialNewValue) > 50 AND @PotentialNewValue IS NOT NULL AND @PotentialNewValue <> ''))
	AND (@Field = 'All'
		OR @Field = 'Total_Amount_Due') 

	UPDATE Usr_OR_Import_Invoice_Columns SET Validation_Status = 'Invalid:There must be an Total_Amount_Due'
	WHERE (Total_Amount_Due = '' OR Total_Amount_Due IS NULL OR (@PotentialNewValue = '' AND @Field = 'Total_Amount_Due'))
	AND (@Field = 'All'
		OR @Field = 'Total_Amount_Due') 

	UPDATE Usr_OR_Import_Invoice_Columns SET Validation_Status = 'Invalid:Total_Amount_Due Must be numeric'
	WHERE ((ISNUMERIC(Total_Amount_Due) = 0 AND Total_Amount_Due IS NOT NULL AND @PotentialNewValue = '')
	OR (ISNUMERIC(@PotentialNewValue) = 0 AND @PotentialNewValue IS NOT NULL AND @PotentialNewValue <> ''))
	AND (@Field = 'All'
		OR @Field = 'Total_Amount_Due') 


	DECLARE @RowID INT
	DECLARE @Ref VARCHAR(100)
	
	DECLARE curSameRef CURSOR FOR 
	SELECT 
    ID
	FROM Usr_OR_Import_Invoice_Columns
	
	OPEN curSameRef  
	FETCH NEXT FROM curSameRef INTO @RowID
	
	WHILE @@FETCH_STATUS = 0  
	BEGIN  
		SELECT @Ref = Invoice_Number
		FROM Usr_OR_Import_Invoice_Columns
		WHERE ID = @RowID
	
		UPDATE Usr_OR_Import_Invoice_Columns SET Validation_Status = 'Invalid:ALL Invoices with the same Ref.No must be valid'
		WHERE EXISTS (SELECT * FROM Usr_OR_Import_Invoice_Columns WHERE Invoice_Number = @Ref AND Validation_Status like '%Invalid%' AND ID <> @RowID)
		AND Validation_Status = 'Valid'
		AND @Field = 'All'
		AND ID = @RowID
		
		FETCH NEXT FROM curSameRef INTO @RowID
	END 
	CLOSE curSameRef  
	DEALLOCATE curSameRef 
	
	

END
