@inject IJSRuntime jsRuntime

<div class="modal" tabindex="-1" role="dialog" id="GroupModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Work Type Group</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <EditForm Model="@TaskObject" OnValidSubmit="@HandleValidSubmit">
                    <DataAnnotationsValidator />
                    <ValidationSummary />

                    <div class="form-group">
                        <label for="@TaskObject.group.GroupName">Group Name</label>
                        <InputText @bind-Value="TaskObject.group.GroupName"></InputText>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

                    @if (!(TaskObject is null))
                    {
                        <button type="button" @onclick="HandleValidDelete" class="btn btn-secondary"></button>
                    }


                </EditForm>
            </div>
        </div>
    </div>
</div>