@inject IJSRuntime jsRuntime

<div class="modal" tabindex="-1" role="dialog" id="TypeModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <EditForm Model="@TaskObject" OnValidSubmit="@HandleValidSubmit">
                    <DataAnnotationsValidator />
                    <ValidationSummary />

                    <div class="form-group">
                        <label for="@TaskObject.workType.TypeName"></label>
                        <InputText @bind-Value="TaskObject.workType.TypeName"></InputText>
                    </div>

                    <div class="form-group">
                        <div class="container-fluid">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 p-2">
                                @if (Groups is null)
                                {
                                    <div class="spinner"></div>
                                }
                                else
                                {
                                    @foreach (var group in Groups)
                                    {
                                        <label>@group.WorkTypeGroup.GroupName</label><InputCheckbox @bind-Value="group.IsAssigned"></InputCheckbox>
                                    }
                                }
                            </div>
                        </div>
                    </div>


                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

                    @if (!(TaskObject.workType.TypeName is null))
                    {
                        <button type="button" @onclick="HandleValidDelete" class="btn btn-secondary"></button>
                    }


                </EditForm>
            </div>
        </div>
    </div>
</div>