@page "/accounts"

<div class="tran-block page-header-block">
    <h1>Accounts</h1>
    Manage accounts.
</div>

<div class="main-nav">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="card">
                    <a href="accounts/companyaccounts">
                        <div class="card-header bg-alt"><span class="fa fa-users-cog fa-2x card-icon"></span>Company Accounts</div>
                        <div class="card-body">
                            <p class="card-text">Manage Accounts For Users.</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
