

--####################################################
--ORCHARD ROCK DEVELOPMENT - Sync User Table
--
--Table: Usr_OR_RESI_MT_Other_Occupiers
--Date: 2020.11.24
--####################################################



------------------------------------------------------
--CREATE TABLE IF DOES NOT EXIST
------------------------------------------------------

--If table does not exist already then create it and add an entry in Mp_Sys_TableDef
IF OBJECT_ID('dbo.Usr_OR_RESI_MT_Other_Occupiers','U') IS NULL
BEGIN
	--Create an entry in Mp_Sys_TableDef

	INSERT INTO Mp_Sys_TableDef (ID, InternalName, ExternalName,Type,MaxRecords,NextRowID,NextItem,ReadLock,WriteLock,System,Designable)
	SELECT (SELECT MAX(ID) + 1 FROM (SELECT MAX(ID) ID FROM Mp_Sys_TableDef UNION SELECT MAX(ID) ID FROM Mp_Sys_FieldDef UNION SELECT MAX(ID) ID FROM Mp_Sys_Views) MaxID), 'Usr_OR_RESI_MT_Other_Occupiers', 'OR RESI MT Other Occupiers',1,0,0,0,0,0,0,1

	--Create an entry in Mp_Sys_TableDef
	UPDATE Ac_Magic_Nos SET Mp_Item_no = (SELECT MAX(ID) FROM (SELECT MAX(ID) ID FROM Mp_Sys_TableDef UNION SELECT MAX(ID) ID FROM Mp_Sys_FieldDef UNION SELECT MAX(ID) ID FROM Mp_Sys_Views) MaxID)



	--Create the table
	CREATE TABLE dbo.Usr_OR_RESI_MT_Other_Occupiers
(
       [ID] [INT] NOT NULL IDENTITY(1,1)
    , [EntityRef] [VARCHAR](15) NOT NULL
    , [MatterNo] [INT] NOT NULL
    , [Relationship] [VARCHAR](50) NULL
    , [Age] [INT] NULL
    , [Name] [VARCHAR](50) NULL
    , [AwaitingStepID] [INT] NULL
    , [LetterStepID] [INT] NULL
    , [Title] [VARCHAR](4) NULL
    , [Forename] [VARCHAR](200) NULL
    , [Surname] [VARCHAR](200) NULL
    , [Status] [VARCHAR](10) NULL
    , [Address1] [VARCHAR](200) NULL
    , [Address2] [VARCHAR](200) NULL
    , [Address3] [VARCHAR](200) NULL
    , [Address4] [VARCHAR](200) NULL
    , [Postcode] [VARCHAR](8) NULL
    , [Requires_Waiver] [VARCHAR](1) NULL
    , [Date_of_Birth] [DATETIME] NULL
    , [Address5] [VARCHAR](200) NULL
    , [Form_Status] [VARCHAR](50) NULL  
    	, CONSTRAINT [Pk_1471_Usr_Q_Other_Occupiers] PRIMARY KEY NONCLUSTERED ([ID])
);
END

------------------------------------------------------
--CREATE COPY OF NEW TABLE
------------------------------------------------------
IF OBJECT_ID('dbo.Usr_OR_RESI_MT_Other_Occupiers_NewVersion','U') IS NOT NULL
BEGIN
	DROP TABLE Usr_OR_RESI_MT_Other_Occupiers_NewVersion
END

--Create a copy of the new the table.  This is used to compare against for changes
CREATE TABLE dbo.Usr_OR_RESI_MT_Other_Occupiers_NewVersion
(
       [ID] [INT] NOT NULL IDENTITY(1,1)
    , [EntityRef] [VARCHAR](15) NOT NULL
    , [MatterNo] [INT] NOT NULL
    , [Relationship] [VARCHAR](50) NULL
    , [Age] [INT] NULL
    , [Name] [VARCHAR](50) NULL
    , [AwaitingStepID] [INT] NULL
    , [LetterStepID] [INT] NULL
    , [Title] [VARCHAR](4) NULL
    , [Forename] [VARCHAR](200) NULL
    , [Surname] [VARCHAR](200) NULL
    , [Status] [VARCHAR](10) NULL
    , [Address1] [VARCHAR](200) NULL
    , [Address2] [VARCHAR](200) NULL
    , [Address3] [VARCHAR](200) NULL
    , [Address4] [VARCHAR](200) NULL
    , [Postcode] [VARCHAR](8) NULL
    , [Requires_Waiver] [VARCHAR](1) NULL
    , [Date_of_Birth] [DATETIME] NULL
    , [Address5] [VARCHAR](200) NULL
    , [Form_Status] [VARCHAR](50) NULL  
    	, CONSTRAINT [Pk_1471_Usr_Q_Other_Occupiers_NewVersion] PRIMARY KEY NONCLUSTERED ([ID])
);



------------------------------------------------------
--INSERT NEW FIELDS (ONLY) INTO FIELD DEFINITION TABLE
--
--Note: each INSERT query checks if already exists and 
--		only inserts if new to the table
------------------------------------------------------
INSERT INTO Mp_Sys_FieldDef (ID, [TableRef],[InternalFieldName],[ExternalFieldName],[SQLTypeRef],[DefaultValue],[Size],[EntityTypeRef],[ReadLock],[WriteLock],[Validation],[Mandatory],[System],[Designable],[ContextHelp],[Tooltip],[Visible],[Computed]) SELECT (SELECT MAX(ID) + 1 FROM (SELECT MAX(ID) ID FROM Mp_Sys_TableDef UNION SELECT MAX(ID) ID FROM Mp_Sys_FieldDef) MaxID), (SELECT ID from Mp_Sys_TableDef where InternalName = 'Usr_OR_RESI_MT_Other_Occupiers'),'Address1','Address1',12,'',200,0,0,0,'',0,0,1,'','Usr_OR_RESI_MT_Other_Occupiers.Address1',1,0 WHERE 'Address1' NOT IN (SELECT InternalFieldName FROM Mp_Sys_FieldDef WHERE TableRef = (SELECT ID from Mp_Sys_TableDef where InternalName = 'Usr_OR_RESI_MT_Other_Occupiers'))
INSERT INTO Mp_Sys_FieldDef (ID, [TableRef],[InternalFieldName],[ExternalFieldName],[SQLTypeRef],[DefaultValue],[Size],[EntityTypeRef],[ReadLock],[WriteLock],[Validation],[Mandatory],[System],[Designable],[ContextHelp],[Tooltip],[Visible],[Computed]) SELECT (SELECT MAX(ID) + 1 FROM (SELECT MAX(ID) ID FROM Mp_Sys_TableDef UNION SELECT MAX(ID) ID FROM Mp_Sys_FieldDef) MaxID), (SELECT ID from Mp_Sys_TableDef where InternalName = 'Usr_OR_RESI_MT_Other_Occupiers'),'Address2','Address2',12,'',200,0,0,0,'',0,0,1,'','Usr_OR_RESI_MT_Other_Occupiers.Address2',1,0 WHERE 'Address2' NOT IN (SELECT InternalFieldName FROM Mp_Sys_FieldDef WHERE TableRef = (SELECT ID from Mp_Sys_TableDef where InternalName = 'Usr_OR_RESI_MT_Other_Occupiers'))
INSERT INTO Mp_Sys_FieldDef (ID, [TableRef],[InternalFieldName],[ExternalFieldName],[SQLTypeRef],[DefaultValue],[Size],[EntityTypeRef],[ReadLock],[WriteLock],[Validation],[Mandatory],[System],[Designable],[ContextHelp],[Tooltip],[Visible],[Computed]) SELECT (SELECT MAX(ID) + 1 FROM (SELECT MAX(ID) ID FROM Mp_Sys_TableDef UNION SELECT MAX(ID) ID FROM Mp_Sys_FieldDef) MaxID), (SELECT ID from Mp_Sys_TableDef where InternalName = 'Usr_OR_RESI_MT_Other_Occupiers'),'Address3','Address3',12,'',200,0,0,0,'',0,0,1,'','Usr_OR_RESI_MT_Other_Occupiers.Address3',1,0 WHERE 'Address3' NOT IN (SELECT InternalFieldName FROM Mp_Sys_FieldDef WHERE TableRef = (SELECT ID from Mp_Sys_TableDef where InternalName = 'Usr_OR_RESI_MT_Other_Occupiers'))
INSERT INTO Mp_Sys_FieldDef (ID, [TableRef],[InternalFieldName],[ExternalFieldName],[SQLTypeRef],[DefaultValue],[Size],[EntityTypeRef],[ReadLock],[WriteLock],[Validation],[Mandatory],[System],[Designable],[ContextHelp],[Tooltip],[Visible],[Computed]) SELECT (SELECT MAX(ID) + 1 FROM (SELECT MAX(ID) ID FROM Mp_Sys_TableDef UNION SELECT MAX(ID) ID FROM Mp_Sys_FieldDef) MaxID), (SELECT ID from Mp_Sys_TableDef where InternalName = 'Usr_OR_RESI_MT_Other_Occupiers'),'Address4','Address4',12,'',200,0,0,0,'',0,0,1,'','Usr_OR_RESI_MT_Other_Occupiers.Address4',1,0 WHERE 'Address4' NOT IN (SELECT InternalFieldName FROM Mp_Sys_FieldDef WHERE TableRef = (SELECT ID from Mp_Sys_TableDef where InternalName = 'Usr_OR_RESI_MT_Other_Occupiers'))
INSERT INTO Mp_Sys_FieldDef (ID, [TableRef],[InternalFieldName],[ExternalFieldName],[SQLTypeRef],[DefaultValue],[Size],[EntityTypeRef],[ReadLock],[WriteLock],[Validation],[Mandatory],[System],[Designable],[ContextHelp],[Tooltip],[Visible],[Computed]) SELECT (SELECT MAX(ID) + 1 FROM (SELECT MAX(ID) ID FROM Mp_Sys_TableDef UNION SELECT MAX(ID) ID FROM Mp_Sys_FieldDef) MaxID), (SELECT ID from Mp_Sys_TableDef where InternalName = 'Usr_OR_RESI_MT_Other_Occupiers'),'Postcode','Postcode',12,'',8,0,0,0,'',0,0,1,'','Usr_OR_RESI_MT_Other_Occupiers.Postcode',1,0 WHERE 'Postcode' NOT IN (SELECT InternalFieldName FROM Mp_Sys_FieldDef WHERE TableRef = (SELECT ID from Mp_Sys_TableDef where InternalName = 'Usr_OR_RESI_MT_Other_Occupiers'))
INSERT INTO Mp_Sys_FieldDef (ID, [TableRef],[InternalFieldName],[ExternalFieldName],[SQLTypeRef],[DefaultValue],[Size],[EntityTypeRef],[ReadLock],[WriteLock],[Validation],[Mandatory],[System],[Designable],[ContextHelp],[Tooltip],[Visible],[Computed]) SELECT (SELECT MAX(ID) + 1 FROM (SELECT MAX(ID) ID FROM Mp_Sys_TableDef UNION SELECT MAX(ID) ID FROM Mp_Sys_FieldDef) MaxID), (SELECT ID from Mp_Sys_TableDef where InternalName = 'Usr_OR_RESI_MT_Other_Occupiers'),'Form_Status','Form Status',12,'',50,0,0,0,'',0,0,1,'','',1,0 WHERE 'Form_Status' NOT IN (SELECT InternalFieldName FROM Mp_Sys_FieldDef WHERE TableRef = (SELECT ID from Mp_Sys_TableDef where InternalName = 'Usr_OR_RESI_MT_Other_Occupiers'))
INSERT INTO Mp_Sys_FieldDef (ID, [TableRef],[InternalFieldName],[ExternalFieldName],[SQLTypeRef],[DefaultValue],[Size],[EntityTypeRef],[ReadLock],[WriteLock],[Validation],[Mandatory],[System],[Designable],[ContextHelp],[Tooltip],[Visible],[Computed]) SELECT (SELECT MAX(ID) + 1 FROM (SELECT MAX(ID) ID FROM Mp_Sys_TableDef UNION SELECT MAX(ID) ID FROM Mp_Sys_FieldDef) MaxID), (SELECT ID from Mp_Sys_TableDef where InternalName = 'Usr_OR_RESI_MT_Other_Occupiers'),'Address5','Address5',12,'',200,0,0,0,'',0,0,1,'','',1,0 WHERE 'Address5' NOT IN (SELECT InternalFieldName FROM Mp_Sys_FieldDef WHERE TableRef = (SELECT ID from Mp_Sys_TableDef where InternalName = 'Usr_OR_RESI_MT_Other_Occupiers'))
INSERT INTO Mp_Sys_FieldDef (ID, [TableRef],[InternalFieldName],[ExternalFieldName],[SQLTypeRef],[DefaultValue],[Size],[EntityTypeRef],[ReadLock],[WriteLock],[Validation],[Mandatory],[System],[Designable],[ContextHelp],[Tooltip],[Visible],[Computed]) SELECT (SELECT MAX(ID) + 1 FROM (SELECT MAX(ID) ID FROM Mp_Sys_TableDef UNION SELECT MAX(ID) ID FROM Mp_Sys_FieldDef) MaxID), (SELECT ID from Mp_Sys_TableDef where InternalName = 'Usr_OR_RESI_MT_Other_Occupiers'),'Title','Title',95,'',4,0,0,0,'',0,0,1,'','Usr_OR_RESI_MT_Other_Occupiers.Title',1,0 WHERE 'Title' NOT IN (SELECT InternalFieldName FROM Mp_Sys_FieldDef WHERE TableRef = (SELECT ID from Mp_Sys_TableDef where InternalName = 'Usr_OR_RESI_MT_Other_Occupiers'))
INSERT INTO Mp_Sys_FieldDef (ID, [TableRef],[InternalFieldName],[ExternalFieldName],[SQLTypeRef],[DefaultValue],[Size],[EntityTypeRef],[ReadLock],[WriteLock],[Validation],[Mandatory],[System],[Designable],[ContextHelp],[Tooltip],[Visible],[Computed]) SELECT (SELECT MAX(ID) + 1 FROM (SELECT MAX(ID) ID FROM Mp_Sys_TableDef UNION SELECT MAX(ID) ID FROM Mp_Sys_FieldDef) MaxID), (SELECT ID from Mp_Sys_TableDef where InternalName = 'Usr_OR_RESI_MT_Other_Occupiers'),'Forename','Forename',12,'',200,0,0,0,'',0,0,1,'','Usr_OR_RESI_MT_Other_Occupiers.Forename',1,0 WHERE 'Forename' NOT IN (SELECT InternalFieldName FROM Mp_Sys_FieldDef WHERE TableRef = (SELECT ID from Mp_Sys_TableDef where InternalName = 'Usr_OR_RESI_MT_Other_Occupiers'))
INSERT INTO Mp_Sys_FieldDef (ID, [TableRef],[InternalFieldName],[ExternalFieldName],[SQLTypeRef],[DefaultValue],[Size],[EntityTypeRef],[ReadLock],[WriteLock],[Validation],[Mandatory],[System],[Designable],[ContextHelp],[Tooltip],[Visible],[Computed]) SELECT (SELECT MAX(ID) + 1 FROM (SELECT MAX(ID) ID FROM Mp_Sys_TableDef UNION SELECT MAX(ID) ID FROM Mp_Sys_FieldDef) MaxID), (SELECT ID from Mp_Sys_TableDef where InternalName = 'Usr_OR_RESI_MT_Other_Occupiers'),'Surname','Surname',12,'',200,0,0,0,'',0,0,1,'','Usr_OR_RESI_MT_Other_Occupiers.Surname',1,0 WHERE 'Surname' NOT IN (SELECT InternalFieldName FROM Mp_Sys_FieldDef WHERE TableRef = (SELECT ID from Mp_Sys_TableDef where InternalName = 'Usr_OR_RESI_MT_Other_Occupiers'))
INSERT INTO Mp_Sys_FieldDef (ID, [TableRef],[InternalFieldName],[ExternalFieldName],[SQLTypeRef],[DefaultValue],[Size],[EntityTypeRef],[ReadLock],[WriteLock],[Validation],[Mandatory],[System],[Designable],[ContextHelp],[Tooltip],[Visible],[Computed]) SELECT (SELECT MAX(ID) + 1 FROM (SELECT MAX(ID) ID FROM Mp_Sys_TableDef UNION SELECT MAX(ID) ID FROM Mp_Sys_FieldDef) MaxID), (SELECT ID from Mp_Sys_TableDef where InternalName = 'Usr_OR_RESI_MT_Other_Occupiers'),'Status','Status',12,'',10,0,0,0,'',0,0,1,'','Usr_OR_RESI_MT_Other_Occupiers.Status',1,0 WHERE 'Status' NOT IN (SELECT InternalFieldName FROM Mp_Sys_FieldDef WHERE TableRef = (SELECT ID from Mp_Sys_TableDef where InternalName = 'Usr_OR_RESI_MT_Other_Occupiers'))
INSERT INTO Mp_Sys_FieldDef (ID, [TableRef],[InternalFieldName],[ExternalFieldName],[SQLTypeRef],[DefaultValue],[Size],[EntityTypeRef],[ReadLock],[WriteLock],[Validation],[Mandatory],[System],[Designable],[ContextHelp],[Tooltip],[Visible],[Computed]) SELECT (SELECT MAX(ID) + 1 FROM (SELECT MAX(ID) ID FROM Mp_Sys_TableDef UNION SELECT MAX(ID) ID FROM Mp_Sys_FieldDef) MaxID), (SELECT ID from Mp_Sys_TableDef where InternalName = 'Usr_OR_RESI_MT_Other_Occupiers'),'Requires_Waiver','Requires Waiver',96,'N',1,0,0,0,'',0,0,1,'','Usr_OR_RESI_MT_Other_Occupiers.Requires_Waiver',1,0 WHERE 'Requires_Waiver' NOT IN (SELECT InternalFieldName FROM Mp_Sys_FieldDef WHERE TableRef = (SELECT ID from Mp_Sys_TableDef where InternalName = 'Usr_OR_RESI_MT_Other_Occupiers'))
INSERT INTO Mp_Sys_FieldDef (ID, [TableRef],[InternalFieldName],[ExternalFieldName],[SQLTypeRef],[DefaultValue],[Size],[EntityTypeRef],[ReadLock],[WriteLock],[Validation],[Mandatory],[System],[Designable],[ContextHelp],[Tooltip],[Visible],[Computed]) SELECT (SELECT MAX(ID) + 1 FROM (SELECT MAX(ID) ID FROM Mp_Sys_TableDef UNION SELECT MAX(ID) ID FROM Mp_Sys_FieldDef) MaxID), (SELECT ID from Mp_Sys_TableDef where InternalName = 'Usr_OR_RESI_MT_Other_Occupiers'),'Date_of_Birth','Date of Birth',91,'',0,0,0,0,'',0,0,1,'','Usr_OR_RESI_MT_Other_Occupiers.Date_of_Birth',1,0 WHERE 'Date_of_Birth' NOT IN (SELECT InternalFieldName FROM Mp_Sys_FieldDef WHERE TableRef = (SELECT ID from Mp_Sys_TableDef where InternalName = 'Usr_OR_RESI_MT_Other_Occupiers'))
INSERT INTO Mp_Sys_FieldDef (ID, [TableRef],[InternalFieldName],[ExternalFieldName],[SQLTypeRef],[DefaultValue],[Size],[EntityTypeRef],[ReadLock],[WriteLock],[Validation],[Mandatory],[System],[Designable],[ContextHelp],[Tooltip],[Visible],[Computed]) SELECT (SELECT MAX(ID) + 1 FROM (SELECT MAX(ID) ID FROM Mp_Sys_TableDef UNION SELECT MAX(ID) ID FROM Mp_Sys_FieldDef) MaxID), (SELECT ID from Mp_Sys_TableDef where InternalName = 'Usr_OR_RESI_MT_Other_Occupiers'),'Relationship','Relationship',12,'',50,0,0,0,'',0,0,1,'','Usr_OR_RESI_MT_Other_Occupiers.Relationship',1,0 WHERE 'Relationship' NOT IN (SELECT InternalFieldName FROM Mp_Sys_FieldDef WHERE TableRef = (SELECT ID from Mp_Sys_TableDef where InternalName = 'Usr_OR_RESI_MT_Other_Occupiers'))
INSERT INTO Mp_Sys_FieldDef (ID, [TableRef],[InternalFieldName],[ExternalFieldName],[SQLTypeRef],[DefaultValue],[Size],[EntityTypeRef],[ReadLock],[WriteLock],[Validation],[Mandatory],[System],[Designable],[ContextHelp],[Tooltip],[Visible],[Computed]) SELECT (SELECT MAX(ID) + 1 FROM (SELECT MAX(ID) ID FROM Mp_Sys_TableDef UNION SELECT MAX(ID) ID FROM Mp_Sys_FieldDef) MaxID), (SELECT ID from Mp_Sys_TableDef where InternalName = 'Usr_OR_RESI_MT_Other_Occupiers'),'Age','Age',4,'',0,0,0,0,'',0,0,1,'','Usr_OR_RESI_MT_Other_Occupiers.Age',1,0 WHERE 'Age' NOT IN (SELECT InternalFieldName FROM Mp_Sys_FieldDef WHERE TableRef = (SELECT ID from Mp_Sys_TableDef where InternalName = 'Usr_OR_RESI_MT_Other_Occupiers'))
INSERT INTO Mp_Sys_FieldDef (ID, [TableRef],[InternalFieldName],[ExternalFieldName],[SQLTypeRef],[DefaultValue],[Size],[EntityTypeRef],[ReadLock],[WriteLock],[Validation],[Mandatory],[System],[Designable],[ContextHelp],[Tooltip],[Visible],[Computed]) SELECT (SELECT MAX(ID) + 1 FROM (SELECT MAX(ID) ID FROM Mp_Sys_TableDef UNION SELECT MAX(ID) ID FROM Mp_Sys_FieldDef) MaxID), (SELECT ID from Mp_Sys_TableDef where InternalName = 'Usr_OR_RESI_MT_Other_Occupiers'),'Name','Name',12,'',50,0,0,0,'',0,0,1,'','Usr_OR_RESI_MT_Other_Occupiers.Name',1,0 WHERE 'Name' NOT IN (SELECT InternalFieldName FROM Mp_Sys_FieldDef WHERE TableRef = (SELECT ID from Mp_Sys_TableDef where InternalName = 'Usr_OR_RESI_MT_Other_Occupiers'))
--Update Magic Numbers table, this keeps track of latest ID value in Mp_Sys tables
UPDATE Ac_Magic_Nos SET Mp_Item_no = (SELECT MAX(ID) FROM (SELECT MAX(ID) ID FROM Mp_Sys_TableDef UNION SELECT MAX(ID) ID FROM Mp_Sys_FieldDef) MaxID)


------------------------------------------------------
--INSERT NEW FIELDS OPTIONS INTO FIELD DEFINITION TABLE
--
--Note: each INSERT query checks if already exists and 
--		only inserts if new to the field or a new field
------------------------------------------------------

INSERT INTO Mp_Sys_FieldPick ([FieldRef],[PickText],[Description]) SELECT (SELECT ID from Mp_Sys_FieldDef where InternalFieldName = 'Title' AND TableRef = (SELECT ID from Mp_Sys_TableDef where InternalName = 'Usr_OR_RESI_MT_Other_Occupiers')),'Dr','Dr' WHERE 'Dr' NOT IN (SELECT PickText FROM Mp_Sys_FieldPick WHERE FieldRef = (SELECT ID from Mp_Sys_FieldDef where InternalFieldName = 'Title' AND TableRef = (SELECT ID from Mp_Sys_TableDef where InternalName = 'Usr_OR_RESI_MT_Other_Occupiers')) AND FieldRef = (SELECT ID FROM Mp_Sys_FieldDef WHERE InternalFieldName = 'Title' AND TableRef = (SELECT ID from Mp_Sys_TableDef where InternalName = 'Usr_OR_RESI_MT_Other_Occupiers')))
INSERT INTO Mp_Sys_FieldPick ([FieldRef],[PickText],[Description]) SELECT (SELECT ID from Mp_Sys_FieldDef where InternalFieldName = 'Title' AND TableRef = (SELECT ID from Mp_Sys_TableDef where InternalName = 'Usr_OR_RESI_MT_Other_Occupiers')),'Miss','Miss' WHERE 'Miss' NOT IN (SELECT PickText FROM Mp_Sys_FieldPick WHERE FieldRef = (SELECT ID from Mp_Sys_FieldDef where InternalFieldName = 'Title' AND TableRef = (SELECT ID from Mp_Sys_TableDef where InternalName = 'Usr_OR_RESI_MT_Other_Occupiers')) AND FieldRef = (SELECT ID FROM Mp_Sys_FieldDef WHERE InternalFieldName = 'Title' AND TableRef = (SELECT ID from Mp_Sys_TableDef where InternalName = 'Usr_OR_RESI_MT_Other_Occupiers')))
INSERT INTO Mp_Sys_FieldPick ([FieldRef],[PickText],[Description]) SELECT (SELECT ID from Mp_Sys_FieldDef where InternalFieldName = 'Title' AND TableRef = (SELECT ID from Mp_Sys_TableDef where InternalName = 'Usr_OR_RESI_MT_Other_Occupiers')),'Mr','Mr' WHERE 'Mr' NOT IN (SELECT PickText FROM Mp_Sys_FieldPick WHERE FieldRef = (SELECT ID from Mp_Sys_FieldDef where InternalFieldName = 'Title' AND TableRef = (SELECT ID from Mp_Sys_TableDef where InternalName = 'Usr_OR_RESI_MT_Other_Occupiers')) AND FieldRef = (SELECT ID FROM Mp_Sys_FieldDef WHERE InternalFieldName = 'Title' AND TableRef = (SELECT ID from Mp_Sys_TableDef where InternalName = 'Usr_OR_RESI_MT_Other_Occupiers')))
INSERT INTO Mp_Sys_FieldPick ([FieldRef],[PickText],[Description]) SELECT (SELECT ID from Mp_Sys_FieldDef where InternalFieldName = 'Title' AND TableRef = (SELECT ID from Mp_Sys_TableDef where InternalName = 'Usr_OR_RESI_MT_Other_Occupiers')),'Mrs','Mrs' WHERE 'Mrs' NOT IN (SELECT PickText FROM Mp_Sys_FieldPick WHERE FieldRef = (SELECT ID from Mp_Sys_FieldDef where InternalFieldName = 'Title' AND TableRef = (SELECT ID from Mp_Sys_TableDef where InternalName = 'Usr_OR_RESI_MT_Other_Occupiers')) AND FieldRef = (SELECT ID FROM Mp_Sys_FieldDef WHERE InternalFieldName = 'Title' AND TableRef = (SELECT ID from Mp_Sys_TableDef where InternalName = 'Usr_OR_RESI_MT_Other_Occupiers')))


------------------------------------------------------
--FINALLY, ALTER USER TABLE WITH NEW FIELDS
--
--Note: This only applies to tables that already existed but
--		where new fields are to be added.  It is done last 
--		as it was required for comparisson against new table
------------------------------------------------------
DECLARE @object_id INT
SELECT @object_id = [object_id] FROM (SELECT [object_id] = OBJECT_ID('dbo.Usr_OR_RESI_MT_Other_Occupiers_NewVersion', 'U')) o
DECLARE @CRLF varchar(10)
SELECT @CRLF = Char(13) + char(10)
DECLARE @SQL_Alter varchar(MAX) = ''
SELECT @SQL_Alter = @CRLF + ' ALTER TABLE Usr_OR_RESI_MT_Other_Occupiers' + @CRLF + 'ADD ' + STUFF((    	SELECT @CRLF + '    ,  [' + c.name + '] ' +        	CASE WHEN c.is_computed = 1            	THEN 'AS ' + OBJECT_DEFINITION(c.[object_id], c.column_id)            	ELSE                	CASE WHEN c.system_type_id != c.user_type_id                    	THEN '[' + SCHEMA_NAME(tp.[schema_id]) + '].[' + tp.name + ']'                    	ELSE '[' + UPPER(tp.name) + ']'                	END  +                   	CASE                       	WHEN tp.name IN ('varchar', 'char', 'varbinary', 'binary')                        	THEN '(' + CASE WHEN c.max_length = -1                                           	THEN 'MAX'                                        	ELSE CAST(c.max_length AS VARCHAR(5))                                    	END + ')'                    	WHEN tp.name IN ('nvarchar', 'nchar')                        	THEN '(' + CASE WHEN c.max_length = -1                                        	THEN 'MAX'                                        	ELSE CAST(c.max_length / 2 AS VARCHAR(5))                                    	END + ')'                    	WHEN tp.name IN ('datetime2', 'time2', 'datetimeoffset')                        	THEN '(' + CAST(c.scale AS VARCHAR(5)) + ')'                    	WHEN tp.name IN ('decimal','numeric')                        	THEN '(' + CAST(c.[precision] AS VARCHAR(5)) + ',' + CAST(c.scale AS VARCHAR(5)) + ')'                    	ELSE ''                	END +                  	CASE WHEN c.collation_name IS NOT NULL AND c.system_type_id = c.user_type_id                    	THEN ''                    	ELSE ''                	END +                  	CASE WHEN c.is_nullable = 1                    	THEN ' NULL'                    	ELSE ' NOT NULL'                	END +                 	CASE WHEN c.default_object_id != 0                    	THEN ' CONSTRAINT [' + REPLACE(OBJECT_NAME(c.default_object_id),'_NewVersion','') + ']' +                         	 ' DEFAULT ' + OBJECT_DEFINITION(c.default_object_id)                    	ELSE ''                	END +                   	CASE WHEN cc.[object_id] IS NOT NULL                    	THEN ' CONSTRAINT [' + cc.name + '] CHECK ' + cc.[definition]                    	ELSE ''                	END +                  	CASE WHEN c.is_identity = 1                    	THEN ' IDENTITY(' + CAST(IDENTITYPROPERTY(c.[object_id], 'SeedValue') AS VARCHAR(5)) + ',' +                                    	CAST(IDENTITYPROPERTY(c.[object_id], 'IncrementValue') AS VARCHAR(5)) + ')'                    	ELSE ''                	END           	END      	FROM (SELECT * FROM sys.columns WHERE [Object_ID] = (SELECT [object_id] FROM sys.tables WHERE Name = 'Usr_OR_RESI_MT_Other_Occupiers_NewVersion'))  c		LEFT OUTER JOIN (SELECT Name FROM sys.columns WHERE [Object_ID] = (SELECT [object_id] FROM sys.tables WHERE Name = 'Usr_OR_RESI_MT_Other_Occupiers')) LiveTable ON c.name = LiveTable.name		JOIN sys.types tp WITH(NOLOCK) ON c.user_type_id = tp.user_type_id    	LEFT JOIN sys.check_constraints cc WITH(NOLOCK)            	 ON c.[object_id] = cc.parent_object_id           	AND cc.parent_column_id = c.column_id      	WHERE c.[object_id] = @object_id  		AND LiveTable.name IS NULL    	ORDER BY c.column_id      	FOR XML PATH(''), TYPE).value('.', 'NVARCHAR(MAX)'), 1, 7, '      ')
IF @SQL_Alter IS NOT NULL
BEGIN
        EXEC(@SQL_Alter)
END
------------------------------------------------------
--REMOVE COPY OF NEW TABLE
------------------------------------------------------
IF OBJECT_ID('dbo.Usr_OR_RESI_MT_Other_Occupiers_NewVersion','U') IS NOT NULL
BEGIN
	DROP TABLE Usr_OR_RESI_MT_Other_Occupiers_NewVersion
END


