USE [P4W_OR_RESI_V5_DEV]
GO
/****** Object:  StoredProcedure [dbo].[up_OR_RESI_Move_Step]    Script Date: 11/02/2020 15:49:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* =============================================
Created By:	  Jordan Duggan (Orchard Rock Development)
Create date:  11/02/2020
Description:  Moves the column from one table to another including adding all applicable partner referneces and column data

Notes: For now only works with one row per matter tables

Test:	
	EXEC up_OR_RESI_Move_Field 'Usr_OR_RESI_MT_Transaction' , 'LeaseStartDate' , 'Usr_OR_RESI_MT_Title' , 'Lease_Start_Date'

		
History: 
	When		Who			What


	
============================================= */

ALTER PROCEDURE [dbo].[up_OR_RESI_Move_Field]
    (
      @OriginalTable VARCHAR(100)
	  , @OriginalField Varchar(100)
	  , @NewTable Varchar(100)
	  , @NewField Varchar(100)
    )
AS 
BEGIN
	
	DECLARE @NewTableRef VARCHAR(10)
	DECLARE @NewFieldRef VARCHAR(10)
	DECLARE @OriginalTableRef VARCHAR(10)
	DECLARE @OriginalFieldRef VARCHAR(10)
	DECLARE @FieldType VARCHAR(100)

	-- Grab table Refs
	SELECT @NewTableRef = ID
	FROM Mp_Sys_TableDef
	WHERE InternalName = @NewTable

	SELECT @OriginalTableRef = ID
	FROM Mp_Sys_TableDef
	WHERE InternalName = @NewTable

	--Grab original field ref
	SELECT @OriginalFieldRef = f.ID	
	FROM Mp_Sys_FieldDef f
	INNER JOIN Mp_Sys_TableDef t on f.TableRef = t.ID
	WHERE f.InternalFieldName = @OriginalField
	AND t.InternalName = @OriginalTable

	-- Create Copy of column
	EXEC('SELECT ' + @OriginalField + ' NewValues, EntityRef, MatterNo INTO OrignalTableValue FROM ' + @OriginalTable)

	-- Grab columns type
	SELECT @FieldType = CASE WHEN CHARACTER_MAXIMUM_LENGTH IS NOT NULL 
	THEN DATA_TYPE + '(' + CAST(CHARACTER_MAXIMUM_LENGTH AS VARCHAR) + ')'
	ELSE DATA_TYPE
	END
	FROM INFORMATION_SCHEMA.COLUMNS
	WHERE TABLE_NAME = @OriginalTable
	AND COLUMN_NAME = @OriginalField

	-- Add new column to target table
	EXEC('ALTER TABLE ' + @NewTable + ' ADD ' + @NewField + ' ' + @FieldType)
	
	-- Insert new values
	EXEC('INSERT INTO ' + @NewTable + ' (EntityRef, MatterNo,' + @NewField + ') SELECT EntityRef, MatterNo, NewValues FROM OrignalTableValue o WHERE NOT EXISTS (SELECT * FROM ' + @NewTable + ' a WHERE a.EntityRef = o.EntityRef AND a.MatterNo = o.MatterNo)')

	-- Update Existing ones
	DECLARE @EntityRefUpdate VARCHAR(15)
	DECLARE @MatterNoUpdate INT
	DECLARE @VarMatterNoUpdate VARCHAR(15)

	DECLARE curUpdate CURSOR FOR
	SELECT EntityRef,MatterNo
	FROM OrignalTableValue a

	OPEN curUpdate 
	FETCH NEXT FROM curUpdate INTO @EntityRefUpdate,@MatterNoUpdate
	WHILE @@FETCH_STATUS = 0
	BEGIN
		SELECT @VarMatterNoUpdate = CAST(@MatterNoUpdate AS VARCHAR)

		EXEC('UPDATE ' + @NewTable + ' SET ' + @NewField + ' = (SELECT TOP 1 NewValues FROM OrignalTableValue o WHERE o.EntityRef = ''' + @EntityRefUpdate + ''' AND o.MatterNo = ' + @VarMatterNoUpdate + ') WHERE EntityRef = ''' + @EntityRefUpdate + ''' AND MatterNo = ' + @VarMatterNoUpdate)
		
		FETCH NEXT FROM curUpdate INTO @EntityRefUpdate,@MatterNoUpdate
	END
	CLOSE curUpdate 
	DEALLOCATE curUpdate 

	--Insert partner Field refs
	INSERT INTO Mp_Sys_FieldDef
	(
	ID
	,TableRef
	,InternalFieldName
	,ExternalFieldName
	,SQLTypeRef
	,DefaultValue
	,Size
	,EntityTypeRef
	,ReadLock
	,WriteLock
	,Validation
	,Mandatory
	,System
	,Designable
	,ContextHelp
	,Tooltip
	,Visible
	,Computed
	,GDPR
	)
	SELECT 
	(SELECT TOP 1 ID + 1 FROM Mp_Sys_FieldDef ORDER BY ID DESC)
	,@NewTableRef
	,@NewField
	,REPLACE(@NewField,'_',' ')
	,f.SQLTypeRef
	,f.DefaultValue
	,f.Size
	,f.EntityTypeRef
	,f.ReadLock
	,f.WriteLock
	,f.Validation
	,f.Mandatory
	,f.System
	,f.Designable
	,f.ContextHelp
	,f.Tooltip
	,f.Visible
	,f.Computed
	,f.GDPR
	FROM Mp_Sys_FieldDef f
	INNER JOIN Mp_Sys_TableDef t on f.TableRef = t.ID
	WHERE f.InternalFieldName = @OriginalField
	AND t.InternalName = @OriginalTable
	AND NOT EXISTS (SELECT * FROM Mp_Sys_FieldDef nf WHERE nf.InternalFieldName = @NewField) 
    
	SELECT @NewFieldRef = f.ID
	FROM Mp_Sys_FieldDef f
	INNER JOIN Mp_Sys_TableDef t on f.TableRef = t.ID
	WHERE f.InternalFieldName = @NewField
	AND t.InternalName = @NewTable

	INSERT INTO Mp_Sys_FieldPick
	(
	FieldRef
	,PickText
	,Description
	)
	SELECT 
	@NewFieldRef
	,fp.PickText
	,fp.Description
	FROM Mp_Sys_FieldPick fp
	INNER JOIN Mp_Sys_FieldDef f on f.ID = fp.FieldRef 
	INNER JOIN Mp_Sys_TableDef t on f.TableRef = t.ID
	WHERE f.InternalFieldName = @OriginalField
	AND t.InternalName = @OriginalTable
	AND NOT EXISTS (SELECT * FROM Mp_Sys_FieldPick fpn WHERE fpn.FieldRef = @NewFieldRef AND fpn.PickText = fp.PickText)


	INSERT INTO Mp_Sys_FieldViewXRef
	SELECT
	@NewFieldRef
	,fr.ViewRef
	,(SELECT TOP 1 fra.FieldOrder + 1 FROM Mp_Sys_FieldViewXRef fra WHERE fra.ViewRef = fr.ViewRef ORDER BY fra.FieldOrder DESC)
	,fr.DescTX
	,fr.DescTY
	,fr.DescBX
	,fr.DescBY
	,fr.FieldTX
	,fr.FieldTY
	,fr.FieldBX
	,fr.FieldBY
	,fr.ReadOnly
	,@NewField
	,REPLACE(@NewField,'_',' ')
	,fr.WebPublish
	FROM Mp_Sys_FieldViewXRef fr
	INNER JOIN Mp_Sys_FieldDef f on f.ID = fr.FieldRef 
	INNER JOIN Mp_Sys_TableDef t on f.TableRef = t.ID
	WHERE f.InternalFieldName = @OriginalField
	AND t.InternalName = @OriginalTable

	DROP TABLE OrignalTableValue

END



