@page "/fetchresidata"

@using Gizmo_V1._00.Data
@using Gizmo_V1._00.Models

@inject OR_RESI_DATA ResiData

<h1>MT Table</h1>

<p>This component demonstrates fetching data from RESI.</p>

@if (ResiDataRows == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>EntityRef</th>
                <th>MatterNo</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var row in ResiDataRows)
            {
                <tr>
                    <td>@row.EntityRef</td>
                    <td>@row.MatterNo</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private UsrOrResiMt[] ResiDataRows;

    protected override async Task OnInitializedAsync()
    {
        ResiDataRows = await ResiData.GetDataRows();
    }
}
