@page "/"
@namespace GadjIT_App.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

@using Services.SessionState
@inject IUserSessionState sessionState


<script>

    Backimg = new Image()
    Backimg.src = "/css/images/GhostImages/DocDragGhost2.jpg";


    function ShowModal(modalId) {
        $('#' + modalId).modal('show');
        $('#' + modalId).appendTo(document.body);
    }

    function CloseModal(modalId) {
        $('#' + modalId).modal('hide');
    }

    function HideAll() {
        $('.modal').modal('hide');
    }

    function DownloadTextFile(filename, fileContent) {
        var link = document.createElement('a');
        link.download = filename;
        link.href = "data:application/octet-stream;base64," + fileContent;
        document.body.appendChild(link); // Needed for Firefox
        link.click();
        document.body.removeChild(link);
    }

    function moveToPosition(position) {
        var el = document.getElementById('mainScroll');
        el.scrollTop = position;
    }

    function getElementPosition() {
        var el = document.getElementById('mainScroll');
        return el.scrollTop;
    }

    function addEventListener(elementId) {
        var el = document.getElementById(elementId);
        if (el) {
            el.addEventListener("dragstart", function (e) {
                e.dataTransfer.setDragImage(Backimg, 0, 0);
            }, false);

        }
    }

    function loadDataTable(tableId) {

        $(tableId).DataTable({

                dom: 'Bflrtip',

                retrieve: true,

                buttons: [

                    'copyHtml5',

                    'excelHtml5',

                    'csvHtml5',

                    'pdfHtml5'

                ],

                pagingType: "full_numbers",

                lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],

                autoWidth: false,

                scrollX: true,

                order: []

        });

    }

    function destroyDataTable(tableId) {

        const table = $(tableId).DataTable();

        table.destroy();


    }


</script>
<style>
    #coverup {
        background: white;
        width: 170px;
        height: 100px;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
    }
</style>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GadjIT</title>
    <base href="~/" />
    <!-- Font awesome links -->
    @*
    <link href="~/fontawesome/css/all.css" rel="stylesheet">
        <link href="~/fontawesome/css/fontawesome.css" rel="stylesheet">
        <link href="~/fontawesome/css/regular.css" rel="stylesheet">
        <link href="~/fontawesome/css/solid.css" rel="stylesheet">
   
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"> 
    <!--<script src="https://your-site-or-cdn.com/fontawesome/v6.0.0/js/all.js" data-search-pseudo-elements ></script>-->

 
    <script defer src="~/fontawesome/js/all.js"></script>
    <link href="~/fontawesome/css/all.css" rel="stylesheet" />
    *@
    
    <script src="~/fontawesomev6/js/all.js"></script>
    <link href="~/fontawesomev6/css/all.css" rel="stylesheet" />
    


    <script src="~/jquery/jquery.min.js"></script>

    <script src="~/bootstrap/dist/js/bootstrap.js"></script>
    <link href="~/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    @*<link href="_content/Blazored.Modal/blazored-modal.css" rel="stylesheet" />*@

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="~/css/Custom/Fade.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/Custom/OR_Custom.css" rel="stylesheet" />
    @*<link href="~/css/Custom/OR_DataTables.css" rel="stylesheet" />*@
    <link href="~/css/Custom/OR_Modal.css" rel="stylesheet" />
    <link href="~/css/Custom/OR_Nav.css" rel="stylesheet" />
    <link href="~/css/Custom/OR_Text.css" rel="stylesheet" />
    <link href="~/css/Custom/OR_Dropdown.css" rel="stylesheet" />
    <link href="~/css/Custom/OR_Table.css" rel="stylesheet" />

    <script src="https://github.com/Daddoon/Blazor.Polyfill/releases/download/3.0.1/blazor.polyfill.min.js"></script>

    <!--DataTables-->
    <!--Manages the HTML tables and export to Excel-->
    @*<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.css" />*@
    @*<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" />*@
    @*<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.6.0/css/buttons.dataTables.min.css" />*@
    @*<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css" />*@
    @*<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" />*@

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" />
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.0.1/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.html5.min.js"></script>

    @*<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.js"></script>*@
    @*<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>*@
    @*<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.0/js/dataTables.buttons.min.js"></script>*@
    @*<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.0/js/buttons.flash.min.js"></script>*@
    @*<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>*@
    @*<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>*@
    @*<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>*@
    @*<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.0/js/buttons.html5.min.js"></script>*@
    @*<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.0/js/buttons.print.min.js"></script>*@
    @*<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>*@

</head>


<body>
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            <span>This application is reloading or requires a reload.</span>
        </environment>
        <environment include="Development">
            <span>An unhandled exception has occurred. See browser dev tools for details.</span>
        </environment>

        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
    <script src="_content/BlazorInputFile/inputfile.js"></script>
    @*<script src="_content/Blazored.Modal/blazored.modal.js"></script>*@


    <script src="~/jquery/custom/blazored.modal.js"></script>
    @*<script type="text/javascript">

            function fncPrepDataTables() {
                //var table = $('#tbl_Export').DataTable({
                //    // "sDom": '<"#divTableButtons"l><"top"<"clear">>t<"bottom"ip<"clear">f>',
                //    "sDom": "<'row'<'col-sm-5'B><'col-sm-5'l><'col-sm-2'f>>" + "<'row'<'col-sm-12'tr>>" + "<'row'<'col-sm-6'i><'col-sm-6'p>>",
                //    "buttons": [
                //        'csv', 'excel'
                //    ],
                //    //"pagingType": "full_numbers",
                //    //"lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                //    //"scrollX": true

                //})
                var table = $('#tbl_Export').DataTable();

                new $.fn.dataTable.Buttons(table, {
                    buttons: [
                        'copy', 'excel', 'csv'
                    ]
                });

                table.buttons().container().appendTo('.datatable-buttons');

            }



        </script>*@

</body>
</html>
