
<div class="modal-body" tabindex="0">
    <table class="table-basic table-top-header table-left-header table-borderless">
        <thead>

            <tr>
                <td style="width: 150px">
                </td>
                <td style="width: 500px">
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Block Number
                </td>
                <td>
                    @Object.DataView.BlockNo
                </td>
            </tr>
            
            <tr>
                <td>
                    Data View Name:
                </td>
                <td>
                    <input type="text" class="read-only" readonly value="@Object.DataView.ViewName" />
                </td>

            </tr>

            <tr>
                <td>
                    Data View Display Name:
                </td>
                <td>
                    <input type="text" class="read-only" readonly value="@Object.DataView.DisplayName" />
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="button-container">
    <button type="button" class="btn btn-secondary" @onclick="() => Close()">Close</button>
</div>