
  <div id="notification-modal" class="notification notification-hide hide-until-full-render">
    <div id="notification-icons" >
      <span id="notification-icon-Success" class="notification-icon">
          <i class="icon fa fa-check"></i>          
        </span>
      <span id="notification-icon-Warning" class="notification-icon">
          <i class="icon fa fa-exclamation"></i>          
        </span>
      <span id="notification-icon-Danger" class="notification-icon">
          <i class="icon fa fa-bomb"></i>            
          </span>
    </div>
    <span id="notification-inner"></span>
  </div>