
<h3>UPGRADE: Ability to Copy Questions and Answers from Dev to Live</h3>
<p>It is our intention to extend the Synchronisation facility to include Questions and Answers. Users will have the ability to select multiple steps and documents and create a migration which can be actioned immediately or saved to execute at a later date.</p>
<br />
<h3>UPGRADE: New Global Milestone Status and Status Tracking</h3>
<p>We are extending the status capture modude to include a global milestone status. This new milestone status can be set within the normal Smartflow Status tab within GadjIT or Excel.</p>
<p>All changes to Smartflow status and the global Milestone Status are now tracked within the table Usr_ORSF_MT_Status_History. This table will contain a full breakdown of all status changes including dates and times.</p>
<br />
<h3>UPGRADE: Upgrade GadjIT to .Net 6</h3>
<p>
    There are some features of v6 that we wish to take advantage of including:-
    <ul>
        <li>Increased speed displaying large tables</li>
        <li>Increased flexibility to create content dynamically providing a richer user experience</li>
        <li>Better native integration with Swagger for API documentation</li>
    </ul>
</p>
<h3>ISSUE: Upgrading Smartflow Steps</h3>
<p>At the moment, if we upgrade the Smartflow step, each Smartflow has to be entered (within GadjIT) to be upgraded.</p>
<h4>SOLUTION: Auto Update All Steps</h4>
<p>Orchard Rock and Admin Users will have the ability to update all Smartflows to the latest version with one click. Dev and Live systems will still be independent so if both systems require an upgrade then the user will have to activate both separately.</p>
<br />


