
<h3>UPGRADE: Document Tracking</h3>
<p>Track documents such as Client Care Pack bundles. This is available from within GadjIT and the usual Excel Import facility. End users are able to track documents sent out and mark as received when they are returned. In addition, chaser letters can be easily coded up to list items still outstanding with appropriate chaser descriptions.</p>
<br />
<h3>UPGRADE: Linked Items</h3>
<p>Included is the ability to add attachments or multiple schedule items.  Collectively, these will be referred to as Linked Items. Any Smartflow item including Documents, Steps and Custom items will have the ability to have further documents, steps or schedule items attached. Users will now be able to create document bundles as well as have multiple schedules triggered from a single item.</p>
<br />



