
<h3>UPGRADE: General Access To Partner Database</h3>
<p>To improve support we are planning on openning up the facility to access areas of a clients Partner database direct from within GadjIT. This will reduce the time it takes for us to investigate and resolve issues. In addition, it will significantly reduce the number of time we require full access to a client's network.</p>
<p>Access will be controlled by a single user on SQL Server with permissions agreed with the client. This way each client has full control over what level of access we have and when.</p>


