/*
    @media (min-width: 576px) 
    @media (min-width: 768px) 
    @media (min-width: 992px) 
    @media (min-width: 1200px) 
*/



.modal {
    padding-top: 70px !important;
}



.modal-open {
    margin-right: -17px;
}



.modal-dialog, .modal-content {
    border-radius: 25px;
    padding: 0 20px;
}



.modal-header {
    font-weight: bold !important
}



.modal-footer {
    border-top: 1pt solid #DDD;
}



.modal .form-control {
    color: #888;
}



.modal .info-text {
    color: #888;
    font-size: 0.9rem;
}

.main > div {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.container, .container-fluid {
    padding: 0;
    margin: 0;
}

.row {
}

.content {
    margin: 0 !important;
    padding: 0 !important;
}


.parallax {
    /* Full height */
    height: calc(100% - 53px);
    /* The image used */
    background-image: url(../images/parallax_4.jpg);
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 !important;
    padding: 0 !important;
}

.topbar {
    z-index: 99999;
    background-color: #FFFFFF !important;
    box-shadow: 0 6px 6px 0px rgba(0, 0, 0, 0.4);
}

.top-row a.nav-link {
    font-size: 1.4em !important;
}

.sidebar {
    z-index: 99999;
    background-color: #FFFFFF !important;
    box-shadow: 0px 0 4px 4px rgba(0, 0, 0, 0.4);
}

.sidebar .top-row {
    background-color: #000000;
    background-image: url(../images/GadJIT_logo_vsmall.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.page-footer {
    height: 30px;
    padding: 10px 150px 0 0;
    margin-left: 300px;
    font-size: 0.7rem;
    /*opacity: 0.5;*/
}

.page-footer {
    background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,1))
}

    .page-footer a {
        color: #BBB;
    }

.footer-copyright {
    color: #999;
}

@media (max-width: 767.98px) {
    .parallax {
        /* Full height */
        height: calc(100% - 0px);
        /* The image used */
        background: #FFFFFF;
    }
}


@media (max-width: 1200px) {
    .page-footer {
        display: none;
        height: 0;
    }
}

/*-----------------------------*/
/*  BUTTONS & LINKS            */
/*-----------------------------*/

.btn {
    border: 2pt solid !important;
    border-radius: 10px !important;
    min-height: 40px;
    min-width: 35px;
    display: flex;
    align-items: center;
}

.btn:hover {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0);
    transition-duration: 1s;
    transition-property: box-shadow, background-color, border;
}

.btn-secondary{
    border-color: #aaa !important;
}

.btn-edit {
    display: block;
    height: 100%;
    width: 35px;
    margin: 0 0 0 5px;
    border: none !important;
    border-radius: 5px !important;
    background-color: rgba(245, 245, 245, 0.5) !important;
}

.tran-block .btn-edit {
    background-color: rgba(245, 245, 245, 0) !important;
}

.btn-shadow {
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.7);
}

.back-link {
    margin: 12px 10px 0 0;
}

.back-link a {
    font-size: 25px;
}

.data-item-edit {
    padding: 0 !important;
    background-color: rgba(245, 245, 245, 0) !important;

}

.text-block {
    background-color: rgba(245, 245, 245, 0.6);
    padding: 10px;
    margin-bottom: 20px;
}

.tran-block {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 10px 20px 10px;
    margin-bottom: 20px;
    margin-left: 15px;
    border-radius: 5px;
    width: auto;
}

.page-header-block {
    padding: 5px 0 5px 20px;
    margin: 0 0 20px 0 !important;
    width: auto;
    font-size: 0.8rem;
    border-radius: 0px;
}

.page-header-block h3 {
    
}

.page-header-block p{
        color: #555;
}

.detail-block {
    width: 100%;
    margin: 20px 10px 20px 0px;
    border-radius: 3px;
    padding: 20px;
}

@media (max-width: 767.98px) {
    .detail-block {
        margin-bottom: 20px;
        padding: 0;
    }
}

.detail-box{
    min-width:470px;
}

.detail-list-box {
    border: 1px solid #DDD !important;
    border-radius: 5px;
    margin: 5px 0px 10px 0px;
    padding: 2px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: rgba(255, 255, 255, 0.8)
}

.detail-group-box {
    border-top: 1px solid #BBB;
    margin: 5px 0px 10px 0px;
    padding: 15px;
    overflow-y:auto;
    overflow-x:hidden;
}

/*-----------------------------*/
/*  DATA GRIDS                 */
/*-----------------------------*/
.row{ 
    margin-left: 0; 
    margin-right: 0;
}

.grid-header {
    height: 45px;
}

.grid-row {
    height: 45px;
}

.grid-row-lg {
    height: 65px;
}

.grid-row-md {
    height: 38px;
}

.grid-row-sm {
    height: 33px;
}

.grid-row-auto {
    min-height: 45px;
    height: auto;

}


.data-item {
    padding: 0;
    height: 100%;
    border: 1pt solid;
    background-color: rgba(255, 255, 255, 0.5);
    border-color: #FFF #DDD #DDD #FFF;
    font-size: 0.85rem !important;
}

@media (max-width: 767.98px) {
    .data-item {
        border-color: #FAFAFA #CCC #CCC #FAFAFA;
    }
}

.grid-header .data-item {
    border: none;
    font-weight: bold;
}

.data-item-sub {
    height: 100%;
    padding-left: 10px !important;
    padding-top: 10px !important;
    width: Calc(100% - 22px) !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis !important;
    float: left;
}

.data-item-ellipses{
    width: 20px;
    padding: 0;
    margin: 0;
    float: right;
    height: 100%;
    visibility: hidden;
}

.data-item-ellipses .btn, .data-item-ellipses .btn-edit{
    width: 20px !important;
    padding: 0 !important;
    margin: 0 !important;
    height: 100%;
    font-size: 1.1rem;
}

.grid-header .data-item-sub {
    background-color: rgba(255, 255, 255, 0);
}

.detail-list-box .data-item-sub {
    background-color: rgba(255, 255, 255, 0)
}


.data-item a:hover{
    text-decoration: none;
}

.data-item input {
    border: none;
    background: none;
    height: auto;
    padding: 0;
    margin: 0;
    width: 100%;
    font-size: 1em;
}

.data-item input:focus {
    outline: none;
}


.data-item-main, .data-item-alt {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.95rem !important;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.5);
}

.data-item-nav {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0;
    font-size: 0.95rem !important;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.data-item-nav a{
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.data-item-nav:hover, .data-item-nav a:hover {
    background-color: #000;
    color: #FFF;
    transition-duration: 1s;
    transition-property: background-color, color;
}

.data-item a:hover .data-item-main, .data-item a:hover .data-item-alt {
    background-color: #000;
    color: #FFF;
    transition-duration: 1s;
    transition-property: background-color, color;
}


.data-item-detail {
    height: 20px !important;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.data-item-detail-sm {
    font-size: 0.8em;
    height: 17px !important;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.data-item-detail label {
    display: inline-block;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 5px 0 0;
}

.data-item-detail span, .data-item-detail-sm span {
    display: inline-block;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0;
    color: #555;
}



.edit-link-right, .nav-link-right, .data-item-nav .data-item-sub .nav-link-right {
    display: block;
    width: 20px;
    margin-left: auto;
    margin-right: 15px;
    height: 1.4em;
    float: right;
}

.data-item-right {
    display: block;
    margin-left: auto;
    margin-right: 5px;
    float: right;
}

.data-item-wrap {
    display: flex;
    flex-wrap: wrap;
}

.data-item em {
    font-size: 1em;
}



/*  DETAIL LIST     */

.detail-list-box .grid-row {
    height: 30px;
}

.detail-list-box .data-item-sub {
    height: 100%;
    display: flex;
    align-items: center;
}

/*   GRID TRAN    */
.grid-tran {
    margin-bottom: 10px;
    margin-left: 0px;
}

@media (max-width: 767.98px) {
    .grid-tran {
        width: calc(100% - 20px);
    }
}

.grid-tran .btn {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.5);
}

.grid-tran .btn:hover {
    box-shadow: none;
    transition-duration: 1s;
    transition-property: box-shadow, background-color, border;
}

.grid-tran .grid-header {
    padding: 2px 0 2px 0;
}

.grid-tran .grid-row {
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 0.9rem !important;
}

.grid-tran .grid-header .data-item {
    border-bottom: none;
}

.grid-tran .grid-header .no-border {
    border-bottom: none;
}

.grid-tran .data-item {
    margin: 0;
    padding: 2px;
    width: calc(100% - 7px);
}

.grid-tran .data-item-alt {
    border: 1pt solid;
    border-radius: 5px;
}

.grid-tran .data-item-sub {
    height: 100%;
    width: 100%;
    padding: 0 5px 0 5px;
    margin: 0px;

}



.grid-tran .grid-Header .data-item-sub {
    background-color: #FFF;
    color: #000;
    font-weight: bold;
}

.grid-can-edit {
    padding: 0;
    margin: 0;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.5);
}



.grid-can-edit .grid-row-hover .data-item {
    background-color: rgba(200, 200, 200, 0.5);
}

/*  FILTER BLOCK   */
.filter-block {
    border-bottom: 1pt solid #AAA;
    font-size: 0.9rem;
}

.filter-block label {
    margin-bottom: 2px;
}

.filter-block .form-control {
    color: #888;
    height: 30px;
    font-size: 0.8rem;

}

.spinner {
    border: 16px solid silver;
    border-top: 16px solid #337AB7;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 700ms linear infinite;
    top: 40%;
    left: 55%;
    position: absolute;
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

.cookie-link {
    font-size: 1.1em;
}

    .cookie-link a.active {
        font-weight: bold;
    }



/*---------------------------------------*/
/*   BLOCK CARDS                         */
/*---------------------------------------*/

* {
    box-sizing: border-box;
}


/* Style the counter cards */
.card {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.7); /* this adds the "card" effect */
    text-align: center;
    background-color: #f1f1f1;
    margin: 50px;
    border: 0;
    border-radius: 20px 20px 20px 20px !important;
}

.card a:hover {
    text-decoration: none;
}

.card a:hover .card-header {
    background-color: #000;
    color: #FFF;
    transition-duration: 1s;
    transition-property: background-color, color;
}

.main-nav .card {
    width: 400px;
}


.card-header {
    font-size: 1.2em;
    border: 0;
    border-radius: 20px 20px 0 0 !important;
    height: 90px;
    width: 100%;
    display: flex;
    flex-direction: row !important;
    justify-content: center !important;
    align-self: center !important;
    align-items: center !important;
    margin: auto;
}

.card-header .card-icon {
    display: block;
    padding-right: 10px !important;
}

.card-body {
    border-radius: 0 0 20px 20px !important;
    background-color: #FFFFFF;
    font-size: 1rem;
    color: #999;
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row !important;
    justify-content: center !important;
    align-self: center !important;
    align-items: center !important;
    margin: auto;
}

.card-footer {
    border-top: none;
    background-color: #FFFFFF;
    border: 0;
    border-radius: 0 0 20px 0 !important;
    width: 100%;
    display: flex;
    flex-direction: row !important;
    justify-content: center !important;
    align-self: center !important;
    align-items: center !important;
    margin: auto;
}



/* Responsive columns - one column layout (vertical) on small screens */
@media (max-width: 1800px) {
    .main-nav .card {
        width: 400px;
    }
}

@media (max-width: 1600px) {
    .main-nav .card {
        width: 350px;
    }

    .card-body {
        font-size: 1rem;
    }
}

@media (max-width: 1400px) {
    .main-nav .card {
        width: 300px;
    }
}

@media (min-width: 768px) {
    .card {
        margin: 20px;
    }
}

@media (max-width: 767.98px) {
    .card {
        margin: 25px 0 25px 10px;
        width: calc(100% - 20px) !important;
        border-radius: 20px !important;
    }

    .card-body {
        display: none;
    }

    .card-header {
        border-radius: 20px !important;
    }
}

.visible{
    visibility: visible;
}

/******************/
/*   TESTING ONLY */
#agendaWrapper, #statusWrapper {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

#agendaWrapper, #statusWrapper, #docsWrapper, #feesWrapper {
    margin-bottom: 10px;
}

#agendaWrapper .detail-list-box {
    height: 70px;
}

#statusWrapper .detail-list-box {
    height: 100px;
}

#docsWrapper .detail-list-box {
    height: 220px;
}

#feesWrapper .detail-list-box {
    height: 205px;
}

a[title="Information"] {
    color: #999;
}

