.modal-chapter-export{
    width: 220px;
    height: 200px;
    overflow-y: hidden;
}

.hidden-data-tables {
    position: relative;
    left: -99999px;
    top: -99999px;
    height: 200px;
    width: 220px;
}

.hidden-data-tables .dt-buttons {
    position: relative;
    left: 99999px;
    top: 99999px;
    height: 50px;
    width: 220px;
    margin-top: 15px;
}

.hidden-data-tables .dt-buttons .dt-button{
    margin-left: 15px;
    margin-right: 15px;
    min-width: 70px;
}