html {
    height: 100%;
}

body {
    height: 100%;
}

a {
    color: #AF00E3 !important;
}

h1, h2, h3, h4 {
    color: #999;
}

label {
    color: #333;
}

.login-page {
    /* Full height */
    height: 100%;
    /* The image used */
    background-image: url('../../images/backgroundimages/Blue Sky.jpg');
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}



.auth-block {
    padding: 20px;
    background: #fff;
    border-radius: 25px;
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.5);
}

/* Breakpoint XS */
@media (max-width: 575px) {
    .login-page {
        background-image: none;
    }

    .auth-block {
        box-shadow: 0 0 0 0 rgba(0,0,0,0);
    }

    .form-control {
        font-size: 16pt;
    }
}

#login-block {
    width: 400px;
    height: auto;
    position: absolute;
    top: calc(50% - 250px);
    left: calc(50% - 200px);
}

.btn-main {
    background-color: #3E00E3;
    border-color: #3E00E3 !important;
    color: #fff;
    width: 200px;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.5);
}

    .btn-main:hover {
        color: #fff;
        background-color: #AF00E3;
        border-color: #AF00E3 !important;
        box-shadow: 0 5px 8px 0 rgba(0,0,0,0);
    }

.login-top-row {
    background-color: #ffffff;
    background-image: url(../images/GadjIT_logo_col_1.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 80px;
    
}

.button-container {
    border-top: 1pt solid #ccc;
    padding-top: 15px;
    text-align: center;
    padding-bottom: 15px;
}

