/*---------------------------------------*/
/*   POPUP DIALOG MODAL FORMS            */
/*---------------------------------------*/

.blazored-custom-modal {
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
    border-radius: 12px;
    padding: 1rem;
    z-index: 102;
    box-shadow: 0 2px 2px rgba(0,0,0,0.75);
    overflow-y: auto;
    overflow-x: hidden;
    min-width: 300px;
}



.blazored-prompt-modal {
    display: flex;
    flex-direction: column;
    width: 600px;
    background-color: #fefefe;
    border-radius: 4px;
    border: 1px solid #fff;
    padding: 0.5rem;
    z-index: 102;
    box-shadow: 0 2px 2px rgba(0,0,0,.75);
}

.blazored-modal-header {
    margin: 0px;
    padding: 0px;
}

.blazored-modal-content {
    margin: 0px;
    padding: 0px;
}

.modal {
    padding-top: 70px !important;
}


.modal-open {
    margin-right: -0px;
    overflow-y: hidden;
}

.modal-dialog, .modal-content {
    border-radius: 25px;
    padding: 0 20px;
}

.modal-header {
    font-weight: bold !important
}

.modal-body {
    padding: 0;
    margin-top: 10px;
}

.modal-footer {
    border-top: 1pt solid #DDD;
}

.modal-body h4{
    color: #888;
    margin-bottom: 8px;
}

.modal-body .form-control {
    color: #888;
    text-align: left;
    border-color: #aaa;
    font-size: 0.9em;
}

.modal-body .form-group label {
    padding-bottom: 0px;
    margin-bottom: 3px;
    margin-top: 10px;
    font-size: 0.9em;
}

.modal-body .form-group input[type=checkbox] {
    width: 1.1em;
    height: 1.1em;
}

.button-container {
    border-top: 1pt solid #ccc;
    margin-top: 0px;
    padding-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    clear: both;
}

.button-container button {
    margin: 0 10px 0 10px;
}

/*Form Control Validation - remove outline to be able to add curved borders */
.invalid.modified {
    border: 1.5pt solid red !important;
    border-radius: 5px !important;
    outline-width: 0px !important;
}

.valid.modified {
    border: 1.5pt solid green !important;
    border-radius: 5px !important;
    outline-width: 0px !important;
}

/*****************/
/*   Tables      */
/*****************/

.modal-body:focus{
    outline: none;
}

.modal-body table {
    margin: 20px 10px 20px 10px;
    background: #eee;
}

.modal-body table tr{
    padding: 10px 0 10px 0;
}

.modal-body table tr td{
    padding: 5px;
    color: #777;
    font-size: 0.75rem !important;
    /*each td will need a max-width: for ellipses to work*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.modal-body table tr td input[type="text"].read-only {
    width: 100%;
    border: 1pt dashed #fff;
    background-color: transparent;
    text-overflow: ellipsis;
}

.modal-body table tr td input[type="text"].read-only:focus {
    outline: none !important;
}

.modal-body table.table-left-heading tr td:first-of-type{
    font-weight: bold;
    padding-right: 15px;
}

.modal-body table.table-top-header tr:first-of-type td{
    font-weight: bold;
}

.modal-body table thead tr {
    background: #FFF;
    border-bottom: 1pt solid #555;
}

.modal-body table tfoot tr {
    background: #FFF;
    border-top: 1pt solid #555;
    border-bottom: none;
}

/************************/
/*   Unique Modals      */
/************************/

.modal-chapter-item {
    width: 350px;
}

.modal-chapter-doc {
    width: 550px;
}

.modal-chapter-fees {
    width: 500px;
    overflow: hidden;
}

#modal-edit-fees-list {
    width: 470px;
    height: 400px;
    overflow-y: scroll;
}

.modal-system-company {
    width: 500px;
}

.modal-system-worktypes {
    width: 350px;
}

.modal-system-worktypegrouping {
    width: 350px;
}