/*---------------------------------------*/
/*   POPUP DIALOG MODAL FORMS            */
/*---------------------------------------*/

.blazored-custom-modal {
    display: flex;
    flex-direction: column;
    width: 60vw;
    height: 60vh;
    background-color: #fafafa;
    border-radius: 12px;
    border: 1px solid #fff;
    padding: 0.5rem;
    z-index: 102;
    box-shadow: 0 2px 2px rgba(0,0,0,.75);
}

.blazored-prompt-modal {
    display: flex;
    flex-direction: column;
    width: 600px;
    background-color: #fefefe;
    border-radius: 4px;
    border: 1px solid #fff;
    padding: 0.5rem;
    z-index: 102;
    box-shadow: 0 2px 2px rgba(0,0,0,.75);
}

.modal {
    padding-top: 70px !important;
}


.modal-open {
    margin-right: -0px;
    overflow-y: hidden;
}

.modal-dialog, .modal-content {
    border-radius: 25px;
    padding: 0 20px;
}

.modal-header {
    font-weight: bold !important
}

.modal-footer {
    border-top: 1pt solid #DDD;
}

.modal .form-control {
    color: #888;
}

.modal .info-text{
    color: #888;
    font-size: 0.9rem;
}