
.nav {
    margin-bottom: 40px;
}

.nav-tabs {
    margin: 0 0 40px 0;
    border-bottom: none;
}

.tran-tabs .nav-item {
    margin: 5px 0 0 5px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px !important;
}

.tran-tabs a.nav-link {
    padding: 8px;
    font-size: 1rem;
    font-weight: normal;
    color: #CCC !important;
}












/*-----------------------------*/
/*  Top Navbar                 */
/*-----------------------------*/

.topbar a.nav-link {
    font-size: 1.3em;
}

.topbar .btn-link {
    font-size: 1em;
    background-color: #000;
    height: 32px;
    padding: 2px 8px;
}

/*-----------------------------*/
/*  Side Navbar                */
/*-----------------------------*/

.sidebar {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.sidebar .nav-item .nav-link{
    font-size: 0.9rem !important;
    color: #555 !important;
}

.sidebar .nav-item a.active {
    color: #000 !important;
    border: 1pt solid #ddd;
    font-weight: bold;
}

.sidebar .nav-item a.hover {
    border: 1pt solid;
}

.sidebar .logo {
    /*
        background-image: url("../images/GadJIT_logo2.jpg");
        background-repeat: no-repeat;
        background-position: center top;
        */
    width: 100%;
    height: 310px;
    position: absolute;
    bottom: 0;
}

.sidebar .logo {
    /*            background-image: url("../images/GadJIT_logo2.jpg");
        background-repeat: no-repeat;
        background-position: center top;*/
    width: 100%;
    height: 310px;
    position: absolute;
    bottom: 0;
}

@media (max-width: 767.98px) {
    .sidebar .logo {
        display: none;
    }
}

/*-----------------------------*/
/*  Page Nav Menus             */
/*-----------------------------*/

.page-navbar {
    margin-bottom: 30px;
}

.page-navbar .navbar {
    height: 50px;
    border-radius: 2px !important;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.5) !important;
}

.page-navbar .navbar li {
    height: 50px;
    border-left: 1pt solid #333;
    background-image: linear-gradient(to bottom, rgba(50,50,50,0), rgba(50,50,50,0.7));
    background-position-y: 25px;
}

.page-navbar .navbar-dark {
    background-color: #000 !important;
}

.page-navbar .navbar li.active {
    color: #fff !important;
}

.page-navbar .navbar li a {
    color: #888 !important;
    display: block;
    width: 100%;
    height: 100%
}

.page-navbar .navbar a span {
    padding: 12px 15px 0 15px;
    display: block;
}

.page-navbar .navbar li a:hover {
    text-decoration: none;
    background-color: #444;
    transition-duration: 0.5s;
    transition-property: background-color;
}

.page-navbar .navbar li.active a {
    color: #FFF !important;
}

.page-navbar .navbar li.last {
    border-right: 1pt solid #333;
}

.page-navbar .nav-pills, .page-navbar .nav-pills .nav-item{
    border-radius: 0px !important;
}

.page-navbar .nav-pills .nav-item {
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.5) !important;
}


.tran-tabs .active {
    background-color: #000;
}

.tran-tabs .active a, .tran-tabs .active a:hover {
    color: #FFF !important;
}

/*-TRAN NAVBAR-*/


.tran-navbar {
    margin-bottom: 30px;
}

.tran-navbar .navbar {
    height: 50px;
}

.tran-navbar .navbar ul{
    display: flex;
}

.tran-navbar .navbar ul li {
    height: 50px;
    min-width: 100px;
    display: block;
}


.tran-navbar .navbar li.active {
    border-bottom: 3pt solid;
}

.tran-navbar .navbar li.active a{
    color: #000 !important;
}

.tran-navbar .navbar li a {
    color: #555 !important;
    display: block;
    width: 100%;
    height: 100%;
    text-align:center;
}

.tran-navbar .navbar a span {
    padding-top: 11px;
    display: block;
    text-align:center;
}

.tran-navbar .navbar li a:hover {
    text-decoration: none;
    background-color: rgba(220, 220, 220, 1);
    color: #000 !important;
    border-bottom: 3pt solid #000;
    border-bottom-color: #000;
    transition-duration: 0.5s;
    transition-property: background-color, color;
}

.tran-navbar .navbar li.active a:hover {
    border-bottom: none !important;
}

.tran-navbar .navbar li.active a {
    color: #000;
}



/*--------------------*/
/*   DROP DOWN NAV    */
/*--------------------*/
.btn-ellipses .ellipsis-menu {
    position: absolute;
    display: none;
    width: 180px;
    top: 8px;
    left: 0px;
    margin: 0;
    padding: 25px 15px 15px 15px;
    background-color: none;
    z-index: 100;
}

.btn-ellipses ul {
    width: 100%;
    margin: 0;
    padding: 5px;
    background-color: #fff;
    font-size: 0.9rem;
    color: #555;
    box-shadow: 0 5px 8px rgba(0,0,0,0.4);
    border-radius: 3px;
    display: block;
}

.btn-ellipses:hover .ellipsis-menu {
    display: block;
}

.btn-ellipses ul li {
    list-style-type: none;
}

.btn-ellipses ul li a {
    padding: 5px 5px 5px 7px;
    display: block;
    text-decoration: none;
    border-radius: 3px;
    color: #555;
    text-align: left;
}

.btn-ellipses ul li a:hover {
    background-color: #ddd;
    color: #000;
}

