
.nav {
    margin-bottom: 40px;
}

.nav-tabs {
    margin: 0 0 40px 0;
    border-bottom: none;
}

.tran-tabs .nav-item {
    margin: 5px 0 0 5px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px !important;
}

.tran-tabs a.nav-link {
    padding: 8px;
    font-size: 1rem;
    font-weight: normal;
    color: #CCC !important;
}












/*-----------------------------*/
/*  Top Navbar                 */
/*-----------------------------*/

.topbar a.nav-link {
    font-size: 1.3em;
}

.topbar .btn-link {
    font-size: 1em;
    background-color: #000;
    height: 32px;
    padding: 2px 8px;
}

/*-----------------------------*/
/*  Side Navbar                */
/*-----------------------------*/

.sidebar {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.sidebar .nav-item .nav-link{
    font-size: 0.9rem !important;
}

.sidebar .logo {
    /*
        background-image: url("../images/GadgIT_logo2.jpg");
        background-repeat: no-repeat;
        background-position: center top;
        */
    width: 100%;
    height: 310px;
    position: absolute;
    bottom: 0;
}

.sidebar .logo {
    /*            background-image: url("../images/GadgIT_logo2.jpg");
        background-repeat: no-repeat;
        background-position: center top;*/
    width: 100%;
    height: 310px;
    position: absolute;
    bottom: 0;
}

@media (max-width: 767.98px) {
    .sidebar .logo {
        display: none;
    }
}

/*-----------------------------*/
/*  Page Nav Menus             */
/*-----------------------------*/


.page-navbar .navbar {
    height: 50px;
    border-radius: 2px !important;
    margin-bottom: 50px;
}

.page-navbar .navbar li {
    height: 50px;
    border-left: 1pt solid #333;
    background-color: #000;
}

.page-navbar .navbar-dark {
    background-color: #000 !important;
}

.page-navbar .navbar li.active {
    background-color: #222;
    color: #fff !important;
}

.page-navbar .navbar li a {
    color: #BBB !important;
    display: block;
    width: 100%;
    height: 100%
}

.page-navbar .navbar a span {
    padding: 12px 15px 0 15px;
    display: block;
}

.page-navbar .navbar li a:hover {
    text-decoration: none;
    background-color: #444;
    transition-duration: 0.5s;
    transition-property: background-color;
}

.page-navbar .navbar li.active a {
    color: #FFF !important;
}

.page-navbar .navbar li.last {
    border-right: 1pt solid #333;
}

.page-navbar .nav-pills, .page-navbar .nav-pills .nav-item{
    border-radius: 0px !important;
}

.tran-tabs .active {
    background-color: #000;
}

.tran-tabs .active a, .tran-tabs .active a:hover {
    color: #FFF !important;
}
