/*************************************/
/*   TEXT, FONTS, BADGES, etc        */
/*************************************/
body {
    font-family: Verdana;
    font-size: 11pt !important;
}

h2 {
    font-weight: bold;
}

h3 {
    font-weight: normal;
    font-family: Geneva, Tahoma, sans-serif;
}

.text-circle {
    color: #fff;
    padding: 4px 4px;
    border-radius: 50%;
}

.badge {
    padding: 7px 15px 7px 15px;
    font-size: 0.9rem;
    border-radius: 12px;
}

.badge-tran {
    background-color: #222;
    color: #FFF;
    font-weight: normal;
    border: 1pt solid;
    border-color: #555;
    margin: 1px;
    font-size: 0.85rem;
}

@media (max-width: 767.98px) {
    .badge-tran {
        background-color: #FFF;
        color: #666;
        border: 1pt solid #999;
        font-weight: normal;
    }
}