/*************************************/
/*   TEXT, FONTS, BADGES, etc        */
/*************************************/
body {
    font-family: Verdana;
    font-size: 11pt !important;
}

h2 {
    font-weight: bold;
}

h3 {
    font-weight: normal;
    font-family: Geneva, Tahoma, sans-serif;
}

h5{
    margin: 0;
}


.font-75 {
    font-size: .75rem;
}

.col-grey, .font-grey {
    color: #777 !important;
}

.col-black, .font-black {
    color: #777 !important;
}

.col-red, .font-red {
    color: #cc0000 !important;
}



.cookie-link a:hover {
    color: #000;
}

/*  validation icons  */
.fa-check {
    color: #009933;
}

.fa-times {
    color: #cc0000;
}

.fa-exclamation {
    color: #cc9900;
}

ul.ul-simple {
    list-style-type: none;
    padding: 0;
    margin: 0 !important;
}


.text-circle {
    color: #fff;
    padding: 4px 4px;
    border-radius: 50%;
}

.badge {
    padding: 7px 15px 7px 15px;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0) !important;
    border: 1pt solid #888;
    color: #555;
    font-weight: normal;
    margin: 1px;
    font-size: 0.85rem;
}

.badge-tran {
    background-color: rgba(0, 0, 0, 0.4) !important;
    color: #FFF;
    font-weight: normal;
    margin: 1px;
    font-size: 0.85rem;
}

.badge-sm {
    font-weight: normal;
    margin: 1px;
    font-size: 0.70rem;
    padding: 4px 7px 4px 7px;
}

.square {
    border-radius: 0px !important;
}

.rounded-square {
    border-radius: 3px !important;
}

@media (max-width: 767.98px) {
    .badge-tran {
        border: 1pt solid #999;
        font-weight: normal;
    }
}

.topic-desc {
    color: #888;
    font-size: 0.8rem;
    height: 40px;
    overflow-y:auto;
}

/*************************************/
/*   TOOLTIPS POPUPS                 */
/*************************************/


.info-icon {
    color: #999;
}


.tooltip-wrapper {
    position: relative;
    display: inline-block;
    cursor: help;
}

.tooltip-wrapper span:first-child {
    display: inline-block;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    bottom: calc(100% + 10px);
    left: 50%;
    width: 140px;
    margin-left: -70px;
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 13px;
    border-radius: 5px;
    font-size: 0.75rem;
    z-index: 1;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.7);
    transition: opacity 0.5s linear, visibility 0.5s linear;

}

.tooltip-wrapper span:first-child::after {
    content: "";
    position: absolute;
    top: 100%;
    left: calc(50% - 8px);
    margin-left: 0px;
    border-width: 10px;
    border-style: solid;
    border-color: #000 transparent transparent transparent;
}

.tooltip-wrapper span:first-child.tooltip-left {
    left: 0;
    bottom: 0;
    width: 200px;
    margin-left: -210px;
    margin-bottom: -20px;
}

.tooltip-wrapper span:first-child.tooltip-left::after {
    top: calc(50% - 8px);
    left: 100%;
    border-color: transparent transparent transparent  #000;
}

.tooltip-wrapper:hover span:first-child {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s linear, visibility 0.5s linear;
}


