
#logo{
    padding-top: 10px;
}

.navbar.navbar-inverse{
    background-color: #000 !important;
}

.TIP.alert-info{color:#155724;background-color:#d4edda;border-color:#c3e6cb}
.TIP.alert-info{border-top-color:#b1dfbb}
.TIP.alert-info .alert-link{color:#0b2e13}