
/*
-- =============================================
-- Author:		Jordan duggan (Orchard Rock Development Ltd)
-- CREATE date: 08/10/2019
-- Description:	Splits a delimited string into its seperate parts

-- Test:		Select * from fn_OR_SplitString('Test,Test2,Test3',',')
-- =============================================
*/


CREATE FUNCTION [dbo].[fn_OR_SplitString]
(
    @String varchar(1000),
    @Delimiter varchar(1)
)
RETURNS @Parts TABLE ( part varchar(1000), rowNum INT )
AS
BEGIN
	DECLARE @RowNum INT = 1
	
    if @String is null return
    declare @Start int,
            @Pos int
    if substring( @String, 1, 1 ) = @Delimiter 
    begin
        set @Start = 2
        insert into @Parts
        values( null , 0)
    end
    else 
        set @Start = 1
    while 1=1
    begin
        set @Pos = charindex( @Delimiter, @String, @Start )
        if @Pos = 0
            set @Pos = len( @String )+1
        if @Pos - @Start > 0          
            insert into @Parts
            values  ( substring( @String, @Start, @Pos-@Start ) ,@RowNum)
        else
            insert into @Parts
            values( null , @RowNum)
        set @Start = @Pos+1
		SET @RowNum = @RowNum + 1
        if @Start > len( @String ) 
            break
    end
    RETURN

END