@page "/admin"

<div class="tran-block rounded">
    <h1>Site Administration</h1>
    Maintain user, company and system security and settings.
</div>

<div class="main-nav">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="card">
                    <a href="admin/manageuserroles" >
                        <div class="card-header bg-alt"><span class="fa fa-users-cog fa-2x card-icon"></span>User Roles</div>
                        <div class="card-body">
                            <p class="card-text">Define security roles for users.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="card">
                    <a href="admin/manageworktypes" >
                        <div class="card-header bg-alt"><span class="fa fa-sitemap fa-2x card-icon"></span> Work Types</div>
                        <div class="card-body">
                            <p class="card-text">Create base work types. Company work types will be mapped against these standard types.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="card">
                    <a href="admin/worktypemapping">
                        <div class="card-header bg-alt"><span class="fa fa-project-diagram fa-2x card-icon"></span> Map Company Work Types</div>
                        <div class="card-body">
                            <p class="card-text">Assign company work types to GadgIT work types.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="card">
                    <a href="admin/managecompanies">
                        <div class="card-header bg-alt"><span class="fa fa-file-alt fa-2x card-icon"></span> Company Details</div>
                        <div class="card-body">
                            <p class="card-text">Maintain your company profile and settings.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="card">
                    <a href="admin/manageusers">
                        <div class="card-header bg-alt"><span class="fa fa-id-card fa-2x card-icon"></span> Manage Users</div>
                        <div class="card-body">
                            <p class="card-text">Create and maintain users.</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>






