@page "/admin"

<h3>Admin</h3>


<li class="nav-item px-3">
    <NavLink class="nav-link" href="admin/manageuserroles">
         Manage Roles
    </NavLink>
</li>

<li class="nav-item px-3">
    <NavLink class="nav-link" href="admin/manageusers">
         Manage Users
    </NavLink>
</li>

<li class="nav-item px-3">
    <NavLink class="nav-link" href="admin/manageworktypes">
         Manage Work Types
    </NavLink>
</li>

<li class="nav-item px-3">
    <NavLink class="nav-link" href="admin/managecompanies">
         Manage Company
    </NavLink>
</li>

<li class="nav-item px-3">
    <NavLink class="nav-link" href="admin/companydetails">
        Company Details
    </NavLink>
</li>

<li class="nav-item px-3">
    <NavLink class="nav-link" href="admin/newpage">
        New Page
    </NavLink>
</li>
