USE [P4W_OR_RESI_V5_DEV]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_OR_RESI_SDLT_Breakdown]    Script Date: 26/06/2020 10:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* =============================================
  Author:		Mihaly Szijjarto (Orchard Rock Development)
  Create date:	14/09/2018
  Description:	Calculates and displays the brakedown of SDLT
				
  Test:		
		SELECT Band_From_To,Percentage,Taxable,SDLT_DueChar FROM fn_OR_RESI_SDLT_Breakdown ('AWK000000000001',5)
		SELECT * FROM fn_OR_RESI_SDLT_Breakdown ('CRO000000000001',12)

				SELECT Additional_Property, SDLT_FTB, Purchase_Price,postcode
				FROM Usr_OR_RESI_MT m
				inner join Usr_OR_RESI_MT_Property p on m.EntityRef = p.EntityRef and m.MatterNo = p.MatterNo
				WHERE m.EntityRef = 'AWK000000000001' AND m.MatterNo = 5
				
				--Alter Purchase Price
				UPDATE Usr_OR_RESI_MT SET 
				Purchase_Price = 39999+1
				WHERE EntityRef = 'AWK000000000001' AND MatterNo = 5

				--Alter to "Additional Property" Option
				UPDATE Usr_OR_RESI_MT_Property SET 
				Additional_Property = 'Y'
				,SDLT_FTB = 'N'
				WHERE EntityRef = 'AWK000000000001' AND MatterNo = 5

				--Alter to "First Time Buyer" Option
				UPDATE Usr_OR_RESI_MT_Property SET 
				Additional_Property = 'N'
				,SDLT_FTB = 'Y'
				WHERE EntityRef = 'AWK000000000001' AND MatterNo = 5

				--Alter to "Normal" Option
				UPDATE Usr_OR_RESI_MT SET 
				Additional_Property = 'N'
				,SDLT_FTB = 'N'
				WHERE EntityRef = 'AWK000000000001' AND MatterNo = 5
			
		SELECT * FROM fn_OR_RESI_SDLT_Breakdown ('AWK000000000001',5)
  History: 

     
============================================= */

ALTER FUNCTION [dbo].[fn_OR_RESI_SDLT_Breakdown]
(
	@EntityRef varchar(15)
	,@MatterNo int
)
RETURNS @SDLT TABLE
(
	ID int
	,Band_From_To varchar(150)
	,UpperBand decimal(18,2)
	,Percentage varchar(20)
	,Taxable varchar(100)
	,SDLT_Due decimal(18,2)
	,SDLT_DueChar varchar(100)

)
AS
BEGIN

	DECLARE @PurchPrice decimal(18,2)
	,@Coef varchar(10)
	,@FTB_UpperLimit decimal(18,2)
	,@Country varchar(20)
	
	--Get purchase price and coefficient (First time buyer / Additional Property / Normal) from matter
	SELECT @PurchPrice = Purchase_Price 
	FROM Usr_OR_RESI_MT
	WHERE EntityRef = @EntityRef
	AND MatterNo = @MatterNo

	SELECT @Country = ISNULL(Add_Wales_or_England, CASE WHEN (
								SELECT CASE WHEN LEN(REPLACE(Postcode, ' ', '')) > 6 
								THEN LEFT(Postcode, 4)
								WHEN LEN(REPLACE(Postcode, ' ', '')) < 6 
								THEN LEFT(Postcode, 2)
								ELSE LEFT(ISNULL(Postcode,''), 3)
								END )
	IN ('CF1','CF2','CF3','CF31','CF32','CF33','CF34','CF35','CF36','CF37','CF38','CF39'
	,'CF4','CF40','CF41','CF42','CF43','CF44','CF45','CF46','CF47','CF48','CF5','CF61'
	,'CF62','CF63','CF64','CF71','CF72','CF81','CF82','CF83','CH1','CH4','CH5','CH6'
	,'CH7','CH8','HR3','HR5','LD1','LD2','LD3','LD4','LD5','LD6','LD7','LD8','LL11'
	,'LL12','LL13','LL14','LL15','LL16','LL17','LL18','LL19','LL20','LL21','LL22','LL23'
	,'LL24','LL25','LL26','LL27','LL28','LL29','LL30','LL31','LL32','LL33','LL34','LL35'
	,'LL36','LL37','LL38','LL39','LL40','LL41','LL42','LL43','LL44','LL45','LL46','LL47'
	,'LL48','LL49','LL51','LL52','LL53','LL54','LL55','LL56','LL57','LL58','LL59','LL60'
	,'LL61','LL62','LL64','LL65','LL66','LL67','LL68','LL69','LL70','LL71','LL72','LL73'
	,'LL74','LL75','LL76','LL77','LL78','NP1','NP10','NP19','NP2','NP20','NP23','NP3','NP4'
	,'NP44','NP5','NP6','NP7','NP8','NP9','SA1','SA10','SA11','SA12','SA13','SA14','SA15'
	,'SA16','SA17','SA18','SA19','SA2','SA20','SA3','SA31','SA32','SA33','SA34','SA35'
	,'SA36','SA37','SA38','SA39','SA4','SA40','SA41','SA42','SA43','SA44','SA45','SA46'
	,'SA47','SA48','SA5','SA6','SA61','SA62','SA63','SA64','SA65','SA66','SA67','SA68'
	,'SA69','SA7','SA70','SA71','SA72','SA73','SA8','SA9','SY10','SY13','SY14','SY15'
	,'SY16','SY17','SY18','SY19','SY20','SY21','SY22','SY23','SY24','SY25','SY5')
		THEN 'Wales'
		ELSE 'England' END)
	,@Coef = CASE WHEN ISNULL(Additional_Property,'N') = 'Y'
		THEN 'AP'
		WHEN ISNULL(SDLT_FTB,'N') = 'Y'
		THEN 'FTB'
		ELSE 'Normal'
		END
	FROM Usr_OR_RESI_MT_Property
	WHERE EntityRef = @EntityRef
	AND MatterNo = @MatterNo

	SELECT Add_Wales_or_England FROM Usr_OR_RESI_MT_Property

	--Get the upper limit of First time buyer relief
	SELECT TOP (1) @FTB_UpperLimit = Upper_Band
	FROM Usr_OR_RESI_DEF_StampDutyBands
	WHERE First_Time_Buyer = 'Y'
	ORDER BY Upper_Band DESC

	IF @Country = 'England'
	BEGIN
		IF @Coef = 'Normal' OR @PurchPrice > @FTB_UpperLimit OR @Coef = 'AP'
		BEGIN
			INSERT INTO @SDLT (ID 
			,Band_From_To 
			,UpperBand 
			,Percentage 
			,Taxable
			,SDLT_Due
			,SDLT_DueChar
			)
			SELECT ID
			, CASE WHEN Upper_Band IS NOT NULL 
			THEN
				'Up to £'  + CAST(CAST(Upper_Band as decimal(18,0)) as varchar)										--Band_From_To
			ELSE
				'Over £'  + CAST(CAST(Lower_Band as decimal(18,0)) as varchar)										--Band_From_To
			END
			, Upper_Band																							--UpperBand
			, CASE WHEN @Coef = 'AP'																				--Percentage
					THEN CAST(CAST((Percentage+0.03)*100 as decimal(18,2))  as varchar) + '%'
					ELSE CAST(CAST(Percentage*100 as decimal(18,2))  as varchar) + '%'
					END
			, '£' + 																								--Taxable Additional Property
					CASE WHEN @Coef = 'AP'
					THEN
						CAST(FLOOR(CAST(CASE 
						WHEN @PurchPrice < 40000
						THEN 0.00
						WHEN @PurchPrice BETWEEN Lower_Band AND ISNULL(Upper_Band,9999999999)
						THEN @PurchPrice - Lower_Band
						WHEN @PurchPrice >= ISNULL(Upper_Band,9999999999)
						THEN Upper_Band-Lower_Band
						ELSE 0.00
						END as decimal(18,2) ) ) as varchar)
					ELSE																							--Taxable Normal
						CAST(FLOOR(CAST(CASE 
						WHEN Percentage = 0.00
						THEN 0.00
						WHEN @PurchPrice BETWEEN Lower_Band AND ISNULL(Upper_Band,9999999999)
						THEN @PurchPrice - Lower_Band
						WHEN @PurchPrice >= ISNULL(Upper_Band,9999999999)
						THEN Upper_Band-Lower_Band
						ELSE 0.00
						END as decimal(18,2) ) ) as varchar)
					END
			, CASE WHEN @Coef = 'AP'																				--SDLT_Due Additional Property
					THEN
					FLOOR(CASE WHEN @PurchPrice < 40000
					THEN CAST(0.00*(Percentage+0.03) as decimal(18,2) ) 
					WHEN @PurchPrice BETWEEN Lower_Band AND ISNULL(Upper_Band,9999999999)
					THEN CAST((@PurchPrice - Lower_Band)*(Percentage+0.03) as decimal(18,2) ) 
					WHEN @PurchPrice >= ISNULL(Upper_Band,9999999999)
					THEN CAST((Upper_Band-Lower_Band)*(Percentage+0.03) as decimal(18,2) ) 
					ELSE CAST(0.00*(Percentage+0.03) as decimal(18,2) ) 
					END ) 
					ELSE
					FLOOR(CASE WHEN @PurchPrice BETWEEN Lower_Band AND ISNULL(Upper_Band,9999999999)								--SDLT_Due Normal
					THEN CAST((@PurchPrice - Lower_Band)*Percentage as decimal(18,2) ) 
					WHEN @PurchPrice >= ISNULL(Upper_Band,9999999999)
					THEN CAST((Upper_Band-Lower_Band)*Percentage as decimal(18,2) ) 
					ELSE CAST(0.00*Percentage as decimal(18,2) ) 
					END  )
					END
			, CASE WHEN @Coef = 'AP'																				--SDLT_DueChar Additional Property
					THEN
					'£'+ CAST(FLOOR(CAST(CASE WHEN @PurchPrice < 40000
					THEN CAST(0.00*(Percentage+0.03) as decimal(18,2) ) 
					WHEN @PurchPrice BETWEEN Lower_Band AND ISNULL(Upper_Band,9999999999)
					THEN CAST((@PurchPrice - Lower_Band)*(Percentage+0.03) as decimal(18,2) ) 
					WHEN @PurchPrice >= ISNULL(Upper_Band,9999999999)
					THEN CAST((Upper_Band-Lower_Band)*(Percentage+0.03) as decimal(18,2) ) 
					ELSE CAST(0.00*(Percentage+0.03) as decimal(18,2) ) 
					END as decimal(18,2) ) ) as varchar)
					ELSE
					'£'+ CAST(FLOOR(CAST(CASE WHEN @PurchPrice BETWEEN Lower_Band AND ISNULL(Upper_Band,9999999999)					--SDLT_DueChar Normal
					THEN CAST((@PurchPrice - Lower_Band)*Percentage as decimal(18,2) ) 
					WHEN @PurchPrice >= ISNULL(Upper_Band,9999999999)
					THEN CAST((Upper_Band-Lower_Band)*Percentage as decimal(18,2) ) 
					ELSE CAST(0.00*Percentage as decimal(18,2) ) 
					END as decimal(18,2) ) ) as varchar)
					END
			FROM Usr_OR_RESI_DEF_StampDutyBands
			WHERE First_Time_Buyer = 'N'
			AND ISNULL(Country,'England') = 'England'
			ORDER BY Lower_Band
	
		END
		ELSE IF @Coef = 'FTB'
		BEGIN
			INSERT INTO @SDLT (ID 
			,Band_From_To 
			,UpperBand 
			,Percentage 
			,Taxable
			,SDLT_Due
			,SDLT_DueChar
			)
			SELECT ID
			, CASE WHEN Upper_Band IS NOT NULL 
			THEN
				'Up to £'  + CAST(CAST(Upper_Band as decimal(18,0)) as varchar)										--Band_From_To
			ELSE
				'Over £'  + CAST(CAST(Lower_Band as decimal(18,0)) as varchar)										--Band_From_To
			END
			, Upper_Band																							--UpperBand
			, CAST(CAST(Percentage*100 as decimal(18,3) ) as varchar) + '%'											--Percentage
			, '£' + CAST(FLOOR(CAST(CASE 
					WHEN Percentage = 0.00
					THEN 0.00
					WHEN @PurchPrice BETWEEN Lower_Band AND ISNULL(Upper_Band,9999999999)												--Taxable
					THEN @PurchPrice - Lower_Band
					WHEN @PurchPrice >= ISNULL(Upper_Band,9999999999)
					THEN Upper_Band-Lower_Band
					ELSE 0.00
					END as decimal(18,2) ) ) as varchar)
			, FLOOR(CASE WHEN @PurchPrice BETWEEN Lower_Band AND ISNULL(Upper_Band,9999999999)									--SDLT_Due
					THEN CAST((@PurchPrice - Lower_Band)*Percentage as decimal(18,2) ) 
					WHEN @PurchPrice >= ISNULL(Upper_Band,9999999999)
					THEN CAST((Upper_Band-Lower_Band)*Percentage as decimal(18,2) ) 
					ELSE CAST(0.00*Percentage as decimal(18,2) ) 
					END )
			, '£'+ CAST(FLOOR(CAST(CASE WHEN @PurchPrice BETWEEN Lower_Band AND ISNULL(Upper_Band,9999999999)							--SDLT_DueChar
					THEN CAST((@PurchPrice - Lower_Band)*Percentage as decimal(18,2) ) 
					WHEN @PurchPrice >= ISNULL(Upper_Band,9999999999)
					THEN CAST((Upper_Band-Lower_Band)*Percentage as decimal(18,2) ) 
					ELSE CAST(0.00*Percentage as decimal(18,2) ) 
					END as decimal(18,2) ) ) as varchar)
			FROM Usr_OR_RESI_DEF_StampDutyBands
			WHERE First_Time_Buyer = 'Y'
			AND ISNULL(Country,'England') = 'England'
			ORDER BY Lower_Band
		END
	END
	ELSE IF @Country = 'Wales'
	BEGIN
		INSERT INTO @SDLT (ID 
		,Band_From_To 
		,UpperBand 
		,Percentage 
		,Taxable
		,SDLT_Due
		,SDLT_DueChar
		)
		SELECT ID
		, CASE WHEN Upper_Band IS NOT NULL 
			THEN
				'Up to £'  + CAST(CAST(Upper_Band as decimal(18,0)) as varchar)										--Band_From_To
			ELSE
				'Over £'  + CAST(CAST(Lower_Band as decimal(18,0)) as varchar)										--Band_From_To
			END
		, Upper_Band																							--UpperBand
		, CASE WHEN @Coef = 'AP'																				--Percentage
				THEN CAST(CAST((Percentage+0.03)*100 as decimal(18,2))  as varchar) + '%'
				ELSE CAST(CAST(Percentage*100 as decimal(18,2))  as varchar) + '%'
				END
		, '£' + 																								--Taxable Additional Property
				CASE WHEN @Coef = 'AP'
				THEN
					CAST(FLOOR(CAST(CASE 
					WHEN @PurchPrice < 40000
					THEN 0.00
					WHEN @PurchPrice BETWEEN Lower_Band AND ISNULL(Upper_Band,9999999999)
					THEN @PurchPrice - Lower_Band
					WHEN @PurchPrice >= ISNULL(Upper_Band,9999999999)
					THEN Upper_Band-Lower_Band
					ELSE 0.00
					END as decimal(18,2) ) ) as varchar)
				ELSE																							--Taxable Normal
					CAST(FLOOR(CAST(CASE 
					WHEN Percentage = 0.00
					THEN 0.00
					WHEN @PurchPrice BETWEEN Lower_Band AND ISNULL(Upper_Band,9999999999)
					THEN @PurchPrice - Lower_Band
					WHEN @PurchPrice >= ISNULL(Upper_Band,9999999999)
					THEN Upper_Band-Lower_Band
					ELSE 0.00
					END as decimal(18,2) ) ) as varchar)
				END
		, CASE WHEN @Coef = 'AP'																				--SDLT_DueChar Additional Property
				THEN
				FLOOR(CASE WHEN @PurchPrice < 40000
				THEN CAST(0.00*(Percentage+0.03) as decimal(18,2) ) 
				WHEN @PurchPrice BETWEEN Lower_Band AND ISNULL(Upper_Band,9999999999)
				THEN CAST((@PurchPrice - Lower_Band)*(Percentage+0.03) as decimal(18,2) ) 
				WHEN @PurchPrice >= ISNULL(Upper_Band,9999999999)
				THEN CAST((Upper_Band-Lower_Band)*(Percentage+0.03) as decimal(18,2) ) 
				ELSE CAST(0.00*(Percentage+0.03) as decimal(18,2) ) 
				END )
				ELSE
				FLOOR(CASE WHEN @PurchPrice BETWEEN Lower_Band AND ISNULL(Upper_Band,9999999999)							--SDLT_DueChar Normal
				THEN CAST((@PurchPrice - Lower_Band)*Percentage as decimal(18,2) ) 
				WHEN @PurchPrice >= ISNULL(Upper_Band,9999999999)
				THEN CAST((Upper_Band-Lower_Band)*Percentage as decimal(18,2) ) 
				ELSE CAST(0.00*Percentage as decimal(18,2) ) 
				END )
				END
		, CASE WHEN @Coef = 'AP'																				--SDLT_DueChar Additional Property
				THEN
				'£'+ CAST(FLOOR(CAST(CASE WHEN @PurchPrice < 40000
				THEN CAST(0.00*(Percentage+0.03) as decimal(18,2) ) 
				WHEN @PurchPrice BETWEEN Lower_Band AND ISNULL(Upper_Band,9999999999)
				THEN CAST((@PurchPrice - Lower_Band)*(Percentage+0.03) as decimal(18,2) ) 
				WHEN @PurchPrice >= ISNULL(Upper_Band,9999999999)
				THEN CAST((Upper_Band-Lower_Band)*(Percentage+0.03) as decimal(18,2) ) 
				ELSE CAST(0.00*(Percentage+0.03) as decimal(18,2) ) 
				END as decimal(18,2) ) ) as varchar)
				ELSE
				'£'+ CAST(FLOOR(CAST(CASE WHEN @PurchPrice BETWEEN Lower_Band AND ISNULL(Upper_Band,9999999999)							--SDLT_DueChar Normal
				THEN CAST((@PurchPrice - Lower_Band)*Percentage as decimal(18,2) ) 
				WHEN @PurchPrice >= ISNULL(Upper_Band,9999999999)
				THEN CAST((Upper_Band-Lower_Band)*Percentage as decimal(18,2) ) 
				ELSE CAST(0.00*Percentage as decimal(18,2) ) 
				END as decimal(18,2) ) ) as varchar)
				END
		FROM Usr_OR_RESI_DEF_StampDutyBands
		WHERE First_Time_Buyer = 'N'
		AND ISNULL(Country,'England') = 'Wales'
		ORDER BY Lower_Band
	END
	RETURN

END

