@page "/companydetails"
@using Gizmo_V1_02.Pages.Admin.CompanyWorkTypeManagement

@if (!showMappingPage)
{
    <h3>Company Details</h3>
}

@if (showMappingPage)
{
    <CompanyWorkTypeManagementOverview></CompanyWorkTypeManagementOverview>
}
else
{
    <div class="shadow card" @onclick="(() => ToggleMappingPage())">Mapping Overview</div>
}
