@page "/"
@namespace Gizmo_V1_02.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}
<script>
    function ShowModal(modalId) {
        $('#' + modalId).modal('show');
    }
    function CloseModal(modalId) {
        $('#' + modalId).modal('hide');
    }
</script>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gizmo V1_00</title>
    <base href="~/" />
    <!-- Font awesome links -->
    <link href="fontawesome/css/all.css" rel="stylesheet">
    <script defer src="fontawesome/js/all.js"></script>
    <script src="~/jquery/jquery.min.js"></script>

    <script src="~/bootstrap/dist/js/bootstrap.js"></script>
    <link href="~/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="~/css/Custom/OR_Custom.css" rel="stylesheet" />
    <link href="/css/Custom/Fade.css" rel="stylesheet" />
    <link href="css/site.css" rel="stylesheet" />

</head>


<body>
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
