@page "/"

<div class="tran-block page-header-block">
    <h1>Welcome to GadJIT</h1>
    Custom tools and reports for Orchard Rock applications.
</div>

<div class="main-nav">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-8 col-lg-6 hidden-md-down">
            </div>
            <div class="col-xl-4 col-lg-6 hidden-md-down">
                <div class="flex-column advert-list">
                    <div class="card">
                        <a href="https://www.propertyfocus.co.uk" target="_blank">
                            <div class="card-header"><span class=""></span>Property Focus</div>
                            <div class="card-body">
                                <iframe allow="autoplay; fullscreen" allowfullscreen="" byline="false" frameborder="0" height="220" src="https://player.vimeo.com/video/359086097" title="false" width="480"></iframe>
                                
                            </div>
                            <div class="card-footer">
                                <p class="card-text">"Out of the box" Residential Workflow</p>
                            </div>
                        </a>
                    </div>

                    <div class="card">
                        <a href="https://www.orchardrock.co.uk/Products/P4WDebtCollection" target="_blank">
                            <div class="card-header"><span class=""></span>Debt Collection</div>
                            <div class="card-body card-body-reveal">
                                <img src="images/Misc/Debt_SS_Zoom.gif" loop=infinite />
                            </div>
                            <div class="card-footer">
                                <p class="card-text">Invoice Importer, Payment Management, Interest Calculations and much much more.</p>
                            </div>
                        </a>
                    </div>
                    <div class="card">
                        <a href="https://www.orchardrock.co.uk" target="_blank">
                            <div class="card-header"><span class=""></span>Case Reporting</div>
                            <div class="card-body card-body-reveal">
                                <img src="images/Misc/ORCA_SS_Zoom2.gif" loop=infinite />
                            </div>
                            <div class="card-footer">
                                <p class="card-text">ORCA is a light weight reporting application designed for ease of use and access.</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>