@page "/"

<div class="tran-block rounded">
    <h1>Hi there!</h1>
    Welcome to GadJIT. Custom tools and reports for Orchard Rock systems including propertyFocus.
</div>

@*<SurveyPrompt Title="How is GadJIT working for you?" />

<a href="admin/manageusers" class="btn btn-main">Enter</a>*@