@page "/"

<div class="text-block rounded">
    <h1>Hi there!</h1>
    Welcome to GadgIT. Custom tools and reports for Orchard Rock systems including propertyFocus.
</div>

<SurveyPrompt Title="How is GadgIT working for you?" />

<a href="admin/manageusers" class="btn btn-main">Enter</a>