@page "/system"

<div class="tran-block page-header-block">
    <h1>System Administration</h1>
    Manage company and system security and settings.
</div>

<div class="main-nav">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="card">
                    <a href="system/managecompanies">
                        <div class="card-header bg-alt"><span class="fa fa-building fa-2x card-icon"></span>Manage Companies</div>
                        <div class="card-body">
                            <p class="card-text">Maintain your company profile and settings.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="card">
                    <a href="system/manageuserroles">
                        <div class="card-header bg-alt"><span class="fa fa-users-cog fa-2x card-icon"></span>User Roles</div>
                        <div class="card-body">
                            <p class="card-text">Define security roles for users.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="card">
                    <a href="system/manageworktypes">
                        <div class="card-header bg-alt"><span class="fa fa-gavel fa-2x card-icon"></span>Work Types</div>
                        <div class="card-body">
                            <p class="card-text">Create base work types. Company work types will be mapped against these standard types.</p>
                        </div>
                    </a>
                </div>
            </div>
            
        </div>
    </div>
</div>
