h1 {
    font-size: calc(30px + 0.5vw);
}

label {
    font-size: calc(12px + 0.5vw);
}

.OR_ChapterItemTable {
    padding: 0px 40px 0px 40px;
}

.OR_ChapterItemTable table {
    width: 65%;
}

    .OR_btn-Nav:hover {
        background-color: lightgrey;
        border-radius: 5px;
        cursor: hand;
    }

.fa-arrow-circle-right:hover {
    background-color: lightgrey;
    border-radius: 100px;
    cursor: hand;
}

.fa-arrow-circle-down:hover {
    background-color: lightgrey;
    border-radius: 100px;
    cursor: hand;
}


.modal-title {
    font-size: calc(15px + 0.7vw);
}


.card {
    background-color: #F5F5F5;
    height: auto;
    font-size: calc(12px + 0.5vw);
    padding-top: 15px;
    padding-left: 20px;
    padding-bottom: 15px;
}

.subCard {
    background-color: #F5F5F5;
    height: auto;
    width: 100%;
    font-size: calc(10px + 0.5vw);
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 10px;
    vertical-align: middle;
    display: inline-block;
}
.card:hover {
    background-color: lightgray;
    cursor: hand;
    text-decoration: none;
}

.btn-primary:hover {
    background-color: cornflowerblue;
    cursor: hand;
}

.OR_list {
    border-color: lightgray;
    border-style: inset;
    border-radius: 10px;
}

.chapterCard_Leasehold{
    color: dodgerblue;
}
.chapterCard_Mortgage {
    color: yellowgreen;
}
.chapterCard_Pre-Completion {
    color: coral;
}
.chapterCard_Retention {
    color: cadetblue;
}
.chapterCard_Enquiries {
    color: orange;
}

.chapterItem_Agenda {
    color: dodgerblue;
}

.chapterItem_Fee {
    color: yellowgreen;
}

.chapterItem_Documents {
    color: coral;
}

.chapterItem_Status {
    color: cadetblue;
}

.caseType_Purchase {
    color: dodgerblue;
}

.caseType_Sale {
    color: yellowgreen;
}

.caseType_Remortgage {
    color: coral;
}

.caseType_Plot {
    color: cadetblue;
}

.caseType_Transfer {
    color: orange;
}