<EditForm Model="@TaskObject" OnValidSubmit="@HandleValidSubmit">

    <div class="form-group">
        @if (isCaseTypeOrGroup == "CaseType")
        {
            <label>Case Type</label>
        }
        else
        {
            <label>Case Type Group</label>
        }

        <InputText @bind-Value="TaskObject"></InputText>
    </div>
    <button type="submit" class="float-left btn btn-alt">Save Changes</button>
    <button type="button" class="float-left ml-2 btn btn-secondary" data-dismiss="modal">Cancel</button>

</EditForm>