@inject IJSRuntime jsRuntime

<div class="modal" tabindex="-1" role="dialog" id="chapterCaseTypeEdit">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Chapter</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <EditForm Model="@TaskObject" OnValidSubmit="@HandleValidSubmit">

                    <div class="form-group">
                        @if (isCaseTypeOrGroup == "CaseType")
                        {
                            <label>Case Type</label>
                        }
                        else
                        {
                            <label>Case Type Group</label>
                        }

                        <InputText @bind-Value="TaskObject"></InputText>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

                </EditForm>
            </div>
        </div>
    </div>
</div>
