
@if (workTypeGroups is null)
{
    <span class="spinner"></span>
}
else
{

    <div class="tran-block page-header-block ">
        <div class="float-left back-link">
            <NavLink href="admin"><span class="col-alt fa fa-angle-double-left"></span></NavLink>
        </div>
        <h3>Company Worktype Mapping</h3>
    </div>

    <div class="mb-4 col-xl-8 col-lg-12 col-md-12 col-sm-12">

        <div class="grid-tran rounded mt-3">
            <div class="container-fluid ">
                @foreach (var group in workTypeGroups)
                {
                    <div class="row grid-row mt-3">
                        <div class="col-11 col-xl-6 data-item-nav">
                            <a href="javascript:void(0);" @onclick='(() => ToggleGroupWorkTypes(group))' class="text-white" title="">
                                <div class="data-item-sub"><span class="fa fa-boxes mr-2"></span>@group.group.GroupName</div>
                            </a>
                        </div>
                    </div>

                    @if (group.showWorkType)
                    {
                        @foreach (var type in group.workTypes)
                        {
                            <div class="row grid-row-md mt-3">
                                <div class="col-1"></div>
                                <div class="col-11 col-xl-5 data-item-nav">
                                    <a href="javascript:void(0);" @onclick='(() => OpenWorkTypeMappingSelection(type.workType))' class="text-white" title="">
                                        <div class="data-item-sub"><span class="fa fa-folder-open mr-2"></span>@type.workType.TypeName<span class="nav-link-right fa fa-chevron-circle-right"></span></div>

                                    </a>
                                </div>
                            </div>
                        }
                    }
                }
            </div>
        </div>
    </div>
}
