@page "/admin/manageuserroles"


<div class="text-block rounded ">
    <div class="float-left back-link">
        <NavLink href="admin"><span class="col-main fa fa-angle-double-left fa-2x"></span></NavLink>
    </div>
    <h3>Manage User Roles</h3>
</div>


@if (lstRoles is null)
{
    <div class="spinner"></div>
}
else
{
        <div class="mt-5 col-xl-8 col-lg-12 col-md-12 col-sm-12">
            <div class="mb-3">
                <button data-toggle="modal" data-target="#roleModal" @onclick='(() => PrepareForInsert())' class="btn btn-main btn-shadow"><i class="fa fa-plus"></i> Add New Role</button>
            </div>
            <div class="grid-tran">
                <div class="container-fluid ">
                    <div class="row grid-header hidden-lg-down">
                        <div class="col-xl-4 col-lg-11 col-md-11 col-sm-11 data-item"><div class="data-item-sub">Name</div></div>
                        <div class="col-7 hidden-lg-down data-item"><div class="data-item-sub">Description</div></div>
                        <div class="col-1 data-item no-border"><div class="data-item-sub no-tran"></div></div>
                    </div>
                    @foreach (var role in lstRoles)
                    {
                        <div class="row grid-row">
                            <div class="col-xl-4 col-lg-11 col-md-11 col-sm-11 data-item"><div class="data-item-sub"><span class="fa fa-user-alt "></span> @role.Name</div></div>
                            <div class="col-7 hidden-lg-down data-item"><div class="data-item-sub">@role.RoleDescription</div></div>
                            <div class="col-1 data-item"><div class="data-item-edit"><button class="btn btn-edit" @onclick='(() => PrepareForEdit(role))' data-toggle="modal" data-target="#roleModal" value=""><i class="fa fa-pencil-alt"></i></button></div></div>
                        </div>

                    }

                </div>
            </div>
        </div>

        }

        <RoleDetail TaskObject="@editRole" DataChanged="@DataChanged"></RoleDetail>
