
/****** Object:  StoredProcedure [dbo].[up_OR_Import_Invoices_Create_Posting_Slip]    Script Date: 29/01/2020 14:55:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*
-- =============================================
-- Author:		Jordan duggan (Orchard Rock Development Ltd)
-- CREATE date: 01/10/2019
-- Description:	Procedure that does basic validation checks on data in the staging table
				updates the valid column with a description of the error if one is encountered

-- Test:		exec up_OR_Import_Invoices_Create_Posting_Slip 'TFB'
				SELECT valid,EntityAdditionalTypes FROM Usr_OR_Import_Invoice_Columns
				
				UPDATE Usr_OR_Import_Invoice_Columns
				sEt invoice_number = '210120Expsssexxx'

				SELECT * FROM Usr_OR_Import_Invoice_Columns
				SELECT * FROM Ac_Posting_Slips WHERE REF Like '%KW2491%'
				SELECT * FROM AcPLNLSlipAllocation sa
				INNER JOIN Ac_Posting_Slips ps on ps.SlipNo = sa.SlipNo
				WHERE ps.Ref Like '%KW2491%'


				DELETE FROM Ac_Posting_Slips WHERE PostingCode = 'PIN'
				DELETE FROM Ac_Posting_Slips_PL WHERE SuppliersReference = 'XX1' 
				
				UPDATE AcPLNLSlipAllocation
				SET Seq

				DELETE FROM AcPLNLSlipAllocation WHERE slipno = '220' 
				SELECT * FROM AcPLCLSlipAllocation
				DELETE FROM AcPLCLSlipAllocation WHERE slipno = '110' 
				UPDATE Ac_Posting_Slips SET LockingInfo = 'ORD003' WHERE REF = 'T02764/0'

				SELECT * FROM Ac_Posting_Slips_Attachments
				SELECT * FROM Cm_Steps  WHERE ItemID = 4954
				DELETE FROM Cm


-- Field Mapping:

-- Header
		  ID					  = Auto
		  PostingCode			  = 'PIN'
		  BatchNo				  = Generated
		  SlipNo				  = Generated
		  Status				  = 'U'
		  PostedDate			  = Invoice_Date 
		  BranchRef				  = TBC (May be included in csv)
		  CostCentre			  = -1
		  AcCode				  = NULL
		  Client1Code			  = (Entityref of Supplier_Name) 
		  Client1MatterNo		  = -1
		  Client2Code			  = NULL
		  Client2MatterNo		  = -1
		  Bank1ID				  = -1
		  Bank2ID				  = -1
		  Ref					  = Invoice_Number
		  Narrative1			  = Description
		  Narrative2			  = ''
		  Narrative3			  = ''
		  PaymentType			  = 'MANUAL'
		  LeadDays				  = -1
		  PayeePayer			  = NULL
		  Originator			  = GetCurrentUser at screen side
		  ChequePrintingOptions	  = 0
		  VAT					  = Tax
		  DisbCatCode			  = NULL
		  TotalAmount			  = Amount
		  Cashier				  = GetCurrentUser (May need further discussion)
		  LockingInfo			  = NULL
		  Printed				  = 1
		  ActualPostingDate		  = GetTodaysDate
		  CounselFees			  = 0
		  FundAccountNo			  = NULL
		  IsokonPostingID		  = NULL
		  Description			  = NULL
		  Expense				  = 0
		  ExpenseAmount			  = 0.0000
		  ExpenseCostCentre		  = -1
		  ExpenseNominalCode	  = NULL
		  SafeDays				  = NULL
		  DocStepID				  = 0
		  ApprovalDate			  = NULL
		  ProcessedDate			  = NULL
		  ApprovalUser			  = ''
		  UTBMSTaskCode			  = ''
		  ApprovalDate_2		  = NULL
		  ApprovalUser_2		  = ''
		  Branch2Ref			  = -1
		  UTBMSExpenseCode		  = ''
		  AgencyPaymentInd		  = 0
		  RingFence				  = 0
		  RingFenceAmount		  = 0.00
		  UseRingFence			  = 0
		  UseRingFenceAmount	  = 0.00
		  RingFenceNarrative	  = ''
		  UseRingFenceNarrative	  = ''
		  VatId					  = 6 (May need more investigation)

-- =============================================
*/

ALTER PROCEDURE [dbo].[up_OR_Import_Invoices_Create_Posting_Slip]
(
@User VARCHAR(15) 
)
AS
BEGIN
	SET DATEFORMAT DMY

	-- SUBJECT TO CHANGE (Office charges must have different nominal codes)
	DECLARE @NominalCode INT = 1010
	--

	-- GEN ID FOR Attachment
	DECLARE @IDNum INT
	--

	DECLARE @Vendor VARCHAR(15) = ''
	DECLARE @CurrentDate DATETIME = GETDATE()

	DECLARE @SameTest INT = 1
	DECLARE @Seq INT = 1
	DECLARE @Item VARCHAR(50)
	DECLARE @Description VARCHAR(50)
	DECLARE @RowID INT
	DECLARE @SupplierName VARCHAR(100)

	-- INSERT Header items to posting slips table
	DECLARE curClear CURSOR FOR 
	SELECT 
    DISTINCT Invoice_Number
	FROM Usr_OR_Import_Invoice_Columns
	WHERE Validation_Status = 'Valid'
	
	OPEN curClear  
	FETCH NEXT FROM curClear INTO @Description
	
	WHILE @@FETCH_STATUS = 0  
	BEGIN 
		EXECUTE @IDNum = sp_GetNextCm_CaseItem_no @IDNum 
	 
		SELECT TOP 1 @RowID = ID 
		FROM Usr_OR_Import_Invoice_Columns
		WHERE Invoice_Number = @Description

		SELECT @SupplierName = Supplier_Name 
					FROM Usr_OR_Import_Invoice_Columns 
					WHERE ID = @RowID

		--SupplierCode
		SELECT @Vendor = Code 
		FROM Entities
		WHERE Name = @SupplierName 
			OR LegalName = @SupplierName
			OR EnvelopeName = @SupplierName 
			OR Code = @SupplierName
			OR ShortCode = @SupplierName
				
		DECLARE @Slip_Batch_No INT, @Slip_No INT

		EXEC @Slip_Batch_No = sp_GetNextSlip_Batch_No @Slip_Batch_No


		IF (SELECT CAST(Shipping AS money) FROM Usr_OR_Import_Invoice_Columns WHERE ID = @RowID) <> 0.00
		BEGIN
			EXEC @Slip_No = sp_GetNextSlip_No @Slip_No

			INSERT INTO Ac_Posting_Slips
			(					 
			PostingCode			 
			,BatchNo				
			,SlipNo				 
			,Status				 
			,PostedDate			 
			,BranchRef				 
			,CostCentre			 
			,AcCode				 
			,Client1Code			 
			,Client1MatterNo		 
			,Client2Code			 
			,Client2MatterNo		 
			,Bank1ID				 
			,Bank2ID				 
			,Ref					 
			,Narrative1			 
			,Narrative2			 
			,Narrative3			 
			,PaymentType			 
			,LeadDays				 
			,PayeePayer			 
			,Originator			 
			,ChequePrintingOptions	 
			,VAT					 
			,DisbCatCode			 
			,TotalAmount			 
			,Cashier				 
			,LockingInfo			 
			,Printed				 
			,ActualPostingDate		 
			,CounselFees			 
			,FundAccountNo			 
			,IsokonPostingID		 
			,Description			 
			,Expense				 
			,ExpenseAmount			 
			,ExpenseCostCentre		 
			,ExpenseNominalCode	 
			,SafeDays				 
			,DocStepID				 
			,ApprovalDate			 
			,ProcessedDate			 
			,ApprovalUser			 
			,UTBMSTaskCode			 
			,ApprovalDate_2		 
			,ApprovalUser_2		 
			,Branch2Ref			 
			,UTBMSExpenseCode		 
			,AgencyPaymentInd		 
			,RingFence				 
			,RingFenceAmount		 
			,UseRingFence			 
			,UseRingFenceAmount	 
			,RingFenceNarrative	 
			,UseRingFenceNarrative	 
			,VatId					 
			)
			SELECT				
			'PIN'				--PostingCode			
			,@Slip_Batch_No		--BatchNo				
			,@Slip_No			--SlipNo				
			,'U'				--Status				
			,Invoice_Date 		--PostedDate			
			,(SELECT Code FROM Branches WHERE Description = Branch)					--BranchRef   (Change When Kindleworth gets back)				
			,-1					--CostCentre			
			,NULL				--AcCode				
			,@Vendor 			--Client1Code			
			,-1					--Client1MatterNo		
			,NULL				--Client2Code			
			,-1					--Client2MatterNo		
			,-1					--Bank1ID				
			,-1					--Bank2ID				
			,Invoice_Number		--Ref					
			,Description		--Narrative1			
			,''					--Narrative2			
			,''					--Narrative3			
			,'MANUAL'			--PaymentType			
			,-1					--LeadDays				
			,NULL				--PayeePayer			
			,@User				--Originator			
			,0					--ChequePrintingOptions	
			,0					--VAT					
			,NULL				--DisbCatCode			
			,Shipping			--TotalAmount			
			,NULL				--Cashier				
			,NULL				--LockingInfo			
			,1					--Printed				
			,@CurrentDate		--ActualPostingDate		
			,0					--CounselFees			
			,NULL				--FundAccountNo			
			,NULL				--IsokonPostingID		
			,NULL				--Description			
			,0					--Expense				
			,0.0000				--ExpenseAmount			
			,-1					--ExpenseCostCentre		
			,NULL				--ExpenseNominalCode	
			,NULL				--SafeDays				
			,0					--DocStepID				
			,NULL				--ApprovalDate			
			,NULL				--ProcessedDate			
			,''					--ApprovalUser			
			,''					--UTBMSTaskCode			
			,NULL				--ApprovalDate_2		
			,''					--ApprovalUser_2		
			,-1					--Branch2Ref			
			,''					--UTBMSExpenseCode		
			,0					--AgencyPaymentInd		
			,0					--RingFence				
			,0.00				--RingFenceAmount		
			,0					--UseRingFence			
			,0.00				--UseRingFenceAmount	
			,''					--RingFenceNarrative	
			,''					--UseRingFenceNarrative	
			,6					--VatId					
			FROM Usr_OR_Import_Invoice_Columns
			WHERE ID = @RowID

			INSERT INTO Ac_Posting_Slips_PL
			(
			SlipNo	
			,SuppliersReference	
			,NetAmount	
			,VatAmount	
			,DiscountNet	
			,DiscountVat	
			,VATPoint	
			,PaymentAddress	
			,PaymentStatus	
			,CreditInvoice
			)
			SELECT
			@Slip_No
			,Invoice_Number
			,Shipping
			,0
			,0
			,0
			,6				--May need to calculate this from VAT
			,0
			,'D'
			,0
			FROM Usr_OR_Import_Invoice_Columns
			WHERE ID = @RowID

		END


		EXEC @Slip_No = sp_GetNextSlip_No @Slip_No

		IF @Slip_Batch_No IS NULL OR @Slip_No IS NULL
		BEGIN
			SELECT 'Unable to get next Batch and Slip numbers'
			RETURN -1
		END
			
		INSERT INTO Ac_Posting_Slips
		(					 
		PostingCode			 
		,BatchNo				 
		,SlipNo				 
		,Status				 
		,PostedDate			 
		,BranchRef				 
		,CostCentre			 
		,AcCode				 
		,Client1Code			 
		,Client1MatterNo		 
		,Client2Code			 
		,Client2MatterNo		 
		,Bank1ID				 
		,Bank2ID				 
		,Ref					 
		,Narrative1			 
		,Narrative2			 
		,Narrative3			 
		,PaymentType			 
		,LeadDays				 
		,PayeePayer			 
		,Originator			 
		,ChequePrintingOptions	 
		,VAT					 
		,DisbCatCode			 
		,TotalAmount			 
		,Cashier				 
		,LockingInfo			 
		,Printed				 
		,ActualPostingDate		 
		,CounselFees			 
		,FundAccountNo			 
		,IsokonPostingID		 
		,Description			 
		,Expense				 
		,ExpenseAmount			 
		,ExpenseCostCentre		 
		,ExpenseNominalCode	 
		,SafeDays				 
		,DocStepID				 
		,ApprovalDate			 
		,ProcessedDate			 
		,ApprovalUser			 
		,UTBMSTaskCode			 
		,ApprovalDate_2		 
		,ApprovalUser_2		 
		,Branch2Ref			 
		,UTBMSExpenseCode		 
		,AgencyPaymentInd		 
		,RingFence				 
		,RingFenceAmount		 
		,UseRingFence			 
		,UseRingFenceAmount	 
		,RingFenceNarrative	 
		,UseRingFenceNarrative	 
		,VatId					 
		)
		SELECT				
		'PIN'				--PostingCode			
		,@Slip_Batch_No		--BatchNo				
		,@Slip_No			--SlipNo				
		,'U'				--Status				
		,Invoice_Date 		--PostedDate			
		,(SELECT Code FROM Branches WHERE Description = Branch)					--BranchRef   (Change When Kindleworth gets back)				
		,-1					--CostCentre			
		,NULL				--AcCode				
		,@Vendor 			--Client1Code			
		,-1					--Client1MatterNo		
		,NULL				--Client2Code			
		,-1					--Client2MatterNo		
		,-1					--Bank1ID				
		,-1					--Bank2ID				
		,Invoice_Number		--Ref					
		,Description		--Narrative1			
		,''					--Narrative2			
		,''					--Narrative3			
		,'MANUAL'			--PaymentType			
		,-1					--LeadDays				
		,NULL				--PayeePayer			
		,@User				--Originator			
		,0					--ChequePrintingOptions	
		,0					--VAT					
		,NULL				--DisbCatCode			
		,Amount				--TotalAmount			
		,NULL				--Cashier				
		,NULL				--LockingInfo			
		,1					--Printed				
		,@CurrentDate		--ActualPostingDate		
		,0					--CounselFees			
		,NULL				--FundAccountNo			
		,NULL				--IsokonPostingID		
		,NULL				--Description			
		,0					--Expense				
		,0.0000				--ExpenseAmount			
		,-1					--ExpenseCostCentre		
		,NULL				--ExpenseNominalCode	
		,NULL				--SafeDays				
		,0					--DocStepID				
		,NULL				--ApprovalDate			
		,NULL				--ProcessedDate			
		,''					--ApprovalUser			
		,''					--UTBMSTaskCode			
		,NULL				--ApprovalDate_2		
		,''					--ApprovalUser_2		
		,-1					--Branch2Ref			
		,''					--UTBMSExpenseCode		
		,0					--AgencyPaymentInd		
		,0					--RingFence				
		,0.00				--RingFenceAmount		
		,0					--UseRingFence			
		,0.00				--UseRingFenceAmount	
		,''					--RingFenceNarrative	
		,''					--UseRingFenceNarrative	
		,6					--VatId					
		FROM Usr_OR_Import_Invoice_Columns
		WHERE ID = @RowID

		IF (SELECT Tax FROM Usr_OR_Import_Invoice_Columns WHERE ID = @RowID) <> ''
		AND (SELECT Tax FROM Usr_OR_Import_Invoice_Columns WHERE ID = @RowID) IS NOT NULL
		BEGIN
			
			INSERT INTO Ac_Posting_Slips_Vat
			(
			SlipNo
			,VATID
			,Net
			,VAT
			,OutputNet
			,OutputVAT
			)
			SELECT
			@Slip_No
			,0
			,Total_Amount_Due
			,Tax
			,0
			,0
			FROM Usr_OR_Import_Invoice_Columns
			WHERE ID = @RowID
		END

		INSERT INTO Ac_Posting_Slips_PL
		(
		SlipNo	
		,SuppliersReference	
		,NetAmount	
		,VatAmount	
		,DiscountNet	
		,DiscountVat	
		,VATPoint	
		,PaymentAddress	
		,PaymentStatus	
		,CreditInvoice
		)
		SELECT
		@Slip_No
		,Invoice_Number
		,Amount
		,Tax
		,0
		,0
		,6				--May need to calculate this from VAT
		,0
		,'D'
		,0
		FROM Usr_OR_Import_Invoice_Columns
		WHERE ID = @RowID


	
		INSERT INTO Cm_Steps
		(
		ItemID
		,DocumentRef
		,SentDate
		,FileName
		,Type
		,Deleted
		,DiaryDate
		,Taker
		,SpclFlags
		,StepFlags
		,MacroUsed
		,StartDate
		,Duration
		,DurationType
		,AssignedUser
		,NoUnassignedGroupEntries
		,Critical
		,Reminder
		,ReminderType
		,MultiMatter
		,VersionControl
		,CVSLockUser
		,ReadLock
		,WriteLock
		,AutoEmail
		,AddresseeRef
		,AddressID
		,SAMMacro
		,ConsequenceRating
		,SAMAction
		,SAMTakeId
		,SAMCompleteId
		,StepCategory
		,Author
		,DefaultMacro
		,AttachCount
		,SAMPriority
		,MainClassID
		,SubClassID
		,FSExtractReady
		,TheLinkAppPublishFreeStyle
		,TheLinkAppReadStatus
		)
		SELECT
		@IDNum						  
		,0							  
		,GETDATE()					  
		,Filename					  
		,'File'						  
		,0							  
		,NULL						  
		,@User   -- CHange later	  
		,NULL						  
		,0							  
		,NULL						  
		,NULL						  
		,1							  
		,2							  
		,NULL						  
		,1							  
		,0							  
		,15							  
		,0							  
		,0							  
		,0							  						  
		,''							  
		,0							  
		,0							  
		,0							  
		,NULL						  
		,NULL						  
		,0							  
		,0							  
		,0							  
		,0							  
		,0							  
		,NULL						  
		,''							  
		,0							  
		,0							  
		,1							  
		,0							  
		,0							  
		,0							  
		,0							  
		,-1
		FROM Usr_OR_Import_Invoice_Columns
		WHERE ID = @RowID
		AND Filename IS NOT NULL
		AND Filename <> ''

		INSERT INTO Cm_CaseItems
		(ItemID
		,ParentID
		,ItemOrder
		,Description
		,CreationDate
		,CompletionDate
		,Mandatory
		,LinkInd
		,WebPublish
		,IsokonDocumentID)
		SELECT
		@IDNum
		,0
		,0
		,Filename
		,GETDATE()
		,GETDATE()
		,0
		,'N'
		,0
		,NULL
		FROM Usr_OR_Import_Invoice_Columns
		WHERE ID = @RowID
		AND Filename IS NOT NULL
		AND Filename <> ''

		INSERT INTO Ac_Posting_Slips_Attachments
		(
		ID
		,DocStepID
		,SlipDoc
		)
		SELECT
		(SELECT TOP 1 ID FROM Ac_Posting_Slips ORDER BY ID DESC)
		,@IDNum
		,0




		FETCH NEXT FROM curClear INTO @Description
	END 
	CLOSE curClear  
	DEALLOCATE curClear 

	
	-- INSERT Header items to posting slips table
	DECLARE curItem CURSOR FOR 
	SELECT 
    ID
	FROM Usr_OR_Import_Invoice_Columns
	WHERE Validation_Status = 'Valid'
	
	OPEN curItem  
	FETCH NEXT FROM curItem INTO @RowID
	
	WHILE @@FETCH_STATUS = 0  
	BEGIN
		DECLARE @OfficeType VARCHAR(20)
		DECLARE @EntityRef VARCHAR(15)
		DECLARE @MatterNo INT
		
		SELECT @RowID
				  
		SELECT @Item = EntityMatterNo
		FROM Usr_OR_Import_Invoice_Columns
		WHERE ID = @RowID

		IF @Slip_No = (SELECT SlipNo
						FROM Ac_Posting_Slips
						WHERE Ref = (SELECT Invoice_Number 
						FROM Usr_OR_Import_Invoice_Columns
						WHERE ID = @RowID))
		BEGIN
			SELECT @Seq = @Seq + 1
		END
		ELSE
		BEGIN
			SELECT @Seq = 1
		END

		SELECT TOP 1 @Slip_No = SlipNo
		FROM Ac_Posting_Slips
		WHERE Ref = (SELECT Invoice_Number 
						FROM Usr_OR_Import_Invoice_Columns
						WHERE ID = @RowID)
		ORDER BY ID DESC

		IF @Item = '' OR @Item = NULL
		BEGIN
			SELECT @NominalCode = @NominalCode + 5

			DECLARE @TaxCount MONEY

			SELECT * FROM Branches

			SELECT @TaxCount = CAST(tax AS MONEY)
			FROM Usr_OR_Import_Invoice_Columns
			WHERE ID = @RowID

			SELECT @TaxCount = (@TaxCount/COUNT(*)) 
			FROM Usr_OR_Import_Invoice_Columns
			WHERE Invoice_Number = (SELECT Invoice_Number 
						FROM Usr_OR_Import_Invoice_Columns
						WHERE ID = @RowID)

			INSERT INTO AcPLNLSlipAllocation
			(
			SlipNo	
			,Seq	
			,Branch	
			,CostCentre	
			,NominalCode	
			,NetAmount	
			,VatAmount
			,VatID	
			,Narrative1	
			,Narrative2	
			,Narrative3	
			,CatData
			)
			SELECT 
			@Slip_No
			,@Seq
			,(SELECT TOP 1 Code FROM Branches where description = Branch)
			,1
			,ISNULL((SELECT TOP 1 Code FROM Ac_NL_Chart_of_Accounts WHERE Code = Nominal),@NominalCode)
			,CAST(Subtotal AS MONEY)
			,@TaxCount
			,6
			,Description
			,''
			,''
			,''
			FROM Usr_OR_Import_Invoice_Columns
			WHERE ID = @RowID
			

		END
		ELSE
		BEGIN
			SELECT @Item = REPLACE(@Item,' ','.')

			SELECT @EntityRef = Part
			FROM fn_OR_SplitString(@Item,'.')
			WHERE rowNum = 1

			SELECT @MatterNo = CONVERT(INT,(SELECT part
								FROM fn_OR_SplitString(@Item,'.')
								WHERE rowNum = 2))
			
			DECLARE @Zeroes VARCHAR(15) = '000000000000000'

			SELECT @EntityRef = Code 
			FROM Entities
			WHERE ShortCode = @EntityRef

			INSERT INTO AcPLCLSlipAllocation
			(
			SlipNo	
			,Seq	
			,EntityRef	
			,MatterNo	
			,NetAmount	
			,VatAmount	
			,VatId	
			,Expense	
			,ExpenseNet	
			,ExpenseVat	
			,Narrative1	
			,Narrative2	
			,Narrative3	
			,CategoryCode	
			,CounselFees	
			,UTBMSTaskCode	
			,UTBMSExpenseCode	
			,InputVatAmount
			)
			SELECT 
			@Slip_No
			,@Seq
			,@EntityRef
			,@MatterNo
			,CAST(Subtotal AS money)
			,Tax
			,6
			,0
			,0
			,0
			,Description
			,''
			,''
			,'DISB'
			,0
			,''
			,''
			,Tax
			FROM Usr_OR_Import_Invoice_Columns
			WHERE ID = @RowID
		END
			
		FETCH NEXT FROM curItem INTO @RowID
	END 
	CLOSE curItem  
	DEALLOCATE curItem 



END

