
/*=============================================
Author:			Orchard Rock Development Ltd
Create date: 	05/06/2019
Description:	Return all values required for InfoTrack mapping
		
				Note: Entity addresses in partner have three "Street" lines
				- 1st line is the House/Building Number
				- 2nd line Street Name
				- 3rd line (optional) Building Name
				

Test:			
				
				select * from dbo.fn_OR_RESI_GetInfoTrackData ('AWK000000000001', 28)

History: 
	When		Who			What

=============================================*/

CREATE FUNCTION [dbo].[fn_OR_RESI_GetInfoTrackData]
(
	@EntityRef varchar(15),
	@MatterNo int
)
RETURNS @tblResult TABLE
(
TimeEntered Datetime
,Settlement_Date varchar(30)
,Settlement_Time varchar(30)

,FE_Address_Building_Name varchar(300)
,FE_Address_PostCode varchar(300)
,FE_Address_State varchar(300)
,FE_Address_Street_Name varchar(300)
,FE_Address_Street_Number varchar(300)
,FE_Address_Suburb varchar(300)
,FE_Email varchar(300)
,FE_Fax varchar(300)
,FE_First_Name varchar(300)
,FE_Second_Name varchar(300)
,FE_Surname varchar(300)
,FE_Title varchar(300)
,FE_Phone varchar(300)
,FE_Organisation varchar(300)

,Agent1_Address_Building_Name varchar(300)
,Agent1_Property_PostCode varchar(300)
,Agent1_Address_State varchar(300)
,Agent1_Address_Street_Name varchar(300)
,Agent1_Address_Street_Number varchar(300)
,Agent1_Property_Suburb varchar(300)
,Agent1_First_Name varchar(300)
,Agent1_Second_Name varchar(300)
,Agent1_Surname varchar(300)
,Agent1_Title varchar(300)
,Agent1_Organisation varchar(300)
,Agent2_Address_Building_Name varchar(300)
,Agent2_Property_PostCode varchar(300)
,Agent2_Address_State varchar(300)
,Agent2_Address_Street_Name varchar(300)
,Agent2_Address_Street_Number varchar(300)
,Agent2_Property_Suburb varchar(300)
,Agent2_First_Name varchar(300)
,Agent2_Second_Name varchar(300)
,Agent2_Surname varchar(300)
,Agent2_Title varchar(300)
,Agent2_Organisation varchar(300)

,Purchaser1_Address_Building_Name varchar(300)
,Purchaser1_Property_PostCode varchar(300)
,Purchaser1_Address_State varchar(300)
,Purchaser1_Address_Street_Name varchar(300)
,Purchaser1_Address_Street_Number varchar(300)
,Purchaser1_Property_Suburb varchar(300)
,Purchaser1_First_Name varchar(300)
,Purchaser1_Second_Name varchar(300)
,Purchaser1_Surname varchar(300)
,Purchaser1_Title varchar(300)
,Purchaser2_Address_Building_Name varchar(300)
,Purchaser2_Property_PostCode varchar(300)
,Purchaser2_Address_State varchar(300)
,Purchaser2_Address_Street_Name varchar(300)
,Purchaser2_Address_Street_Number varchar(300)
,Purchaser2_Property_Suburb varchar(300)
,Purchaser2_First_Name varchar(300)
,Purchaser2_Second_Name varchar(300)
,Purchaser2_Surname varchar(300)
,Purchaser2_Title varchar(300)

,Vendor1_Address_Building_Name varchar(300)
,Vendor1_Property_PostCode varchar(300)
,Vendor1_Address_State varchar(300)
,Vendor1_Address_Street_Name varchar(300)
,Vendor1_Address_Street_Number varchar(300)
,Vendor1_Property_Suburb varchar(300)
,Vendor1_First_Name varchar(300)
,Vendor1_Second_Name varchar(300)
,Vendor1_Surname varchar(300)
,Vendor1_Title varchar(300)
,Vendor2_Address_Building_Name varchar(300)
,Vendor2_Property_PostCode varchar(300)
,Vendor2_Address_State varchar(300)
,Vendor2_Address_Street_Name varchar(300)
,Vendor2_Address_Street_Number varchar(300)
,Vendor2_Property_Suburb varchar(300)
,Vendor2_First_Name varchar(300)
,Vendor2_Second_Name varchar(300)
,Vendor2_Surname varchar(300)
,Vendor2_Title varchar(300)

,Property_Council varchar(300)
,Property_County varchar(300)
,Property_Locality varchar(300)
,Property_Parish varchar(300)
,Property_Address_Building_Name varchar(300)
,Property_Address_Post_Code varchar(300)
,Property_Address_State varchar(300)
,Property_Address_Street_Name varchar(300)
,Property_Address_Street_Number varchar(300)
,Property_Address_Suburb varchar(300)
,Property_Price money


)
AS
BEGIN

	--Create single entry.  Function will only ever return one row.  Once created the rest of the function can update the row details.
	INSERT INTO @tblResult (TimeEntered)
	SELECT getdate()

	DECLARE @CaseType varchar(20)
	, @ClientTypes varchar(300)
	SELECT @CaseType = dbo.fn_OR_RESI_GetMatterDetails (@EntityRef,@MatterNo,'Case Type')

	SELECT @ClientTypes = dbo.fn_OR_RESI_GetClientTypes ()
	
	DECLARE @Address_Building_Name varchar(300)
	,@Property_PostCode varchar(300)
	,@Address_State varchar(300)
	,@Address_Street_Name varchar(300)
	,@Address_Street_Number varchar(300)
	,@Property_Suburb varchar(300)
	,@First_Name varchar(300)
	,@Second_Name varchar(300)
	,@Surname varchar(300)
	,@Title varchar(300)
	,@Organisation varchar(300)
	,@HouseNo varchar(300)
	,@Street varchar(300)


	--------------------------------------------------
	--Case Details
	--------------------------------------------------
	UPDATE @tblResult
	SET Settlement_Date = dbo.fn_OR_RESI_FormatDateTime(Completion_Date,'DD/MM/YYYY')
	, Settlement_Time = dbo.fn_OR_RESI_FormatDateTime(Completion_Time,'HH:MM 24')
	, Property_Price = ISNULL(Purchase_Price,Sale_Price)
	FROM Usr_OR_RESI_MT mt
	WHERE EntityRef = @EntityRef 
	AND MatterNo = @MatterNo


	--------------------------------------------------
	--Fee Earner
	--------------------------------------------------
    UPDATE @tblResult
    SET FE_Address_Building_Name = u.Address3
    ,FE_Address_PostCode = u.Postcode
    ,FE_Address_State = u.Address4
    ,FE_Address_Street_Name = u.Address2
    ,FE_Address_Street_Number = u.Address1
    ,FE_Address_Suburb = ''
    ,FE_Email = u.EMailExternal
    ,FE_Fax = u.FaxNo
    ,FE_First_Name = u.Forename
    ,FE_Second_Name =''
    ,FE_Surname = u.Surname
    ,FE_Title = u.Title
    ,FE_Phone = u.DDI
    ,FE_Organisation = (SELECT Firm_Name FROM Usr_OR_RESI_DEF_Practice_Details)
    FROM Users u
    WHERE u.Code = (SELECT FeeEarnerRef FROM Matters WHERE EntityRef = @EntityRef AND Number = @MatterNo)


	--------------------------------------------------
	--Property
	--------------------------------------------------
	UPDATE @tblResult
	SET Property_Council = ''
	,Property_County = p.AddCounty
	,Property_Locality = ''
	,Property_Parish = ''
	,Property_Address_Building_Name = p.Address_BuildingName
	,Property_Address_Post_Code = p.Postcode
	,Property_Address_State = p.Address4
	,Property_Address_Street_Name = p.Address_Street
	,Property_Address_Street_Number = p.Address_HouseNameOrNo
	,Property_Address_Suburb = p.Address3
	--,Property_Title_Number = mt.Title_Number
	FROM Usr_OR_RESI_MT_Property p
	INNER JOIN Usr_OR_RESI_MT mt on mt.EntityRef = p.EntityRef and mt.MatterNo = p.MatterNo
	WHERE p.EntityRef = @EntityRef 
	AND p.MatterNo = @MatterNo

	--------------------------------------------------
	--Agents
	--------------------------------------------------
	SELECT @Address_Building_Name = ent.Address2Street3
	,@Property_PostCode = ent.Address6Postcode
	,@Address_State=ent.Address4County
	,@Address_Street_Name = ent.Address2Street2
	,@Address_Street_Number = ent.Address1Street1
	,@Property_Suburb = ent.Address3Town
	,@First_Name = ''
	,@Second_Name = ''
	,@Surname = ''
	,@Title = ent.Title
	,@Organisation = ent.EntityName
	FROM fn_OR_RESI_GetEntity_byNumber(@EntityRef,@MatterNo,'Solicitors Practices',1) ent
	--Based on InfoTrack's instructions, Agent = Other side solicitor
	--FROM fn_OR_RESI_GetEntity_byNumber(@EntityRef,@MatterNo,'Estate Agent, Estate Agents',1) ent
		

	SELECT @HouseNo = HouseNo, @Second_Name = Street FROM  dbo.fn_OR_RESI_SplitHouseNoAndStreet(@Address_Street_Number)

	IF @HouseNo <> '' AND @Street <> ''
	BEGIN
		SELECT @Address_State = @Property_Suburb + CASE WHEN @Address_State <> '' THEN ', ' + @Address_State ELSE '' END
		SELECT @Property_Suburb = @Address_Street_Name
		SELECT @Address_Street_Number = @HouseNo
		, @Address_Street_Name = @Street
	END
		
	UPDATE @tblResult
	SET Agent1_Address_Building_Name = @Address_Building_Name
	,Agent1_Property_PostCode = @Property_PostCode
	,Agent1_Address_State=@Address_State
	,Agent1_Address_Street_Name = @Address_Street_Name
	,Agent1_Address_Street_Number = @Address_Street_Number
	,Agent1_Property_Suburb = @Property_Suburb
	,Agent1_First_Name = @First_Name
	,Agent1_Second_Name = @Second_Name
	,Agent1_Surname = @Surname
	,Agent1_Title = @Title
	,Agent1_Organisation = @Organisation
	
	--------------------------------------------------
	--Reset variables 
	--------------------------------------------------
	SELECT @Property_PostCode = '', @Address_State = '', @Address_State = '', @Address_Street_Name = '' 
	, @Address_Street_Number = '', @Property_Suburb = '', @First_Name = '', @Second_Name = ''
	, @Surname = '', @Title = '', @Organisation = ''
	
	--------------------------------------------------
	--Purchaser 1
	--------------------------------------------------
	IF @CaseType = 'Sale'
		SELECT @Address_Building_Name = ent.Address2Street3
		,@Property_PostCode = ent.Address6Postcode
		,@Address_State=ent.Address4County
		,@Address_Street_Name = ent.Address2Street2
		,@Address_Street_Number = ent.Address1Street1
		,@Property_Suburb = ent.Address3Town
		,@First_Name = ent.Forenames
		,@Second_Name = ent.MiddleName
		,@Surname = ent.Surname
		,@Title = ent.Title
		FROM fn_OR_RESI_GetEntity_byNumber(@EntityRef,@MatterNo,'Purchaser',1) ent
	ELSE
		SELECT @Address_Building_Name = ent.Address2Street3
		,@Property_PostCode = ent.Address6Postcode
		,@Address_State=ent.Address4County
		,@Address_Street_Name = ent.Address2Street2
		,@Address_Street_Number = ent.Address1Street1
		,@Property_Suburb = ent.Address3Town
		,@First_Name = ent.Forenames
		,@Second_Name = ent.MiddleName
		,@Surname = ent.Surname
		,@Title = ent.Title
		FROM fn_OR_RESI_GetEntity_byNumber(@EntityRef,@MatterNo,@ClientTypes,1) ent
	
	SELECT @HouseNo = HouseNo, @Street = Street FROM  dbo.fn_OR_RESI_SplitHouseNoAndStreet(@Address_Street_Number)
	
	IF @HouseNo <> '' AND @Street <> ''
	BEGIN
		SELECT @Address_State = @Property_Suburb + CASE WHEN @Address_State <> '' THEN ', ' + @Address_State ELSE '' END
		SELECT @Property_Suburb = @Address_Street_Name
		SELECT @Address_Street_Number = @HouseNo
		, @Address_Street_Name = @Street
	END
		
	UPDATE @tblResult
	SET Purchaser1_Address_Building_Name = @Address_Building_Name
	,Purchaser1_Property_PostCode = @Property_PostCode
	,Purchaser1_Address_State=@Address_State
	,Purchaser1_Address_Street_Name = @Address_Street_Name
	,Purchaser1_Address_Street_Number = @Address_Street_Number
	,Purchaser1_Property_Suburb = @Property_Suburb
	,Purchaser1_First_Name = @First_Name
	,Purchaser1_Second_Name = @Second_Name
	,Purchaser1_Surname = @Surname
	,Purchaser1_Title = @Title
	
	--------------------------------------------------
	--Reset variables 
	--------------------------------------------------
	SELECT @Property_PostCode = '', @Address_State = '', @Address_State = '', @Address_Street_Name = '', @Address_Building_Name = ''
	, @Address_Street_Number = '', @Property_Suburb = '', @First_Name = '', @Second_Name = ''
	, @Surname = '', @Title = '', @Organisation = ''

	--------------------------------------------------
	--Purchaser 2
	--------------------------------------------------
	IF @CaseType = 'Sale'
		SELECT @Address_Building_Name = ent.Address2Street3
		,@Property_PostCode = ent.Address6Postcode
		,@Address_State=ent.Address4County
		,@Address_Street_Name = ent.Address2Street2
		,@Address_Street_Number = ent.Address1Street1
		,@Property_Suburb = ent.Address3Town
		,@First_Name = ent.Forenames
		,@Second_Name = ent.MiddleName
		,@Surname = ent.Surname
		,@Title = ent.Title
		FROM fn_OR_RESI_GetEntity_byNumber(@EntityRef,@MatterNo,'Purchaser',2) ent
	ELSE
		SELECT @Address_Building_Name = ent.Address2Street3
		,@Property_PostCode = ent.Address6Postcode
		,@Address_State=ent.Address4County
		,@Address_Street_Name = ent.Address2Street2
		,@Address_Street_Number = ent.Address1Street1
		,@Property_Suburb = ent.Address3Town
		,@First_Name = ent.Forenames
		,@Second_Name = ent.MiddleName
		,@Surname = ent.Surname
		,@Title = ent.Title
		FROM fn_OR_RESI_GetEntity_byNumber(@EntityRef,@MatterNo,@ClientTypes,2) ent
	
	SELECT @HouseNo = HouseNo, @Street = Street FROM  dbo.fn_OR_RESI_SplitHouseNoAndStreet(@Address_Street_Number)
	
	IF @HouseNo <> '' AND @Street <> ''
	BEGIN
		SELECT @Address_State = @Property_Suburb + CASE WHEN @Address_State <> '' THEN ', ' + @Address_State ELSE '' END
		SELECT @Property_Suburb = @Address_Street_Name
		SELECT @Address_Street_Number = @HouseNo
		, @Address_Street_Name = @Street
	END
		
	UPDATE @tblResult
	SET Purchaser2_Address_Building_Name = @Address_Building_Name
	,Purchaser2_Property_PostCode = @Property_PostCode
	,Purchaser2_Address_State=@Address_State
	,Purchaser2_Address_Street_Name = @Address_Street_Name
	,Purchaser2_Address_Street_Number = @Address_Street_Number
	,Purchaser2_Property_Suburb = @Property_Suburb
	,Purchaser2_First_Name = @First_Name
	,Purchaser2_Second_Name = @Second_Name
	,Purchaser2_Surname = @Surname
	,Purchaser2_Title = @Title
	
	--------------------------------------------------
	--Reset variables 
	--------------------------------------------------
	SELECT @Property_PostCode = '', @Address_State = '', @Address_State = '', @Address_Street_Name = '' , @Address_Building_Name = ''
	, @Address_Street_Number = '', @Property_Suburb = '', @First_Name = '', @Second_Name = ''
	, @Surname = '', @Title = '', @Organisation = ''
		
	--------------------------------------------------
	--Seller 1
	--------------------------------------------------
	IF @CaseType = 'Sale'
		SELECT @Address_Building_Name = ent.Address2Street3
		,@Property_PostCode = ent.Address6Postcode
		,@Address_State=ent.Address4County
		,@Address_Street_Name = ent.Address2Street2
		,@Address_Street_Number = ent.Address1Street1
		,@Property_Suburb = ent.Address3Town
		,@First_Name = ent.Forenames
		,@Second_Name = ent.MiddleName
		,@Surname = ent.Surname
		,@Title = ent.Title
		FROM fn_OR_RESI_GetEntity_byNumber(@EntityRef,@MatterNo,@ClientTypes,1) ent
	ELSE
		SELECT @Address_Building_Name = ent.Address2Street3
		,@Property_PostCode = ent.Address6Postcode
		,@Address_State=ent.Address4County
		,@Address_Street_Name = ent.Address2Street2
		,@Address_Street_Number = ent.Address1Street1
		,@Property_Suburb = ent.Address3Town
		,@First_Name = ent.Forenames
		,@Second_Name = ent.MiddleName
		,@Surname = ent.Surname
		,@Title = ent.Title
		FROM fn_OR_RESI_GetEntity_byNumber(@EntityRef,@MatterNo,'Seller',1) ent
	
	SELECT @HouseNo = HouseNo, @Street = Street FROM  dbo.fn_OR_RESI_SplitHouseNoAndStreet(@Address_Street_Number)
	
	IF @HouseNo <> '' AND @Street <> ''
	BEGIN
		SELECT @Address_State = @Property_Suburb + CASE WHEN @Address_State <> '' THEN ', ' + @Address_State ELSE '' END
		SELECT @Property_Suburb = @Address_Street_Name
		SELECT @Address_Street_Number = @HouseNo
		, @Address_Street_Name = @Street
	END
		
	UPDATE @tblResult
	SET Vendor1_Address_Building_Name = @Address_Building_Name
	,Vendor1_Property_PostCode = @Property_PostCode
	,Vendor1_Address_State=@Address_State
	,Vendor1_Address_Street_Name = @Address_Street_Name
	,Vendor1_Address_Street_Number = @Address_Street_Number
	,Vendor1_Property_Suburb = @Property_Suburb
	,Vendor1_First_Name = @First_Name
	,Vendor1_Second_Name = @Second_Name
	,Vendor1_Surname = @Surname
	,Vendor1_Title = @Title
	
	--------------------------------------------------
	--Reset variables 
	--------------------------------------------------
	SELECT @Property_PostCode = '', @Address_State = '', @Address_State = '', @Address_Street_Name = '' , @Address_Building_Name = ''
	, @Address_Street_Number = '', @Property_Suburb = '', @First_Name = '', @Second_Name = ''
	, @Surname = '', @Title = '', @Organisation = ''
		
	--------------------------------------------------
	--Seller 2
	--------------------------------------------------
	IF @CaseType = 'Sale'
		SELECT @Address_Building_Name = ent.Address2Street3
		,@Property_PostCode = ent.Address6Postcode
		,@Address_State=ent.Address4County
		,@Address_Street_Name = ent.Address2Street2
		,@Address_Street_Number = ent.Address1Street1
		,@Property_Suburb = ent.Address3Town
		,@First_Name = ent.Forenames
		,@Second_Name = ent.MiddleName
		,@Surname = ent.Surname
		,@Title = ent.Title
		FROM fn_OR_RESI_GetEntity_byNumber(@EntityRef,@MatterNo,@ClientTypes,2) ent
	ELSE
		SELECT @Address_Building_Name = ent.Address2Street3
		,@Property_PostCode = ent.Address6Postcode
		,@Address_State=ent.Address4County
		,@Address_Street_Name = ent.Address2Street2
		,@Address_Street_Number = ent.Address1Street1
		,@Property_Suburb = ent.Address3Town
		,@First_Name = ent.Forenames
		,@Second_Name = ent.MiddleName
		,@Surname = ent.Surname
		,@Title = ent.Title
		FROM fn_OR_RESI_GetEntity_byNumber(@EntityRef,@MatterNo,'Seller',2) ent
	
	SELECT @HouseNo = HouseNo, @Street = Street FROM  dbo.fn_OR_RESI_SplitHouseNoAndStreet(@Address_Street_Number)
	
	IF @HouseNo <> '' AND @Street <> ''
	BEGIN
		SELECT @Address_State = @Property_Suburb + CASE WHEN @Address_State <> '' THEN ', ' + @Address_State ELSE '' END
		SELECT @Property_Suburb = @Address_Street_Name
		SELECT @Address_Street_Number = @HouseNo
		, @Address_Street_Name = @Street
	END
		
	UPDATE @tblResult
	SET Vendor2_Address_Building_Name = @Address_Building_Name
	,Vendor2_Property_PostCode = @Property_PostCode
	,Vendor2_Address_State=@Address_State
	,Vendor2_Address_Street_Name = @Address_Street_Name
	,Vendor2_Address_Street_Number = @Address_Street_Number
	,Vendor2_Property_Suburb = @Property_Suburb
	,Vendor2_First_Name = @First_Name
	,Vendor2_Second_Name = @Second_Name
	,Vendor2_Surname = @Surname
	,Vendor2_Title = @Title


	--------------------------------------------------
	--Tidy Data and Remove NULLs
	--------------------------------------------------

	UPDATE @tblResult
	SET TimeEntered = isnull(TimeEntered,'')
	,Settlement_Date = isnull(Settlement_Date,'')
	,Settlement_Time = isnull(Settlement_Time,'')

	,FE_Address_Building_Name = isnull(FE_Address_Building_Name,'')
	,FE_Address_PostCode = isnull(FE_Address_PostCode,'')
	,FE_Address_State = isnull(FE_Address_State,'')
	,FE_Address_Street_Name = isnull(FE_Address_Street_Name,'')
	,FE_Address_Street_Number = isnull(FE_Address_Street_Number,'')
	,FE_Address_Suburb = isnull(FE_Address_Suburb,'')
	,FE_Email = isnull(FE_Email,'')
	,FE_Fax = isnull(FE_Fax,'')
	,FE_First_Name = isnull(FE_First_Name,'')
	,FE_Second_Name = isnull(FE_Second_Name,'')
	,FE_Surname = isnull(FE_Surname,'')
	,FE_Title = isnull(FE_Title,'')
	,FE_Phone = isnull(FE_Phone,'')
	,FE_Organisation = isnull(FE_Organisation,'')

	,Agent1_Address_Building_Name = isnull(Agent1_Address_Building_Name,'')
	,Agent1_Property_PostCode = isnull(Agent1_Property_PostCode,'')
	,Agent1_Address_State = isnull(Agent1_Address_State,'')
	,Agent1_Address_Street_Name = isnull(Agent1_Address_Street_Name,'')
	,Agent1_Address_Street_Number = isnull(Agent1_Address_Street_Number,'')
	,Agent1_Property_Suburb = isnull(Agent1_Property_Suburb,'')
	,Agent1_First_Name = isnull(Agent1_First_Name,'')
	,Agent1_Second_Name = isnull(Agent1_Second_Name,'')
	,Agent1_Surname = isnull(Agent1_Surname,'')
	,Agent1_Title = isnull(Agent1_Title,'')
	,Agent1_Organisation = isnull(Agent1_Organisation,'')
	,Agent2_Address_Building_Name = isnull(Agent2_Address_Building_Name,'')
	,Agent2_Property_PostCode = isnull(Agent2_Property_PostCode,'')
	,Agent2_Address_State = isnull(Agent2_Address_State,'')
	,Agent2_Address_Street_Name = isnull(Agent2_Address_Street_Name,'')
	,Agent2_Address_Street_Number = isnull(Agent2_Address_Street_Number,'')
	,Agent2_Property_Suburb = isnull(Agent2_Property_Suburb,'')
	,Agent2_First_Name = isnull(Agent2_First_Name,'')
	,Agent2_Second_Name = isnull(Agent2_Second_Name,'')
	,Agent2_Surname = isnull(Agent2_Surname,'')
	,Agent2_Title = isnull(Agent2_Title,'')
	,Agent2_Organisation = isnull(Agent2_Organisation,'')

	,Purchaser1_Address_Building_Name = isnull(Purchaser1_Address_Building_Name,'')
	,Purchaser1_Property_PostCode = isnull(Purchaser1_Property_PostCode,'')
	,Purchaser1_Address_State = isnull(Purchaser1_Address_State,'')
	,Purchaser1_Address_Street_Name = isnull(Purchaser1_Address_Street_Name,'')
	,Purchaser1_Address_Street_Number = isnull(Purchaser1_Address_Street_Number,'')
	,Purchaser1_Property_Suburb = isnull(Purchaser1_Property_Suburb,'')
	,Purchaser1_First_Name = isnull(Purchaser1_First_Name,'')
	,Purchaser1_Second_Name = isnull(Purchaser1_Second_Name,'')
	,Purchaser1_Surname = isnull(Purchaser1_Surname,'')
	,Purchaser1_Title = isnull(Purchaser1_Title,'')
	,Purchaser2_Address_Building_Name = isnull(Purchaser2_Address_Building_Name,'')
	,Purchaser2_Property_PostCode = isnull(Purchaser2_Property_PostCode,'')
	,Purchaser2_Address_State = isnull(Purchaser2_Address_State,'')
	,Purchaser2_Address_Street_Name = isnull(Purchaser2_Address_Street_Name,'')
	,Purchaser2_Address_Street_Number = isnull(Purchaser2_Address_Street_Number,'')
	,Purchaser2_Property_Suburb = isnull(Purchaser2_Property_Suburb,'')
	,Purchaser2_First_Name = isnull(Purchaser2_First_Name,'')
	,Purchaser2_Second_Name = isnull(Purchaser2_Second_Name,'')
	,Purchaser2_Surname = isnull(Purchaser2_Surname,'')
	,Purchaser2_Title = isnull(Purchaser2_Title,'')

	,Vendor1_Address_Building_Name = isnull(Vendor1_Address_Building_Name,'')
	,Vendor1_Property_PostCode = isnull(Vendor1_Property_PostCode,'')
	,Vendor1_Address_State = isnull(Vendor1_Address_State,'')
	,Vendor1_Address_Street_Name = isnull(Vendor1_Address_Street_Name,'')
	,Vendor1_Address_Street_Number = isnull(Vendor1_Address_Street_Number,'')
	,Vendor1_Property_Suburb = isnull(Vendor1_Property_Suburb,'')
	,Vendor1_First_Name = isnull(Vendor1_First_Name,'')
	,Vendor1_Second_Name = isnull(Vendor1_Second_Name,'')
	,Vendor1_Surname = isnull(Vendor1_Surname,'')
	,Vendor1_Title = isnull(Vendor1_Title,'')
	,Vendor2_Address_Building_Name = isnull(Vendor2_Address_Building_Name,'')
	,Vendor2_Property_PostCode = isnull(Vendor2_Property_PostCode,'')
	,Vendor2_Address_State = isnull(Vendor2_Address_State,'')
	,Vendor2_Address_Street_Name = isnull(Vendor2_Address_Street_Name,'')
	,Vendor2_Address_Street_Number = isnull(Vendor2_Address_Street_Number,'')
	,Vendor2_Property_Suburb = isnull(Vendor2_Property_Suburb,'')
	,Vendor2_First_Name = isnull(Vendor2_First_Name,'')
	,Vendor2_Second_Name = isnull(Vendor2_Second_Name,'')
	,Vendor2_Surname = isnull(Vendor2_Surname,'')
	,Vendor2_Title = isnull(Vendor2_Title,'')

	,Property_Council = isnull(Property_Council,'')
	,Property_County = isnull(Property_County,'')
	,Property_Locality = isnull(Property_Locality,'')
	,Property_Parish = isnull(Property_Parish,'')
	,Property_Address_Building_Name = isnull(Property_Address_Building_Name,'')
	,Property_Address_Post_Code = isnull(Property_Address_Post_Code,'')
	,Property_Address_State = isnull(Property_Address_State,'')
	,Property_Address_Street_Name = isnull(Property_Address_Street_Name,'')
	,Property_Address_Street_Number = isnull(Property_Address_Street_Number,'')
	,Property_Address_Suburb = isnull(Property_Address_Suburb,'')
	,Property_Price = isnull(Property_Price,0.00)
		
	RETURN
END
