@page "/dragdropgit"
@using Gizmo_V1_00.Data.OR_RESI_Chapters
@using Gizmo_V1_00.Models
@inject IOR_RESI_Chapters_Service service

@using Plk.Blazor.DragDrop


<h1>Blazor Drag And Drop Example!</h1>



    <div class="container-fluid">
            <Dropzone Items="CaseTypeList">

                <span class="shadow card subCard rounded chapterItem_Documents">
                    @context
                </span>

            </Dropzone>
    </div>


@code {
    List<string> CaseTypeList = new List<string>() { "Purchase", "Sale", "Remortgage", "Plot Sales", "Transfer" };


}