@using Gizmo_V1_02.Pages.Shared.Modals
    
<div class="modal-body">
<h4>Select fees to be included in the chapter</h4>
<div class="grid-can-edit" id="modal-edit-fees-list">
    @foreach (var fee in feeItems)
    {
        <div class="row grid-row grid-row-md">
            <div class="col-12 data-item @(fee.selected ? "data-item-selected" : "" )">
                
                @if (!string.IsNullOrEmpty(@fee.feeDefinition.WorkProvider))
                    {
            <div class="data-item-right font-100">
                <ModalTooltip Direction="tooltip-left" Text=@("USED BY: " + @fee.feeDefinition.WorkProvider) Class="tooltip-w-3">
                    <span class="fa fa-user-tie"></span>
                </ModalTooltip>
            </div>
                    }
                    @if (fee.selected)
                    {
                        <div class="data-item-right link-item" title="Click to remove" @onclick="() => ToggleSelectedFee(fee)">
                            <span class="fa fa-check"></span>
                        </div>
                    }
                    else
                    {
                        <div class="data-item-right link-item col-red" title="Click to include this fee" @onclick="() => ToggleSelectedFee(fee)">
                            <span class="fa fa-times-circle"></span>
                        </div>
                    }

                
            </div>
        </div>
    }
</div>

<div class="button-container">
    <button type="submit" class="float-left btn btn-alt" @onclick="() => HandleValidSubmit()">Save Changes</button>
</div>
</div>