<div class="modal-body">
    <h4>Select fees to be included in the chapter</h4>
    <div class="grid-can-edit" id="modal-edit-fees-list">
        @foreach (var fee in feeItems)
        {
            <div class="row grid-row grid-row-md">
                <div class="col-12 data-item @(fee.selected ? "data-item-selected" : "" )">
                    <div class="data-item-sub" @onclick="() => ToggleSelectedFee(fee)">
                        <span class="fa fa-pound-sign mr-2"></span> @fee.FeeItem.Name

                        <div class="data-item-right mr-2 ">
                            @if (fee.selected)
                            {
                                <div class="data-item-right">
                                    <span class="fa fa-check"></span>
                                </div>
                            }

                        </div>

                    </div>
                </div>
            </div>
        }
    </div>

    <div class="button-container">
        <button type="submit" class="float-left btn btn-alt" @onclick="() => HandleValidSubmit()">Save Changes</button>
    </div>
</div>