@using GadjIT_V1_02.Data.CustomFormObjects;

<EditForm Model="@CopyObject" OnValidSubmit="HandleValidSubmit">
    <div class="modal-body">
        <DataAnnotationsValidator />

        <div class="form-group">
            <label for="TickerMessage">Ticker Message</label>
            <InputTextArea class="form-control" @bind-Value="@CopyObject.Message" />
        </div>
        <div class="form-group">
            <label for="FromDate">From Date</label>
            <InputDate class="form-control" @bind-Value="FromDate"/>
        </div>

        <div class="form-group">
            <label for="ToDate">To Date</label>
            <InputDate class="form-control" @bind-Value="ToDate" />
        </div>

    </div>

    <div class="button-container">
        <button type="submit" class="btn btn-main">Save</button>
        <button type="button" class="btn btn-secondary" @onclick="Close">Cancel</button>
    </div>
</EditForm>