@page "/manageusersrework"
@page "/manageusersrework/{submitChanges}"
@inject Gizmo_V1_02.Services.SessionState.IUserSessionState state

<h3>User Management</h3>

@if (lstUsers is null)
{
    <div class="spinner"></div>
}
else
{
    <table id="tblUserList" class="table">
        <thead>
            <tr>
                <th>User Name</th>
                <th>Full Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in lstUsers)
            {
                <tr>
                    <td>@user.UserName</td>
                    <td>@user.FullName</td>
                    <td>@user.Email</td>
                    <td>
                        <NavLink @onclick='(() => PrepareForEdit(user))' class="nav-link" href="userdetailpage">
                            <input type="button" class="btn btn-primary" value="Edit" />
                        </NavLink>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <NavLink @onclick='(() => PrepareForInsert())' class="nav-link" href="userdetailpage">
        <input type="button" class="btn btn-primary" value="Edit" />
    </NavLink>

}

