@page "/GeneralAccess"
@using System.Globalization

@inject IJSRuntime jsRuntime

<div class="tran-block page-header-block ">
    <div class="form-group" style="margin: 10px 10px 10px 20px">
        <label class="font-weight-bold">Query: </label>
        <div style="margin: 5px 0 5px 0;">
            <textarea type="text" rows="10" style="width: 600px; height: 100px;" class="form-control" @bind="Query" />
        </div>
        <button class="btn btn-main" @onclick="RunQuery">Execute</button>
    </div>    
    
</div>

<div class="tran-block rounded" style="width: calc(100% - 40px)" >
    
    <div class="grid-admin grid-admin-query"  >
        
        <table id="QueryResults" class="display" >
            <thead>
                <tr>
                    @if(QueryResults.Count() > 0)
                    {
                        @foreach (var i in QueryResults.FirstOrDefault())
                        {
                            <th  style="text-overflow: ellipsis;" class="sorting sorting_asc">@i.Key</th>
                        }
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var i in QueryResults)
                {
                    <tr >
                    @foreach(var c in i.Values)
                    {
                        <td  style="text-overflow: ellipsis;">
                        @if(!(c is null))
                        {
                            @if(@DateTime.TryParse(c.ToString(), out TryDate))
                            {
                                @string.Format("{0:dd MMM yyyy}",DateTime.Parse(c.ToString()))
                            }
                            else
                            {
                                
                                @c.ToString()
                                

                                
                            }

                        }
                        </td>
                        
                    }
                    </tr>

                }
            </tbody>
        </table>
    </div>




</div>







