@page "/GeneralAccess"
@using System.Globalization

<div class="form-group">
    <label>Enter Query: </label>
    <input type="text" class="form-control form-control-md" @bind="Query"></input>
    <button class="btn btn-main" @onclick="RunQuery">Run Query</button>
</div>


<div>
    <label>Results: </label>

    <table class="table">
        <thead>
            <tr>
                @if(QueryResults.Count() > 0)
                {
                    @foreach (var i in QueryResults.FirstOrDefault())
                    {
                        <th>@i.Key</th>
                    }
                }

            </tr>
        </thead>
        <tbody>

            @foreach (var i in QueryResults)
            {
                <tr>
                @foreach(var c in i.Values)
                {
                    <td>
                    @if(!(c is null))
                    {
                        @if(@DateTime.TryParse(c.ToString(), out TryDate))
                        {
                            @string.Format("{0:dd MMM yyyy}",DateTime.Parse(c.ToString()))
                        }
                        else
                        {
                            
                            @c.ToString()
                            

                            
                        }

                    }
                    </td>
                   
                }
                </tr>

            }
        </tbody>
    </table>



</div>







