@page "/GeneralAccess"
@using System.Globalization

@inject IJSRuntime jsRuntime

<div class="tran-block page-header-block ">
    <div style="display:flex;">
        <h3>Enter Query: </h3>
        <input type="text" style="width: 1000px; height: 100px;" class="form-control" @bind="Query"></input>
    </div>
    
    <button class="btn btn-main" @onclick="RunQuery">Execute</button>
    
</div>

<div class="grid-tran" >
    <h3>Results: </h3>
    <div class="tran-block rounded" style="overflow-x:auto; width:100%;">

        <table id="QueryResults" class="display" >
            <thead>
                <tr>
                    @if(QueryResults.Count() > 0)
                    {
                        @foreach (var i in QueryResults.FirstOrDefault())
                        {
                            <th  style="text-overflow: ellipsis;" class="sorting sorting_asc">@i.Key</th>
                        }
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var i in QueryResults)
                {
                    <tr >
                    @foreach(var c in i.Values)
                    {
                        <td  style="text-overflow: ellipsis;">
                        @if(!(c is null))
                        {
                            @if(@DateTime.TryParse(c.ToString(), out TryDate))
                            {
                                @string.Format("{0:dd MMM yyyy}",DateTime.Parse(c.ToString()))
                            }
                            else
                            {
                                
                                @c.ToString()
                                

                                
                            }

                        }
                        </td>
                        
                    }
                    </tr>

                }
            </tbody>
        </table>
    </div>




</div>







