<EditForm Model="@ConfirmDecision" OnValidSubmit="@HandleValidSubmit">
    <div class="modal-body">
        <div class="alert bg-warning" style="margin: 40px 0 40px 0" role="alert">
            @InfoText
        </div>

        <div class="modal-footer">
            <div class="container-fluid ">
                <div class="row">
                    <div class="col-6 text-right">
                        <button type="submit" class="btn btn-sub">Confirm</button>
                    </div>
                    <div class="col-6 text-left">
                        <button type="button" data-dismiss="modal" @onclick="@Close" class="btn btn-secondary">Cancel</button>
                    </div>

                </div>
            </div>
        </div>


    </div>
</EditForm>