@inject IJSRuntime jsRuntime

<div class="modal" tabindex="-1" role="dialog" id="modalInfo">
    <div class="modal-dialog" style="height: @ModalHeight; width: @ModalWidth;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@InfoHeader</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="info-text">@((MarkupString)InfoText)</div>
            </div>
        </div>
    </div>
</div>