@page "/manageusers"

<h3>ManageUsersMainPage</h3>

@if (!showDetail)
{
    <ManageUsersOverview ToggleDetail="@ToggleDetail"></ManageUsersOverview>
}
else
{
    <ManageUsersDetail ToggleDetail="@ToggleDetail"></ManageUsersDetail>
}