.ORTable th h1 {
    font-weight: bold;
    font-size: 1em;
    text-align: left;
    color: black;
}

.ORTable td {
    font-weight: normal;
    font-size: 1em;
    -webkit-box-shadow: 0 2px 2px -2px #0E1119;
     -moz-box-shadow: 0 2px 2px -2px #0E1119;
          box-shadow: 0 2px 2px -2px #0E1119;
}

.ORTable {
    text-align: left;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
    display: table;
    padding: 0 0 8em 0;
}

.ORTable td, .ORTable th {
    padding-bottom: 2%;
    padding-top: 2%;
    padding-left:2%;    
}

/* Background-color of the odd rows */
.ORTable tr:nth-child(odd) {
    background-color: white;
}

/* Background-color of the even rows */
.ORTable tr:nth-child(even) {
    background-color: gray;
}

.ORTable th {
    background-color: white;
}

.ORTable td:first-child { color: #FB667A; }

.ORTable tr:hover {
 background-color: #464A52;
-webkit-box-shadow: 0 6px 6px -6px #0E1119;
     -moz-box-shadow: 0 6px 6px -6px #0E1119;
          box-shadow: 0 6px 6px -6px #0E1119;
}

