
<h3>UPGRADE: Optional Items</h3>
<p>A Smartflow can now contain steps and documents that are optional. Optional documents will not be displayed by default, to access them the end user can toggle the document list between standard and optional documents.</p>
<p>Attachments can also be set as optional. These opional items will be visible as normal on the Attachments tab but will not be "Selected" by default. The end user can select an optional item by double clicking as normal.</p>
<br />
<h3>UPGRADE: Agenda Management</h3>
<p>Any document or letter can be assigend to and Agenda. If assigned then the document will be moved (saved) in the relevant agenda after the document has been completed. The actual moving will take place either when the next Smartflow is run (by any user on any case) or by an overnight process.</p>
<p>This solves a few issues from doing this via Qs and As. Most notibly if a user is creating a bundle from documents that are to be saved in different agendas this solution allows for the documents to be bundled, saved to .pdf and attached to an email all from the same main agenda, the documents (including generated .pdf files) are not moved until later.</p>
<br />
<h3>UPGRADE: API Logging</h3>
<p>The API now has better error handling and logging to SQL Server on the Client site.</p>
<p>This will assist us fix any issues with transporing information between the application and the client as well as any issues arrising from the local database.</p>
<br />
<h3>ISSUE: Sync Systems only for Expanded Case Type</h3>
<p>When Sync Systems is checked, a user cannot sync another Case Type without first unchecking and checking the Sync check box.</p>
<h4>SOLUTION: Expand Sync display to all Case Types</h4>
<p>As long as the Sync Systems check box is checked, all Smartflows will display the Sync options regardless of the Case Type selected.</p>
<br />


