/*---------------------------------------*/
/*   BLAZORED STANDARD CSS               */
/*---------------------------------------*/


.blazored-modal-container {
    display: flex;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9991;
}

.blazored-modal-overlay {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
}


.blazored-modal {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #fff;
    padding: 1.5rem;
    box-shadow: 0 2px 2px rgba(0,0,0,.25);
}

.blazored-modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 0 2rem 0;
}

.blazored-modal-title {
    margin-bottom: 0;
}

.blazored-modal-close {
    padding: 1rem;
    margin: -1rem -1rem -1rem auto;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
}

.blazored-modal-center {
    align-items: center;
    justify-content: center;
}

.blazored-modal-topleft .blazored-modal {
    position: absolute;
    top: 32px;
    left: 32px;
}

.blazored-modal-topright .blazored-modal {
    position: absolute;
    top: 32px;
    right: 32px;
}

.blazored-modal-bottomleft .blazored-modal {
    position: absolute;
    bottom: 32px;
    left: 32px;
}

.blazored-modal-bottomright .blazored-modal {
    position: absolute;
    bottom: 32px;
    right: 32px;
}

.blazored-modal-scrollable {
    display: flex;
    max-height: calc(100% - 1rem);
}

.blazored-modal-scrollable .blazored-modal-content {
    overflow-y: auto;
}

.blazored-modal-scrollable .blazored-modal-footer, .blazored-modal-scrollable .blazored-modal-header {
    flex-shrink: 0;
}


/*---------------------------------------*/
/*   CUSTOM OBJECTS                      */
/*---------------------------------------*/


.blazored-custom-modal {
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
    border-radius: 12px;
    padding: 1rem;
    box-shadow: 0 2px 2px rgba(0,0,0,0.75);
    overflow-y: hidden;
    overflow-x: hidden;
    min-width: 300px;
    z-index: 105;
    margin-top: 25px;
}



.blazored-prompt-modal {
    display: flex;
    flex-direction: column;
    width: 600px;
    background-color: #fefefe;
    border-radius: 4px;
    border: 1px solid #fff;
    padding: 0.5rem;
    box-shadow: 0 2px 2px rgba(0,0,0,.75);
}

.blazored-modal-header {
    margin: 0px;
    padding: 0px;
}

.blazored-modal-content {
    margin: 0px;
    padding: 0px;
}

.modal {
    padding-top: 70px !important;
}


.modal-open {
    margin-right: -0px;
    overflow-y: hidden;
}

.modal-dialog, .modal-content {
    border-radius: 25px;
    padding: 0 20px;
}

.modal-header {
    font-weight: bold !important
}

.modal-body {
    padding: 0;
    margin-top: 10px;
}

.modal-footer {
    border-top: 1pt solid #DDD;
}

.modal-body h4{
    color: #888;
    margin-bottom: 8px;
}

.form-control {
    color: #888;
    text-align: left;
    border-color: #aaa;
    font-size: 0.9em;
    margin-left: 1px !important;
    margin-right: 1px !important;
}

.form-control-value {
    color: #555;
    text-align: left;
    display: block;
    margin-left: 20px;
    margin-top: 0;
    padding-top: 0;
    font-size: 1.1rem !important;
}

.form-control-xxl {
    width: 450px;
}
.form-control-xl {
    width: 350px;
}

.modal-body.form-control-xxl, .modal-body .form-control-xl {
    width: calc(100% - 10px);
}

.form-control-md {
    width: 250px;
}

.form-control-lg {
    width: 300px;
}

.form-control-sm {
    width: 150px;
}
.form-control-sm {
    width: 150px;
}
.form-control-xs {
    width: 75px;
}

@media (max-width: 768px) {
    .form-control{
        font-size: 16px; /*prevent zoom feature on mobile devices when on focus*/
    }
}

@media (max-width: 576px) {

    .form-control-xxl, .form-control-xl, .form-control-lg {
        width: 100%;
    }

}

.control-with-button .control-main {
    float: left;
    width: calc(100% - 30px);
    margin: 0;
    padding: 0;
}

.control-with-button .control-button {
    float: left;
    margin-left: 0;
}

.control-with-button .control-button {
    border: none !important;
    color: #777;
    width: 28px !important;
    height: 28px !important;
    margin-left: -10px;
    transition-duration: 0.5s;
    transition-property: color;
}

.control-with-button .control-button:hover {
    transition-duration: 0.5s;
    transition-property: color;
}

.control-with-button .control-button:active {
    color: #BBB !important;
}

.control-with-button .control-button li{
    width: 28px !important;
}

.form-control-filter {
    background-color: #eee;
}

.form-group label {
    padding-bottom: 0px;
    margin-bottom: 3px;
    margin-top: 5px;
    font-size: 0.9em;
}

.form-group .form-label-check {
    float: right;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

.form-group .form-label-check label {
    font-size: 0.75rem;
    color: #555;
    padding-right: 3px;
}

.form-group .form-label-check input[type="checkbox"] {
    
    margin-top: 7px;
}

.form-group input[type=checkbox] {
    width: 1.1em;
    height: 1.1em;
}

.button-container {
    border-top: 1pt solid #ccc;
    margin-top: 0px;
    padding-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    clear: both;
}

.button-container button {
    margin: 0 10px 0 10px;
}

/*Form Control Validation - remove outline to be able to add curved borders */
.invalid.modified {
    border: 1.5pt solid red !important;
    border-radius: 5px !important;
    outline-width: 0px !important;
}

.valid.modified {
    border: 1.5pt solid green !important;
    border-radius: 5px !important;
    outline-width: 0px !important;
}

/*****************/
/*   Tables      */
/*****************/

.modal-body:focus{
    outline: none;
}

.modal-body table {
    margin: 20px 10px 20px 10px;
    background: #eee;
}

.modal-body table tr{
    padding: 10px 0 10px 0;
}

.modal-body table tr td{
    padding: 5px;
    color: #777;
    font-size: 0.75rem !important;
    /*each td will need a max-width: for ellipses to work*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.modal-body table tr td input[type="text"].read-only {
    width: 100%;
    border: 1pt dashed #fff;
    background-color: transparent;
    text-overflow: ellipsis;
}

.modal-body table tr td input[type="text"].read-only:focus {
    outline: none !important;
}

.modal-body table tr td textarea.read-only {
    width: 100%;
    border: 1pt dashed #fff;
    background-color: transparent;
}

.modal-body table.table-left-heading tr td:first-of-type{
    font-weight: bold;
    padding-right: 15px;
}

.modal-body table.table-top-header tr:first-of-type td{
    font-weight: bold;
}

.modal-body table thead tr {
    background: #FFF;
    border-bottom: 1pt solid #555;
}

.modal-body table tfoot tr {
    background: #FFF;
    border-top: 1pt solid #555;
    border-bottom: none;
}

/************************/
/*   Unique Modals      */
/************************/

.modal-chapter-chapter {
    width: 350px;
}

.modal-chapter-item {
    width: 350px;
}

.modal-chapter-doc, .modal-chapter-data {
    width: 550px;
}

.modal-chapter-doc .modal-body {
    height: 400px;
    overflow-y: scroll;
}

.modal-chapter-import .modal-body {
    max-height: 400px;
    max-width: 500px;
    min-width: 300px;
    overflow-y: auto;
}

.modal-chapter-fees {
    width: 500px;
    overflow: hidden;
}

#modal-edit-fees-list {
    width: 470px;
    height: 400px;
    overflow-y: scroll;
}

@media (max-width: 768px) {
    .modal-chapter-item, .modal-chapter-data, .modal-chapter-doc, .modal-chapter-fees, .modal-chapter-comparison {
        width: calc(100% - 20px);
    }

    .modal-chapter-doc .modal-body{
        height: 300px;
        overflow-y: scroll;
    }

    #modal-edit-fees-list {
        width: calc(100% - 10px);
        height: 300px;
        overflow-y: scroll;
    }
}

.modal-system-company {
    width: 450px;
}

.modal-system-worktypes {
    width: 350px;
}

.modal-system-worktypegrouping {
    width: 350px;
}

.modal-confirm{
    width: 350px;
}

.modal-chapter-JSON{
    width: 800px;
}
.modal-chapter-JSON textarea{
    width: 100%;
    height: 400px;
}

/*---------------------------------------*/
/*   EXPORT AND DATATABLES               */
/*---------------------------------------*/
.modal-chapter-export {
    width: 320px;
    height: 200px;
    overflow-y: hidden;
}

.hidden-data-tables {
    position: relative;
    left: -99999px;
    top: -99999px;
    height: 200px;
    width: 220px;
}



.modal-chapter-export .datatable-buttons {
    height: 50px;
    width: 100%;
    margin-top: 35px;

    text-align:center;
}


.modal-chapter-export .dt-buttons .dt-button {
    margin-left: 10px;
    margin-right: 10px;
    min-width: 60px;
}