
.nav {
    
}


.nav-link, .nav-item {
    cursor: pointer;
    white-space: nowrap;
}

.nav-tabs {
    margin: 0 0 40px 0;
    border-bottom: none;
}

.tran-tabs .nav-item {
    margin: 5px 0 0 5px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px !important;
}

.tran-tabs .nav-link {
    padding: 8px;
    font-size: 1rem;
    font-weight: normal;
    color: #CCC !important;
}

.back-link {
    font-size: 1.5rem;
    padding-right: 5px;
    cursor: pointer;
}



/*-----------------------------*/
/*  Top Navbar                 */
/*-----------------------------*/
.topbar .nav-link, .top-row .nav-link {
    font-size: 1.3em;
    margin-right: 0;
}

.topbar .btn-link {
    font-size: 1em;
    background-color: #000;
    height: 32px;
    padding: 2px 8px;
}

.topbar #user-login-dets {
    width: 145px;
}

.topbar #company-login-dets {
    width: 130px;
}

.topbar .nav-login-dets {
    margin-right: 20px;
}


.topbar .nav-dets-top {
}

.topbar .nav-dets-bottom {
    font-size: 0.7rem;
}

.topbar #btn-logout {
   
}

/*-----------------------------*/
/*  Side Navbar                */
/*-----------------------------*/


.sidebar {
    z-index: 99999;
    box-shadow: 0px 0 4px 4px rgba(0, 0, 0, 0.4);
    position: relative;
    background: #333 !important;
    border: none;
    min-width: 240px;
}

.sidebar .top-row {
    background-color: #000000;
    background-image: url(../images/GadJIT_logo_vsmall.jpg);
    background-repeat: no-repeat;
    background-position: center;
}


@media (max-width: 1199px) {
    .sidebar {
        position: fixed;
        top: 0;
        width: 100%;
    }
}

.sidebar .nav-item .nav-link {
    font-size: 0.9rem !important;
    color: #CCC !important;
}

.sidebar .nav-item .nav-link span, .sidebar .nav-item .nav-link svg {
    margin-right: 10px;
}

.sidebar .nav-item a.active {
    color: #000 !important;
    background-color: #666;
    font-weight: bold;
    
}

.sidebar .nav-item a.hover {
    border: 1pt solid;
}

.sidebar .logo {
    /*
    background-image: url("../images/GadJIT_logo2.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    */
    width: 100%;
    height: 310px;
    position: absolute;
    bottom: 0;
}

.sidebar .logo {
    /*            background-image: url("../images/GadJIT_logo2.jpg");
    background-repeat: no-repeat;
    background-position: center top;*/
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
}

@media (max-width: 1199px) {
    .sidebar .logo {
        display: none;
    }
}

/*-----------------------------*/
/*  Page Nav Menus             */
/*-----------------------------*/

.page-navbar {
    margin-bottom: 30px;
}

.page-navbar .navbar {
    height: 50px;
    border-radius: 2px !important;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.5) !important;
    padding: 0 5px 0 5px;
    margin: 0;
}

.page-navbar .navbar-nav{
    padding: 0;
    margin: 0;
    height: 100%;
}

.page-navbar .navbar li {
    height: 50px;
    border-left: 1pt solid #333;
    background-image: linear-gradient(to bottom, rgba(50,50,50,0), rgba(50,50,50,0.7));
    background-position-y: 25px;
    font-size: 1.1rem;
    margin: 0;
}

@media (max-width: 576px) {
    .page-navbar .navbar li {
        font-size: 0.9rem;
    }
}

.page-navbar .navbar-dark {
    background-color: #000 !important;
}

.page-navbar .navbar li.active {
    color: #fff !important;
}

.page-navbar .navbar li {
    color: #888 !important;
    display: block;
    width: 100%;
    height: 100%
}

.page-navbar .navbar span {
    padding: 12px 15px 0 15px;
    display: block;
}

.page-navbar .navbar li:hover {
    text-decoration: none;
    background-color: #444;
    transition-duration: 0.5s;
    transition-property: background-color;
}

.page-navbar .navbar li.active {
    color: #FFF !important;
}

.page-navbar .navbar li.last {
    border-right: 1pt solid #333;
}

.page-navbar .nav-pills, .page-navbar .nav-pills .nav-item {
    border-radius: 0px !important;
}

.page-navbar .nav-pills .nav-item {
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.5) !important;
    padding: 3px;
    color: #eee;
    min-width: 50px;
    text-align: center;
}

.page-navbar .nav-pills .nav-item:hover, .page-navbar .nav-pills .nav-item:hover span {
    background-color: #CCC;
    color: #000 !important;
}

.nav-pills .subtitle {
    font-size: 8pt;
}

.page-navbar .nav-pills .active {
    background-color: #000;
}

.tran-tabs .active {
    background-color: #000;
}

    .tran-tabs .active a, .tran-tabs .active a:hover {
        color: #FFF !important;
    }

/*-TRAN NAVBAR-*/


.tran-navbar {
    margin-bottom: 30px;
}

.tran-navbar .navbar {
    height: 50px;
}

.tran-navbar .navbar ul {
    display: flex;
}

.tran-navbar .navbar ul li {
    height: 50px;
    min-width: 100px;
    display: block;
}


.tran-navbar .navbar li.active {
    border-bottom: 1pt solid;
    color: #000 !important;
}

.tran-navbar .navbar li  {
    color: #555 !important;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
}

.tran-navbar .navbar span {
    padding-top: 11px;
    display: block;
    text-align: center;
}

.tran-navbar .navbar li:hover {
    text-decoration: none;
    background-color: rgba(220, 220, 220, 1);
    border-bottom: 1pt solid;
    transition-duration: 0.5s;
    transition-property: background-color, color;
}

.tran-navbar .navbar li.active:hover {
    border-bottom: none !important;
}

.navbar .subtitle {
    font-size: 8pt;
}

/*--------------------*/
/*   MOCK TREE NAV    */
/*--------------------*/

.nav-row-1 {
    margin-top: 20px;
    font-size: 1.2rem !important;
}


.nav-row-2 {
    margin-top: 5px;
    margin-left: 15px;
    font-size: 1rem !important;
}

.nav-row-3 {
    margin-top: 5px;
    margin-left: 30px;
    margin-right: 0px;
    font-size: 1rem !important;
}

.no-indent .nav-row-3 {
    margin-left: 15px;
}

@media (max-width: 576px) {
    .nav-row-3 {
        margin-left: 15px;
    }

}

.nav-row-1 .data-item, .nav-row-2 .data-item {
    background-color: rgba(0, 0, 0, 1);
    color: #FFF;
    margin: 0 !important;
    /*box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.5);*/
    border: none;
    padding: 0;
    border-radius: 2px;
}

.nav-row-2 .data-item {
    background-color: #333;
}


.nav-row-3 .data-item {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 2px;
}

.nav-row-3 .data-item-group {
    background-color: rgba(180, 180, 180, 0.9);
} 

.data-item-nav {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0;
    border-radius: 0px;
    border: none;
    cursor: pointer;
    color: #fff;
    margin: 0;
}


.nav-row-3 .data-item-nav {
    color: #000;
    border: 1pt solid;
    background-color: rgba(255, 255, 255, 1);
    border-color: #eee #ccc #ccc #eee;
}

.grid-nav .row-changed-nav3 .data-item, .grid-nav .row-changed-nav3xx .data-item {
    animation-name: rowChangednav3;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards; /* or: backwards, both, none */
}

.grid-nav .row-changed-nav3x .data-item {
    animation-name: rowChangednav3x;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards; /* or: backwards, both, none */
}

@keyframes rowChangednav3 {
    0% {
        background-color: rgba(255, 255, 255, 0.8);
        color: #000;
    }

    40% {
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;
    }

    100% {
        background-color: rgba(255, 255, 255, 0.8);
        color: #000;
    }
}

@keyframes rowChangednav3x {
    0% {
        background-color: rgba(255, 255, 255, 0.8);
        color: #000;
    }

    40% {
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;
    }

    100% {
        background-color: rgba(255, 255, 255, 0.8);
        color: #000;
    }
}

/*Groups*/
.grid-nav .row-changed-nav3 .data-item-group, .grid-nav .row-changed-nav3xx .data-item-group {
    animation-name: rowChangednav3Group;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards; /* or: backwards, both, none */
}

.grid-nav .row-changed-nav3x .data-item-group {
    animation-name: rowChangednav3xGroup;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards; /* or: backwards, both, none */
}

@keyframes rowChangednav3Group {
    0% {
        background-color: rgba(180, 180, 180, 0.8);
        color: #000;
    }

    40% {
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;
    }

    100% {
        background-color: rgba(180, 180, 180, 0.8);
        color: #000;
    }
}

@keyframes rowChangednav3xGroup {
    0% {
        background-color: rgba(180, 180, 180, 0.8);
        color: #000;
    }

    40% {
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;
    }

    100% {
        background-color: rgba(180, 180, 180, 0.8);
        color: #000;
    }
}

.not-link-item {
    cursor: default !important;
}

.link-item {
    cursor: pointer;
}

.link-direction {
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}

.data-item-nav:hover, .data-item-nav a:hover, .nav-row-3 .data-item-nav:hover {
    transition-duration: 0.2s;
    transition-property: background-color, color;
}

.data-item-nav:hover div[class*='triangle'], .data-item-nav:hover .link-direction {
    color: #fff !important;
}

.data-item a:hover .data-item-main, .data-item a:hover .data-item-alt {
    background-color: #000;
    color: #FFF;
    transition-duration: 1s;
    transition-property: background-color, color;
}

/*--------------------*/
/* DROP DOWN NAV */
/*--------------------*/





.btn-ellipses {
    width: 10px !important;
    margin: 0 10px 0 10px !important;
    height: 100%;
    font-size: 1.1rem;
    border: none !important;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-width: 0;
    flex-shrink: 0;
}





.grid-can-edit .btn-ellipses {
    color: #CCC;
}



.data-item-nav .btn-ellipses {
    color: #333;
}



.nav-row-3 .data-item .btn-ellipses {
    color: #999;
}



.data-item-nav:hover .btn-ellipses {
    color: #FFF;
}



.btn-ellipses .ellipsis-menu {
    position: absolute;
    display: block;
    width: 130px;
    top: 0;
    left: 10px;
    margin: 0;
    padding: 10px 3px 3px 3px;
    background-color: none;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.1s linear;
    transition: visibility 0.1s linear, opacity 0.1s linear;
}



.btn-ellipses:hover .ellipsis-menu {
    top: 20px;
    visibility: visible;
    opacity: 1;
    transition-property: opacity;
    transition-duration: 0.1s;
    transition-delay: 0.05s;
}



.btn-ellipses .ellipsis-menu-left {
    top: 8px;
    left: calc(100% - 120px) !important;
}



.btn-ellipses ul {
    width: 100%;
    margin: 0;
    padding: 5px;
    background-color: #fff;
    font-size: 0.9rem;
    color: #555;
    box-shadow: 0 5px 8px rgba(0,0,0,0.4);
    border-radius: 3px;
    display: block;
    padding: 0;
    opacity: 0;
}



.btn-ellipses:hover ul {
    padding: 5px;
    opacity: 1;
}



.btn-ellipses ul li {
    list-style-type: none;
    background: #fff;
    display: block;
    border-radius: 3px;
    color: #555;
    text-align: left;
    background: #fff;
    cursor: pointer;
    position: relative;
    padding: 0;
    height: 0;
}



.btn-ellipses:hover ul li {
    padding: 5px 5px 8px 7px;
    height: 35px;
}



.btn-ellipses .ellipsis-menu ul:first-of-type li {
    height: 0px;
}



.btn-ellipses:hover .ellipsis-menu ul:first-of-type li {
    height: 28px;
}




.btn-ellipses ul li span, .btn-ellipses ul li svg {
    height: 0;
    opacity: 0;
}



.btn-ellipses:hover ul li span, .btn-ellipses:hover ul li svg {
    height: 15px;
    opacity: 1;
}

.btn-ellipses ul li:hover {
    background-color: #ddd;
    color: #000;
}



.btn-ellipses ul li.col-main:not(:hover), .btn-ellipses ul li.col-red:not(:hover) {
    color: #000 !important;
}




.btn-ellipses .btn-dashed {
    cursor: pointer;
    border: 1pt dashed #999;
    padding-top: 3px;
    padding-bottom: 3px;
    width: 100%;
    min-width: 15px;
}



.btn-ellipses:hover .btn-dashed {
    cursor: pointer;
    border: 1pt dashed #fff;
}



.ellipsis-menu .menu-toggle {
    position: absolute;
    left: calc(100% - 10px);
    top: 8px;
}



.ellipsis-menu .menu-toggle {
    position: absolute;
    left: calc(100% - 10px);
    top: 8px;
    width: 35px;
}



    .ellipsis-menu .menu-toggle ul {
        margin-left: 15px;
        margin-top: -20px;
        width: 180px;
        visibility: hidden;
    }



    .ellipsis-menu .menu-toggle:hover ul {
        visibility: visible;
        color: blue !important;
    }



    .ellipsis-menu .menu-toggle ul li {
        height: 35px !important;
    }



    .ellipsis-menu .menu-toggle:hover ul li {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis !important;
    }




.btn-ellipses ul li.ellipsis-menu-divider {
    display: block;
    height: 1px !important;
    border-bottom: 1px #777 solid;
    margin: 0px !important;
    border-radius: 0px;
    cursor: default;
}



    .btn-ellipses ul li.ellipsis-menu-divider:hover {
        background-color: #fff;
        color: #000;
    }
/*-----------------------------*/
/*   DROP DOWN USER PROFILE    */
/*-----------------------------*/
.btn-uprofile {
    width: 20px !important;
    margin-left: auto;
    margin-right: 5px !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-left: 15px;
    padding-right: 15px;
    height: 100%;
    font-size: 1.3rem;
    border: none !important;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.btn-uprofile .nav-link{
    cursor: default;
    margin-top: 2px;
}

.btn-uprofile .uprofile-menu {
    position: absolute;
    display: block;
    width: 180px;
    top: 28px;
    left: 8px;
    margin: 0;
    padding: 10px 3px 3px 3px;
    background-color: none;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.1s linear;
    transition: visibility 0.1s linear, opacity 0.1s linear;
}

.btn-uprofile:hover .uprofile-menu {
    visibility: visible;
    opacity: 1;
    transition-property: visibility, opacity;
    transition-delay: 0.3s;
    transition-duration: 0.3s;
}

.btn-uprofile .uprofile-menu {
    top: 42px;
    left: calc(100% - 120px) !important;
}

.btn-uprofile ul {
    width: 100%;
    margin: 0;
    padding: 5px;
    background-color: #fff;
    font-size: 0.9rem;
    color: #555;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.4);
    border-radius: 0px;
    display: block;
}


.btn-uprofile ul li {
    list-style-type: none;
    background: #fff;
    padding: 5px 5px 5px 5px;
    display: block;
    border-radius: 3px;
    color: #555;
    text-align: center;
    background: #aaa;
    cursor: pointer;
}


.btn-uprofile ul li:first-of-type {
    background: #fff;
    height: 30px;
    font-weight: bold;
}

.btn-uprofile ul li:first-of-type:hover {
    background: #fff;
}

.btn-uprofile #btn-logout{
    margin: 15px 0 0 15px;
    width: 120px;
    border: none !important;
    box-shadow: 0 3px 5px rgba(0,0,0,0.4);
    font-size: 0.9rem;
    font-weight: normal;
    background-color: #333;
    color: #fff;
}

.btn-uprofile #btn-logout:hover {
    box-shadow: 0 5px 8px rgba(0,0,0,0);
    color: #ddd;

}