@page "/"

<div class="tran-block page-header-block">
    <h1>Welcome to GadJIT</h1>
    Custom tools and reports for Orchard Rock applications.
</div>

<div class="main-nav">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-8 col-lg-8 hidden-md-down">
                <div class="flex-column main-advert">
                    <div class="card">
                        <iframe src="https://player.vimeo.com/video/600217335?h=ab5097179c&badge=0&autopause=0&player_id=0&app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="width:100%;height:100%;" title="Smartflow in 4 Minutes"></iframe>


                    </div>
                    
                    
                </div>

            </div>
            <div class="col-xl-4 col-lg-4 hidden-md-down">
                <div class="flex-column advert-list">
                    <div class="card">
                        <a href="https://www.propertyfocus.co.uk" target="_blank">
                            <div class="card-header"><span class=""></span>Property Focus</div>
                            <div class="card-body">
                                <iframe allow="autoplay; fullscreen" allowfullscreen="" byline="false" frameborder="0" height="220" src="https://player.vimeo.com/video/359086097" title="false" width="480"></iframe>
                                
                            </div>
                            <div class="card-footer">
                                <p class="card-text">"Out of the box" Residential Workflow</p>
                            </div>
                        </a>
                    </div>

                    <div class="card">
                        <a href="https://www.orchardrock.co.uk/Products/P4WDebtCollection" target="_blank">
                            <div class="card-header"><span class=""></span>Debt Collection</div>
                            <div class="card-body card-body-reveal">
                                <img src="images/Misc/Debt_SS_Zoom.gif" loop=infinite />
                            </div>
                            <div class="card-footer">
                                <p class="card-text">Invoice Importer, Payment Management, Interest Calculations and much much more.</p>
                            </div>
                        </a>
                    </div>
                    <div class="card">
                        <a href="https://www.orchardrock.co.uk" target="_blank">
                            <div class="card-header"><span class=""></span>ORCA: Case Reporting</div>
                            <div class="card-body card-body-reveal">
                                <iframe src="https://player.vimeo.com/video/616803457?h=19e1b1a10a" width="480" height="220" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                            </div>
                            <div class="card-footer">
                                <p class="card-text">Orchard Rock Case Analysis (ORCA) is a light weight reporting application designed for case management.</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>