@using Gizmo_V1_02.Pages.Shared.Modals

@inject IJSRuntime jsRuntime

<AuthorizeView>
    <Authorized>

        <NavLink @onclick="() => setReturnURI()" class="nav-link" href="userprofile">
            <span class="fa fa-user-cog"></span>

        </NavLink>

        <NavLink @onclick='() => PrepareModalDelete("System Setting"
                                                ,"500px"
                                                ,"400px")' class="nav-link" data-toggle="modal" data-target="#modalSystemSelect">
            <span class="fa fa-cog"></span>
        </NavLink>

        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link">Log out</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a class="nav-link" href="Identity/Account/Register">Register</a>
        <a class="nav-link" href="Identity/Account/Login">Log in</a>
    </NotAuthorized>
</AuthorizeView>



<ModalSystemSelect currentUser="@userSession.User" InfoHeader="@ModalInfoHeader" ModalHeight="@ModalHeight" ModalWidth="@ModalWidth"></ModalSystemSelect>
