<AuthorizeView>
    <Authorized>
        <a class="nav-link" href="Identity/Account/Manage">Hello, @(string.IsNullOrWhiteSpace(userFullName) ? context.User.Identity.Name : userFullName)!</a>
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link">Log out</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a class="nav-link" href="Identity/Account/Register">Register</a>
        <a class="nav-link" href="Identity/Account/Login">Log in</a>
    </NotAuthorized>
</AuthorizeView>
